<template>
    <div class="row">
        <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :title="alertTitle" :message="alertMessage" :closeHandler="closeAlert"></alert>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h5 class="panel-title">Batches</h5>
                </div>
                <div class="panel-body" v-if="selectedProduct!==undefined">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Product Code</label>
                                <input type="text" class="form-control" :value="selectedProduct.productCode" disabled/>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Product Name</label>
                                <input type="text" class="form-control" :value="selectedProduct.productName" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div id="card">

                                    <table class="table table-striped table-bordered table-hover dataTable">
                                        <thead>
                                        <tr>
                                            <th>Batch Number</th>
                                            <th>Description</th>
                                            <th>Expiry Date</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="batch in batchListFiltered" :key="batch.id">
                                            <td data-label="Batch Number">{{batch.name}}</td>
                                            <td data-label="Batch Number">{{batch.description}}</td>
                                            <td data-label="Expiry Date">{{batch.expiryDate | formatDate }}</td>
                                            <td>
                                                <button class="btn btn-xs btn-default" @click="editBatch(batch, $event)">
                                                    <i class="fa fa-edit"></i> Edit
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                    <productBatchInlineForm :alertErrorHandler="alertError" :alertInfoHandler="alertInfo"
                                                            :selectedProduct="selectedProduct" :productBatch="productBatch"
                                                            :refreshBatchListHandler="reloadProductBatches"></productBatchInlineForm>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    <select v-model="productBatchPageSize" class="form-control">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>records per page</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <small>Showing page {{productBatchPageNumber}} of {{productBatchTotalNumberOfPages}}</small>
                        </div>
                        <div class="col-md-6">
                            <paginate
                                    :page-count="productBatchTotalNumberOfPages"
                                    :click-handler="setProductBatchPage"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'">
                            </paginate>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import ProductBatchMixin from '../../../mixins/ProductBatch'
    import productBatchInlineForm from './product-batch-inline'
    import AlertMixin from '../../../mixins/AlertMixin'
    import ProductBatchPaginator from '../../../mixins/ProductBatchPaginator'
    import Paginate from 'vuejs-paginate'
    var context = {}
    export default {
        props:{
            product:{
                type: Object
            }
        },
        mixins: [ProductBatchMixin, AlertMixin, ProductBatchPaginator],
        data(){
            return {
                selectedProduct: undefined,
                batchList: [],
                productBatch: undefined
            }
        },
        components:{
            productBatchInlineForm, 'paginate': Paginate
        },
        beforeMount(){
            context = this
        },
        watch:{
            product: function(value){
                context.selectedProduct = value
                context.getProductBatchesByProductCode(context.selectedProduct.productCode)
            }
        },
        methods:{
            editBatch(batch, event){
                event.preventDefault()
                context.productBatch = batch
                context.batchList.splice(context.batchList.indexOf(batch), 1)
            },
            reloadProductBatches(){
                context.getProductBatchesByProductCode(context.selectedProduct.productCode)
            }
        }
    }
</script>

<style scoped>

</style>
