<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Manage product batches
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="programs">Select Program</label>
                                                <select name="programs" v-model="currentProgram" id="programs" class="form-control">
                                                    <option v-for="program in programs" v-bind:key="program.id" :value="program">{{program.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 col-md-5">
                        <!-- start of product table -->
                        <products-table :loadNodeProductsOnly="false" :selectionHandler="productSelected" :programArea="currentProgram.code"></products-table>
                        <!-- end of product table -->
                    </div>
                    <div class="col-sm-7 col-md-7">
                        <create :product="currentProduct"></create>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import create from './create'
    import ProgramsMixin from '../../../mixins/Programs'
    var context = {}
    export default {
        data(){
            return {
                currentProgram: {},
                programs: [],
                currentProduct: {}
            }
        },
        beforeMount(){
            context = this
            context.loadPrograms()
        },
        mixins: [ProgramsMixin],
        components: {
            create
        },
        methods:{
            productSelected: function(product){
                context.currentProduct = product
            }
        }
    }
</script>

<style scoped>

</style>
