<template>
    <div class="well">
        <form action="">
            <table class="table table-striped table-bordered table-hover dataTable">
                <tbody>

                <tr>
                    <td>
                        <input v-validate="'required'"
                               :class="['form-control input-sm chat-input input',{'is-danger': errors.first('batchNumber')}]"
                               type="text" v-model="name" name="batchNumber" class="form-control"
                               placeholder="Enter Batch Number"/>
                        <span v-show="errors.has('batchNumber')" class="help is-danger">
                                                    {{ errors.first('batchNumber') }}</span>
                    </td>
                    <td>
                        <input type="text" v-model="description" class="form-control" placeholder="Enter Description"/>
                    </td>
                    <td>
                        <datepicker v-validate="'required|date_format:YYYY-MM-DD'"
                                    :class="['input',{'is-danger': errors.first('expiryDate')}]"
                                    name="expiryDate"
                                    v-model="expiryDateInput" :format="dateFormat"
                                    :placeholder="'Enter Expiry Date'"
                                    :maxDate='maxDate'></datepicker>
                        <br>
                        <span v-show="errors.has('expiryDate')" class="help is-danger">{{ errors.first('expiryDate') }}</span>
                    </td>
                    <td>
                        <button class="btn btn-xs btn-primary" @click="saveProductBatch($event)" v-if="productBatchId === undefined">
                            <i class="fa fa-plus-circle"></i> Create Batch
                        </button>
                        <button class="btn btn-xs btn-success" @click="updateProductBatch($event)" v-if="productBatchId !== undefined">
                            <i class="fa fa-check-circle"></i> Update
                        </button>
                        <button class="btn btn-xs btn-danger" @click="resetProductBatch($event)" v-if="productBatchId !== undefined">
                            <i class="fa fa-close"></i> Cancel
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>


</template>

<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
    var context = {}
    export default {
        props:{
            productBatch: {
                type: Object,
                default: undefined
            },
            selectedProduct: {
                type: Object,
                default: undefined
            },
            refreshBatchListHandler:{
                type: Function
            },
            alertInfoHandler: {
                type: Function
            },
            alertErrorHandler: {
                type: Function
            }
        },
        data(){
            return {
                batch : undefined,
                dateFormat: 'yyyy-MM-dd',
                productBatchId: undefined,
                name: '',
                description: '',
                expiryDateInput: '',
                expiryDate: '',
                batchStandardId: '',
                maxDate: new Date(9999,11,31)
            }
        },
        components:{
        },
        beforeMount(){
            context = this
        },
        watch:{
            productBatch: function(batch){
                context.batch = batch
                context.productBatchId = batch.id
                context.name = batch.name
                context.description = batch.description
                context.expiryDateInput = context.toISODateFormat(new Date(batch.expiryDate)),
                    context.expiryDate =  batch.expiryDate
                context.batchStandardId = batch.batchStandardId
            },
            selectedProduct: function(value){
                context.$validator.reset()
            }
        },
        methods:{
            getEditingProductBatch(){
                return {
                    id:context.productBatchId,
                    name: context.name,
                    description: context.description,
                    expiryDateInput: context.expiryDateInput,
                    expiryDate: (context.expiryDateInput ? context.parseDate(context.expiryDateInput, 'YYYY-MM-DD') : null),
                    batchStandardId: context.batchStandardId,
                    productId: context.selectedProduct.productId
                }
            },
            resetProductBatch(event){
                if(event!==undefined){
                    event.preventDefault()
                }
                context.productBatchId = undefined
                context.name =''
                context.description = ''
                context.expiryDateInput= ''
                context.expiryDate =  ''
                context.batchStandardId = ''
                context.$validator.reset()
                context.refreshBatchListHandler()
            },
            saveProductBatch(event){
                event.preventDefault()
                context.$validator.validateAll().then(function(result) {
                    if (result) {
                        var currentBatch = context.getEditingProductBatch()
                        getHttpAuthenticatedWithLoadingFlag()
                            .post("/rest-api/product-batch/save", currentBatch)
                            .then(function (response) {
                                context.alertInfoHandler("Product batch saved successfully!")
                                context.resetProductBatch()
                                context.refreshBatchListHandler()
                            })
                            .catch(function (error) {
                                context.alertErrorHandler("An Error has occurred while trying to save batch!")
                                console.log(error)
                            })
                    }
                })

            },
            updateProductBatch(event){
                event.preventDefault()
                context.$validator.validateAll().then(function(result) {
                    if (result) {
                        var currentBatch = context.getEditingProductBatch()
                        getHttpAuthenticatedWithLoadingFlag()
                            .post("/rest-api/product-batch/update", currentBatch)
                            .then(function (response) {
                                context.alertInfoHandler("Product batch updated successfully!")
                                context.resetProductBatch()
                                context.refreshBatchListHandler()
                            })
                            .catch(function (error) {
                                context.alertErrorHandler("An Error has occurred while trying to save batch!")
                                console.log(error)
                            })
                    }
                })

            }
        }
    }
</script>

<style scoped>

</style>
