<template>
    <div class="row">
        <modal v-model="success" @ok="closeHandler()" effect="fade" :backdrop="backdrop">
            <div slot="modal-header" class="modal-header modal-header-info">
                <h4 class="modal-title">
                    <b>{{title}}</b>
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <p>{{message}}</p>
            </div>
            <!-- custom buttons -->
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-success" @click="closeHandler()">Ok</button>
            </div>
        </modal>

        <modal v-model="error" @ok="closeHandler()" effect="fade" :backdrop="backdrop">
            <div slot="modal-header" class="modal-header modal-header-danger">
                <h4 class="modal-title">
                    <b>{{title}}</b>
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <p>{{message}}</p>
            </div>
            <!-- custom buttons -->
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-danger" @click="closeHandler()">Ok</button>
            </div>
        </modal>
        <modal v-model="confirm" effect="fade" :backdrop="backdrop">
            <div slot="modal-header" class="modal-header">
                <h4 class="modal-title">
                    <b><i class="fa fa-exclamation-circle"></i> {{title}}</b>
                </h4>
            </div>
            <div slot="modal-body" class="modal-body">
                <p>{{message}}</p>
            </div>
            <!-- custom buttons -->
            <div slot="modal-footer" class="modal-footer">
                <button type="button" class="btn btn-sm btn-success" @click="okConfirmHandler()"><i class="fa fa-check-circle"></i> Yes</button>
                <button type="button" class="btn btn-sm btn-danger" @click="closeHandler()"><i class="fa fa-close"></i> No</button>
            </div>
        </modal>
    </div>
</template>
<script>
    import modal from 'vue-strap/src/Modal'
    var context={}
    export default{
        props:{
            closeHandler:{
              type:Function
            },
            showSuccessAlert:{
                type: Boolean,
                default: false
            },
            showErrorAlert:{
                type: Boolean,
                default: false
            },
            showConfirmAlert:{
                type: Boolean,
                default: false
            },
            title:{
                type: String,
                default: 'Title'
            },
            message:{
                type: String,
                default: 'Message'
            },
            okConfirmHandler:{
                type: Function
            }
        },
        data(){
            return {
                success: false,
                error: false,
                confirm: false,
                backdrop: false
            }
        },
        beforeMount(){
            context = this
        },
        components:{
            'modal': modal,
        },
        watch:{
            showSuccessAlert: function(value){
                context.success = value
            },
            showErrorAlert: function(value){
                context.error = value
            },
            showConfirmAlert: function(value){
                context.confirm = value
            }
        }
    }
</script>
<style>
    .modal{
        z-index: 9999 !important;
    }
    .modal-content{
        border-radius: 6px !important;
    }
</style>
