<template>
    <div class="pull-right" style="padding: 14px 0px 14px 14px; line-height: 24px;">
        <select v-model="lang" name="lang" id="lang" v-on:change="changeLang()">
            <option v-for="locale in locales" :value="locale"> {{ $t("message.locale_" + locale) }} </option>
        </select>
    </div>
</template>
<script>
    import {createHttpWithHeaders} from '../../assets/js/http_common'
    var httpInstance = createHttpWithHeaders({})

    var context = {}
    export default{

        data(){
            return {
                locales: [],
                lang: this.$store.state.persistedState.lang
            }
        },
        beforeMount(){
            context = this
            context.loadLocales()
        },
        methods:{
            loadLocales: function(){
                httpInstance.get('/locales').then(function(response){
                    context.locales = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            changeLang: function(){
                var newLocale = {
                    localeCode: context.lang
                }
                httpInstance.post('/changeLocale', newLocale).then(function(response){
                }).catch(function(error){
                    console.log(error)
                })
                context.$store.dispatch('setLang', context.lang)
                context.$i18n.locale = context.lang// can binding be used to avoid explicitly setting the value???
            }
        }


    }
</script>
