<template>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Select Product</h4>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label>Filter Products</label>
                                <input v-model="search" class="form-control" placeholder="Search products">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-12">
                                <div id="card">
                                    <table class="table table-responsive table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th v-for="column in columns2" :key="column.key">
                                            <a href="#" v-on:click="sortBy(column, $event)" v-bind:class="sortKey == column">
                                                {{ column | capitalize }}
                                                <i :class="getSortIcon(column)"></i>
                                            </a>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="product in filteredProductList" :key="product.programproductid" v-on:click="selectionHandler(product)" class="selectable-row">
                                        <td data-label="Product Code">{{product.productCode}}</td>
                                        <td data-label="Product Name">{{product.productName}}</td>
                                        <td data-label="Strength">{{product.generalStrength}}</td>
                                        <td data-label="Pack Size">{{product.packSize}}</td>
                                        <td data-label="Dispensing Unit">{{product.dispensingUnit}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    <select v-model="pageSize" class="form-control">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>records per page</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
                        </div>

                        <div class="col-md-6">
                            <paginate
                                    :page-count="totalNumberOfPages"
                                    :click-handler="setPage"
                                    :prev-text="'Prev'"
                                    :next-text="'Next'"
                                    :container-class="'pagination'">
                            </paginate>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Paginate from 'vuejs-paginate'
    import FacilityApprovedProducts from '../../mixins/FacilityApprovedProducts'
    import ProductsTableMixin from '../../mixins/ProductsTable'
    import NodeProducts from '../../mixins/NodeProducts'
    import {getHttpAuthenticatedWithCallBack} from '../../assets/js/http_with_token'

    var context = {}

    export default{
        props: {
            selectionHandler:{
                type: Function,
                default: function(){}
            },
            programArea:{
                type: String,
                default: ''
            },
            loadNodeProductsOnly:{
                type: Boolean,
                default: false
            }
        },
        mixins:[
            FacilityApprovedProducts, ProductsTableMixin,  NodeProducts
        ],
        components:{
            'paginate': Paginate
        },
        computed: {
            selectedProgram: function(){
                return context.programArea
            }
        },
        watch: {
            programArea: function(value){
                if(context.loadNodeProductsOnly) {
                    context.loadNodeProducts(context.$store.state.persistedState.node.id,
                        context.selectedProgram)
                }else{
                    context.loadFacilityApprovedNodeProducts(context.$store.state.persistedState.node.id,
                        context.selectedProgram)
                }
            }
        },
        beforeMount(){
            context = this
            if(context.loadNodeProductsOnly){
                context.loadNodeProducts(context.$store.state.persistedState.node.id,
                    context.selectedProgram)
            }else{
                context.loadFacilityApprovedNodeProducts(context.$store.state.persistedState.node.id,
                    context.selectedProgram)
            }
        }
    }
</script>
