<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="container">
            <adjustmentModal @hook:beforeMount="loadAdjustmentTypes" :adjustmentTypeList="adjustmentTypeList" :productAdjustments="productAdjustments"
                              :selectedLineItem="product"
                              :saveAdjustmentHandler="saveAdjustment" :showChangeAdjustmentModal="showChangeAdjustmentModal"
                              :expectedAdjustedQty="expectedAdjustedQty"
                              :closedHandler="changeAdjustmentModalClosed"
                              :title="'Product Adjustments'"
                             :alertErrorHandler="alertErrorHandler" :alertInfoHandler="alertInfoHandler"></adjustmentModal>
            <accordion type="primary">
                <panel is-open type="primary">
                    <strong slot="header"><u>Product Batch Quantities</u></strong>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2">
                                        <div class="form-group">
                                            <label>Product code</label>
                                            <input type="text" :value="product.productCode" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-10">
                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <input type="text" :value="product.productName" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div id="card">
                                            <table class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                            <tr>
                                                <th>Batch Number</th>
                                                <th>Expiry Date</th>
                                                <th v-if="showProductBalances">Balance</th>
                                                <th v-if="showProductBalanceInTabsOrMils">Balance(tabs/mls)</th>
                                                <th style="text-align: right">Quantity <span v-if="showProductBalanceInTabsOrMils">(tabs/mls)</span></th>
                                                <th>Remark</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="batch in batchListFilteredForTxns" :key="batch.batchNumber">
                                                <td data-label="Batch Number">{{batch.batchNumber}}</td>
                                                <td data-label="Expiry Date">{{batch.expiryDate | formatDate }}</td>
                                                <td data-label="Usable Balance" v-if="showProductBalances">{{batch.usableBalance}}</td>
                                                <td data-label="Usable Balance" v-if="showProductBalanceInTabsOrMils">{{batch.usableBalance * product.packSize}}</td>
                                                <td data-label="Quantity">
                                                    <input type="text" class="form-control" style="text-align:right" placeholder="0.0" v-model="batch.quantity" @change="validateQuantity($event, batch)">
                                                    <!--{{batch.balance}}-->
                                                </td>
                                                <td data-label="Remark"><input type="text" class="form-control" placeholder="Remark here..." v-model="batch.remark"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                            <ProductBatchInlineForm v-if="showBatchEntryForm"
                                                                    :alertErrorHandler="alertErrorHandler" :alertInfoHandler="alertInfoHandler"
                                                                    :selectedProduct="selectedProduct" :productBatch="undefined"
                                                                    :refreshBatchListHandler="reloadProductBatches"></ProductBatchInlineForm>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>
                                                <select v-model="productBatchPageSize" class="form-control">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>records per page</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <small>Showing page {{productBatchPageNumber}} of {{productBatchTotalNumberOfPages}}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <paginate
                                                :page-count="productBatchTotalNumberOfPages"
                                                :click-handler="setProductBatchPage"
                                                :prev-text="'Prev'"
                                                :next-text="'Next'"
                                                :container-class="'pagination'">
                                        </paginate>
                                    </div>
                                </div>
                                <div class="row" v-if="product.productName">
                                    <div class="col-md-2">
                                        <button class="btn btn-xs btn-success"  v-on:click="addTransactionProduct($event)"><i class="fa fa-plus-circle"></i> Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </panel>
                <panel is-open header="Transaction Batch Quantities" :class="{hide: hideTransactionProducts}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>Filter Products</label>
                                            <input v-model="search" class="form-control" placeholder="Search products">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div id="card">
                                            <table class="table table-striped table-bordered table-hover dataTable">
                                                <thead>
                                                <tr>
                                                    <th v-for="column in columns" :key="column.key">
                                                        <a href="#" v-on:click="sortBy(column, $event)" v-bind:class="sortKey == column">
                                                            {{ column | capitalize }}
                                                            <i :class="getSortIcon(column)"></i>
                                                        </a>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr v-for="transactionProduct in filteredTransactionProducts" :key="transactionProduct.batchNumber">
                                                    <td data-label="Product Code" :rowspan="getCountOfBatches(transactionProduct, filteredTransactionProducts)"
                                                        v-if="showCell(transactionProduct, filteredTransactionProducts)">
                                                        {{transactionProduct.productCode}}</td>
                                                    <td data-label="Product Name" :rowspan="getCountOfBatches(transactionProduct, filteredTransactionProducts)"
                                                        v-if="showCell(transactionProduct, filteredTransactionProducts)">
                                                        {{transactionProduct.productName}}</td>
                                                    <td data-label="Batch Number">
                                                        {{transactionProduct.batchNumber}}
                                                    </td>
                                                    <td data-label="Quantity">{{transactionProduct.quantity}}</td>
                                                    <td data-label="Remark">{{transactionProduct.remark}}</td>
                                                    <td>
                                                        <button class="btn btn-xs btn-default" v-on:click="editItem(transactionProduct)"><i class="fa fa-edit"></i> Edit</button>
                                                        <button class="btn btn-xs btn-default" v-on:click="deleteItem(transactionProduct)"><i class="fa fa-trash"></i> Delete</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>
                                                <select v-model="pageSize" class="form-control">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>records per page</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <paginate
                                                :page-count="totalNumberOfPages"
                                                :click-handler="setPage"
                                                :prev-text="'Prev'"
                                                :next-text="'Next'"
                                                :container-class="'pagination'">
                                        </paginate>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <button class="btn btn-success" v-on:click='transactionHandler(getTxnProgProdBatch())'>
                                                <i class="fa fa-save"></i> {{ primaryButtonCaption }}</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </panel>
            </accordion>
        </div>

    </div>
</template>
<script>
    import modal from 'vue-strap/src/Modal'
    import accordion from 'vue-strap/src/Accordion'
    import panel from 'vue-strap/src/Panel'
    import Paginate from 'vuejs-paginate'
    import {getHttpAuthenticated} from '../../assets/js/http_with_token'
    import ProductBatchMixin from '../../mixins/ProductBatch'
    import ProductBatchPaginator from '../../mixins/ProductBatchPaginator'
    import AdjustmentTypeMixin from '../../mixins/AdjustmentType'
    import adjustmentModal from '../../components/report/offline-RnR/change-adjustment.vue'
    import TxnQuantityValidator from '../../mixins/TxnQuantityValidator'
    import ProductBatchInlineForm from '../../components/admin/product-batch/product-batch-inline'

    var context = {}
    export default{
        props:{
            transactionHandler:{
                type: Function,
                default: function(){}
            },
            selectedProduct:{
                type: Object
            },
            primaryButtonCaption:{
                type: String,
                default: 'Save'
            },
            showProductBalances:{
                type: Boolean,
                default: false
            },
            showAdustmentType:{
                type: Boolean,
                default: false
            },
            transactionType:{
                type: String
            },
            txnProducts:{
                type: Array,
                default: () => {
                    return []
                }
            },
            hideTransactionProducts:{
                type:Boolean,
                default :false
            },
            showProductBalanceInTabsOrMils:{
                type: Boolean,
                default: false
            },
            alertInfoHandler: {
                type: Function
            },
            alertErrorHandler: {
                type: Function
            }
        },
        data(){
            return {
                product: this.selectedProduct,
                sortKey: 'productCode',
                reverse: false,
                columns: [{'key': 'productCode', 'value': 'Product Code'},
                    {'key': 'productName', 'value': 'Product Name'},
                    {'key': 'batchNumber', 'value': 'Batch Number'},
                    {'key': 'quantity', 'value': 'Quantity'},
                    {'key': 'remark', 'value': 'Remark'}],
                batchList:[],
                search: '',
                pageNumber: 1,
                totalNumberOfPages: 0,
                pageSize: 10,
                batchNumber:'',
                quantity:'',
                expiryDate:'',
                remark:'',
                transactionProducts: [],
                transactionProductsToEdit: [],
                transactionProductToDelete: {},
                showBatchPanel : this.$store.state.persistedState.showBatchPanel,
                unitOfMeasures: ['bottles', 'tablets', 'mils'],
                showChangeAdjustmentModal: false,
                adjustmentTypeList: [],
                productAdjustments: [],
                expectedAdjustedQty: 0,
                adjustmentsMap: new Map(),
                currentBatchLineItem: undefined
            }
        },
        mixins:[
           ProductBatchMixin, AdjustmentTypeMixin, TxnQuantityValidator, ProductBatchPaginator
        ],
        components:{
            'paginate': Paginate,
            'accordion': accordion,
            'panel': panel,
            'adjustmentModal': adjustmentModal,
            ProductBatchInlineForm
        },
        beforeMount(){
            context = this
        },
        watch: {
            selectedProduct: function(product){
                context.product = product
            },
            product: function(prd){
                context.getProductBatchesByProductCode(prd.productCode)
            },
            txnProducts: function(value){
                context.transactionProducts = value
            }
        },
        computed:{
            showBatchEntryForm(){
                console.log("show batch entry form ? " + !context.isEmpty(context.product) && context.transactionType === 'RECEIVING' && context.$store.state.persistedState.userNodeRoleRights.includes('MANAGE PRODUCT BATCHES'))
                return !context.isEmpty(context.product) && context.transactionType === 'RECEIVING' && context.$store.state.persistedState.userNodeRoleRights.includes('MANAGE PRODUCT BATCHES')
            },
            filteredTransactionProducts(){
                var filteredList = context.transactionProducts.filter(function(txnProduct){
                    var searchKey = context.search.toLowerCase()
                    var productCode = txnProduct.product.productCode.toLowerCase()
                    var productName = txnProduct.product.productName.toLowerCase()
//                    var batchNumber = txnProduct.batchNumber.toLowerCase()
//                    var remark = txnProduct.remark.toLowerCase()

                    return ((productCode.indexOf(searchKey) !== -1)
                            || (productName.indexOf(searchKey) !== -1))
//                            || (batchNumber.indexOf(searchKey) !== -1)
//                            || (remark.indexOf(searchKey) !== -1))
                })

                var pages = filteredList.length / context.pageSize
                context.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)

                var type = context.reverse ? 'desc' : 'asc'
                var orderBy = type.toUpperCase()
                var column = context.sortKey['key']
                if (!column) {
                    column = 'productCode'
                }
                if (['ASC', 'DESC'].indexOf(orderBy) === -1) {
                    console.error(type, 'Not valid, please use ASC or DESC')
                    return
                }
                if (!this.reverse) {
                    filteredList.sort((a, b) => { return (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0) })
                } else {
                    filteredList.sort((a, b) => { return (a[column] > b[column]) ? -1 : ((b[column] > a[column]) ? 1 : 0) })
                }

                var pageSize = parseInt(context.pageSize)
                var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
                if (pageNumber > context.totalNumberOfPages) {
                    pageNumber = context.totalNumberOfPages
                }
                var startingIndex = (pageNumber - 1) * pageSize
                var endingIndex = startingIndex + pageSize
                var paginatedFilteredList = filteredList.slice(startingIndex, endingIndex)
                return paginatedFilteredList
            }
        },
        filters: {
            capitalize: function (columnObj) {
                return columnObj['value']
            }
        },
        methods:{
            reloadProductBatches(){
                context.getProductBatchesByProductCode(context.product.productCode)
            },
            sortBy: function (newSortKey, event) {
                event.preventDefault()
                console.log(newSortKey)
                context.reverse = (context.sortKey === newSortKey) ? !context.reverse : false
                context.sortKey = newSortKey
            },
            getSortIcon: function(column){
                if(column == context.sortKey){
                    if(context.reverse){
                        return 'fa fa-sort-desc'
                    }else{
                        return 'fa fa-sort-asc'
                    }
                }else{
                    return 'fa fa-sort'
                }
            },
            setPage: function (pageNumber) {
                context.pageNumber = pageNumber
            },
            getCountOfBatches(transactionProduct, filteredList){

                var parentList = context.transactionProducts
                var productCode = transactionProduct.productCode
                var count = parseInt(0)

                if(filteredList !== null){
                    for(var i = 0; i < filteredList.length; i++){
                        if(filteredList[i].productCode === productCode){
                            count += 1
                        }
                    }
                }else{
                    for(var i = 0; i < parentList.length; i++){
                        if(parentList[i].productCode === productCode){
                            count += 1
                        }
                    }
                }

                return count
            },
            showCell(transactionProduct, parentList){

                var filteredList = parentList.filter(function(txnPrd){
                    return txnPrd.productCode === transactionProduct.productCode
                })

                if(parseInt(context.getCountOfBatches(transactionProduct, null)) > 1){
                    return parseInt(filteredList.indexOf(transactionProduct)) === 0
                }else{
                    return true
                }

            },
            addTransactionProduct(){
                if(context.product){
                    var batchLineItem
                    var txnSuccessful = false


                    if(context.transactionType === 'PHYSICAL_COUNT')
                    {

                        var pendingPCBatches = []

                        pendingPCBatches = context.productBatchList.filter(function (productBatch) {

                            var pcForProductBatch = context.transactionProducts.find(txnProduct=>{
                                return txnProduct.batchNumber === productBatch.batchNumber
                            })

                            if(pcForProductBatch === undefined){
                                return productBatch.quantity === undefined || productBatch.quantity === ""
                            }
                            return false
                        })

                        if(pendingPCBatches.length > 0){
                            context.alertErrorHandler("Please enter physical count for all batches to continue")
                            return
                        }
                    }


                    for(var i = 0; i < context.productBatchList.length; i++){
                        batchLineItem = context.productBatchList[i]
                        //console.log("Is this item valid ? " + (batchLineItem.hasErrors !==undefined && !batchLineItem.hasErrors))
                        //TODO: validate transaction quantity against balance
                        if(!batchLineItem.hasErrors){
                            if(batchLineItem.quantity > 0 || (batchLineItem.quantity >= 0 && context.transactionType === 'PHYSICAL_COUNT')){
                                var matchingProductBatch = context.transactionProducts.find(function(txnPrd){
                                    return txnPrd.productCode === context.selectedProduct.productCode
                                        && txnPrd.batchNumber === batchLineItem.batchNumber
                                })


                                if(matchingProductBatch!==undefined){
                                    if(context.transactionType !== 'PHYSICAL_COUNT') {//if match found update the quantity
                                        matchingProductBatch.quantity += parseFloat(batchLineItem.quantity)
                                        matchingProductBatch.remark = batchLineItem.remark
                                    }else{
                                        context.alertErrorHandler("Physical count already entered for this batch : " + batchLineItem.batchNumber)
                                    }
                                }else{
                                    context.transactionProducts.push({
                                        product: context.product,
                                        productCode: context.product.productCode,//TODO: for ease of sorting, is there a better way??
                                        productName: context.product.productName,//TODO: for ease of sorting, is there a better way??
                                        programProductBatchId: batchLineItem.id,
                                        batchNumber: batchLineItem.batchNumber,
                                        expiryDate: batchLineItem.expiryDate,
                                        quantity: parseFloat(batchLineItem.quantity),
                                        quantityInBottles: parseFloat(batchLineItem.quantity/context.product.packSize).toFixed(2),
                                        remark: batchLineItem.remark ? batchLineItem.remark : '',
                                        selected: true,
                                        productBatches: [batchLineItem],
                                        selected: true,
                                        usableBalance: batchLineItem.usableBalance,
                                        programProductId: context.product.programproductid,
                                        noOfDays: 0
                                    })
                                }

                                batchLineItem.quantity = ''
                                batchLineItem.remark = ''

                                txnSuccessful = true
                            }
                        }else{
                            context.alertErrorHandler("There is an error in the quantities you have entered")
                            return
                        }
                    }
                    if(txnSuccessful){
                        context.transactionProductsToEdit=[]
                    }

                }
            },
            deleteItem(txnProduct){
                var r = confirm("Are you sure you want to delete this record?")
                if (r == true) {
                    context.transactionProducts.splice(context.transactionProducts.indexOf(txnProduct), 1)
                }
            },
            editItem(txnProduct){

                //console.log("editing batch " + txnProduct.batchNumber)
                context.transactionProductsToEdit.push(txnProduct)
                context.transactionProducts.splice(context.transactionProducts.indexOf(txnProduct), 1)
                context.product = txnProduct.product

            },
            getTxnProgProdBatch(){


                if(context.transactionType === 'PHYSICAL_COUNT')
                {
                    var pendingPCBatches = []

                    pendingPCBatches = context.productBatchList.filter(function (productBatch) {

                        var pcForProductBatch = context.transactionProducts.find(txnProduct=>{
                            return txnProduct.batchNumber === productBatch.batchNumber
                        })

                        if(pcForProductBatch === undefined){
                            return productBatch.quantity === undefined || productBatch.quantity === ""
                        }
                        return false
                    })

                    if(pendingPCBatches.length > 0){
                        context.alertErrorHandler("Please enter physical count for all batches to continue")
                        return
                    }
                }
                var txnProducts = context.transactionProducts
                var txnProgProdBatches = []
                var txnProgProdBatch = {}
                var txnProd = {}

                for(var i=0; i < txnProducts.length; i++){
                    txnProd = txnProducts[i]

                    // context.printJSON(txnProd)

                    txnProgProdBatch = {
                        programProductBatchId: txnProd.programProductBatchId,
                        quantity: txnProd.quantity,
                        remark: txnProd.remark,
                        adjustments: context.adjustmentsMap.get(txnProd.batchNumber)
                    }

                    var matchingProducts = txnProgProdBatches.filter(function(tp){
                        return tp.programProductId === txnProd.product.programproductid
                    })

                    if(matchingProducts.length > 0){
                        matchingProducts[0].batchQuantities.push(txnProgProdBatch)
                    }else {
                        txnProgProdBatches.push({
                            programProductId: txnProd.programProductId,
                            batchQuantities: [txnProgProdBatch]
                        })
                    }
                }

                return txnProgProdBatches
            },
            loadAdjustmentTypes(){
                context.loadAllAdjustemntTypes()
            },
            changeAdjustmentModalClosed(){
                context.showChangeAdjustmentModal = false
                context.currentBatchLineItem.hasErrors = false
                context.currentBatchLineItem.quantity = ''
            },
            saveAdjustment(productAdjustmentList){
                // context.printJSON(productAdjustmentList)
                const sumReducer = function (accumulator, adjustment) {
                    var sum = parseFloat(accumulator) + (adjustment.additive ? parseFloat(adjustment.quantity) : parseFloat(-1 * adjustment.quantity) )
                    return sum
                }
                var netAdjustedQty = productAdjustmentList.reduce(sumReducer, 0)
                if(netAdjustedQty !== context.expectedAdjustedQty){
                    alert("Net Adjusted quantity entered "+ netAdjustedQty + " is different from the expected adjusted quantity " + context.expectedAdjustedQty)
                    return
                }
                var transferAdjustments = productAdjustmentList.filter(function (prodAdjustment) {
                    return prodAdjustment.lossesAndAdjustmentType === 'TRANSFER_IN'
                        || prodAdjustment.lossesAndAdjustmentType === 'TRANSFER_OUT'
                })
                //console.log("Transfer adjustments")
                context.printJSON(transferAdjustments)

                if(transferAdjustments!==undefined && transferAdjustments.length > 0){
                    var facilityNotSelected = false
                    transferAdjustments.forEach(function (transferAdj) {
                        if(transferAdj.facility===undefined){
                            facilityNotSelected = true
                            return
                        }else{
                            var txnRemarkJSONObj = {}

                            if(transferAdj.adjustmentType.name === "TRANSFER_IN"){
                                txnRemarkJSONObj = {
                                    "TRANSFER_IN_FACILITY": (transferAdj.adjustmentType.name === "TRANSFER_IN" ? transferAdj.facility.name : ""),
                                    "TRANSACTION_REMARK": ""
                                }
                            }

                            if(transferAdj.adjustmentType.name === "TRANSFER_OUT"){
                                txnRemarkJSONObj = {
                                    "TRANSFER_OUT_FACILITY": (transferAdj.adjustmentType.name === "TRANSFER_OUT" ? transferAdj.facility.name : ""),
                                    "TRANSACTION_REMARK": ""
                                }
                            }

                            transferAdj.remarks = JSON.stringify(txnRemarkJSONObj)
                        }

                    })
                    if(facilityNotSelected){
                        alert("Transfer facility not selected!")
                        return
                    }
                }
                //TODO: add validation here for facility selection check when adjustment type is transfer-in/out
                context.currentBatchLineItem.hasErrors = false
                console.log(context.currentBatchLineItem.batchNumber)
                context.adjustmentsMap.set(context.currentBatchLineItem.batchNumber, productAdjustmentList)
                console.log(context.adjustmentsMap)
                context.showChangeAdjustmentModal = false
            }

        }
    }
</script>
<style>
    .hide{
        visibility: hidden;
    }
    .is-danger{
        color: #FF0000;
    }
</style>
