<template>
    <modal v-model="showModal" width="50%" @ok="showModal = false" effect="fade" :backdrop="false">
        <div slot="modal-header" class="modal-header modal-header-primary">
            <h4 class="modal-title">
                <b>{{title}}</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <div class="row" v-if="expectedAdjustedQty!==undefined">
                <div class="col-md-12">
                    <h5>Expected Adjusted Quantity <strong>{{expectedAdjustedQty}}</strong></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="adjustemntSelectionId">Adjustment Name</label>
                        <select :disabled="disabledControls" class="form-control" id="adjustemntSelectionId" v-model="val.adjustmentType">
                            <option v-for="p in filteredAdjustementTypes"
                                    :value="p">{{p.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="adjustmeentQuantity">Adjustment Quantity</label>
                        <input :disabled="disabledControls"  class="form-control" id="adjustmeentQuantity" type="text" v-model="val.adjustmentQty" @change="validateSimpleQuantity($event)"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <br>
                        <button  :disabled="disabledControls" type="button" class="btn btn-primary btn-sm" id="btnAddRow" @click="addRow()"><i class="fa fa-plus-circle"></i> Add Row</button>
                    </div>
                </div>
            </div>
            <br/><br/>
            <div v-if="adjustmentList.length===0">
                <span>No Adjustment Type Has been Added</span>
            </div>
            <div v-if="adjustmentList!==null &&adjustmentList!==undefined && adjustmentList.length>0">
                <table style="table-layout: auto"class="table table-striped table-bordered table-hover dataTable"
                       cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Adjustment Name</th>
                            <th>Amount</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item,index) in adjustmentList">
                            <td>{{index + 1}}</td>
                            <td>{{item.adjustmentType.name}}</td>
                            <td>
                                <input type="text" v-model="item.quantity" name="adjustmentQuantity"/>
                            </td>
                            <td v-if="item.adjustmentType.name==='TRANSFER_IN' || item.adjustmentType.name ==='TRANSFER_OUT'">
                                <div class="form-group" style="width: 60%;">
                                    <v-select v-model="item.facility" :options="facilities">
                                    </v-select>
                                </div>
                            </td>
                            <td>
                                <button :disabled="disabledControls" class="btn btn-danger btn-xs" @click="removeRow(index)"><i class="fa fa-trash"></i> Remove Row</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="text-align: right" colspan="2"><strong>Total</strong></td>
                            <td colspan="3">{{totalRow}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- custom buttons -->
        <div slot="modal-footer" class="modal-footer">
            <button :disabled="disabledControls" type="button" class="btn btn-success btn-sm" @click="saveAdjustmentHandler(adjustmentList)"><i class="fa fa-save"></i> Save</button>
            <button type="button" class="btn btn-danger btn-sm" @click="closedHandler()"><i class="fa fa-close"></i>Cancel</button>
        </div>
    </modal>
</template>
<script>
    import modal from 'vue-strap/src/Modal'
    import {_} from 'vue-underscore'
    import {getHttpAuthenticated} from '../../../assets/js/http_with_token'
    import FacilitySelectionModal from '../../../components/common/FacilitySelection'
    var context = {}
    export default{
        props: {
            showChangeAdjustmentModal: {
                default: false
            }, disabledControls: {
                default: false
            },
            productAdjustments: {
                type: Array
            }, adjustmentTypeList: {
                type: Array
            }, selectedLineItem: {
                type: Object
            }, saveAdjustmentHandler: {
                type: Function,
                default: function () {
                    //console.log('No function provided for this action!')
                }
            },
            closedHandler: {
                type: Function,
                default: function () {
                }
            },
            expectedAdjustedQty:{
                type:Number,
                default:undefined
            },
            title:{
                type: String,
                default: "R&R Line Item Adjustments"
            },
            alertInfoHandler: {
                type: Function
            },
            alertErrorHandler: {
                type: Function
            }
        },
        components:{
            'facilitySelectionModal': FacilitySelectionModal
        },
        computed: {
            filteredAdjustementTypes: function () {
                var filteredList = [];
                var val;
                for (var i = 0; i < context.adjustmentTypeList.length; i++) {
                    var type = context.adjustmentTypeList[i];
                    if (context.adjustmentList !== null && context.adjustmentList !== undefined && context.adjustmentList.length > 0) {
                        val = _.find(context.adjustmentList, function (adj) {
                            return adj.adjustmentType !== undefined && type.name === adj.adjustmentType.name;
                        })
                    }
                    if (val === null || val === undefined) {
                        filteredList.push(type)
                    }
                }
                return filteredList;
            },
            totalRow: function () {
                context.total= _.reduce(context.adjustmentList, function (a1, a2) {
                    var b2 = a2.adjustmentType.additive? parseFloat(a2.quantity) : -1 * parseFloat(a2.quantity);
                    return  parseFloat(a1) +parseFloat( b2);
                }, 0);
                return context.total;
            }
        },
        data(){
            return {
                showModal: this.showChangeAdjustmentModal,
                regimenSelected: {},
                regimenCategorySelected: {},
                regimenCategories: [],
                regimens: [],
                val: {},
                adjustmentList:[],
                geoLevels: [],
                geoZones: [],
                facilities: [],
                provinceSelected: undefined,
                districtSelected: undefined,
                facilitySelected: undefined,
                total:0
            }
        },
        beforeMount()
        {
            context = this
            context.$store.dispatch('setShowBatchPanel', false)
            context.loadFacilities()
        }
        ,
        beforeDestroy()
        {
            context.$store.dispatch('setShowBatchPanel', true)
        }
        ,
        components: {
            'modal': modal
        },
        watch: {
            showChangeAdjustmentModal: function (value) {
                context.showModal = value
                if (!value) {
                    context.resetData()
                }
            },
            productAdjustments:function (value) {
                context.adjustmentList = value
            }
        },
        methods: {
            addRow: function () {
                if(context.val.adjustmentType !== undefined){
                    var adj = {
                        lossesAndAdjustmentType: context.val.adjustmentType.name,
                        adjustmentType: context.val.adjustmentType,
                        additive: context.val.adjustmentType.additive,
                        quantity: context.val.adjustmentQty
                    }
                    context.adjustmentList.push(adj);
                    context.val = {}
                }
            },
            removeRow: function (index) {
                context.adjustmentList.splice(index, 1);
            },
            resetData: function(){
                context.val = {}
                context.adjustmentList = []
            },
            loadFacilities: function(){
                getHttpAuthenticated().get("/all-facilities").then(function(response) {
                    context.facilities = response.data
                    context.facilities.forEach(value => {
                        value.label = value.name
                        value.value = value.name
                    })
                    var column = "name"
                    context.facilities = context.facilities.sort((a, b) => { return (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0) })
                }).catch(function(e) {
                    console.log(e)
                })
            },
            validateSimpleQuantity(event){
                var targetElement = event.target
                var quantity = targetElement.value
                if(quantity === ""){
                    context.alertErrorHandler("Please enter the quantity!")
                    return
                }else if(isNaN(quantity) || parseFloat(quantity) < 0.0){
                    context.alertErrorHandler("Only positive numbers are allowed!")
                    targetElement.value = ''
                    return
                }
            }
        }
    }
</script>
<style>
    tfoot {
        display: table-footer-group;
        vertical-align: middle;
        border-color: inherit;
        border-top: 2px solid #0d6aad;
        font-size: 1.2em;
        font-weight: bolder;
        background-color: rgba(34, 45, 50, 0.26);
        color: white;
    }
</style>
