<template>

    <div id="container" class="container">
        <div class="pull-right">
            <a v-bind:href="exportPDFURL()"  class="btn btn-xs btn-default" target="_blank">
                <i class="fa fa-file-pdf-o"></i> Export PDF
            </a>

            <a v-bind:href="exportExcelURL()" class="btn btn-xs btn-default" target="_blank">
                <i class="fa fa-file-excel-o"></i> Export Excel
            </a>
        </div>
        <changeadjustment :adjustmentTypeList="adjustmentTypeList" :productAdjustments="productAdjustments"
                          :selectedLineItem="selectedLineItem"
                          :disabledControls="disabledAdjustmentControl"
                          :saveAdjustmentHandler="saveAdjustment" :showChangeAdjustmentModal="showChangeAdjustmentModal"
                          :closedHandler="changeAdjustmentModalClosed"></changeadjustment>
        <div class="row">

        </div>
        <div class="container-fluid">

            <div class="info-box1 padding2px">
                <div class="pull-left">
                    <div v-bind:class="{'emergency': rnr.emergency, 'regular': !rnr.emergency}">
                        <span>Requistion Type</span>
                    </div>

                </div>
                <div class="pull-left requisition-head-block">
                    <div class="row-fluid" id="requisition-head-block">
                        <div class="col-md-4">
                            <strong id='emergencyOrderLabel'>Reporting Period From </strong>:
                            &nbsp;<span
                                id='emergencyOrderPoint'>{{dateValue(rnr.periodStart)}}</span>
                            <strong id='emergencyOrderLabel'>To</strong>:
                            &nbsp;<span
                                id='emergencyOrderPoint'>{{dateValue(rnr.periodEnd)}}</span>
                        </div>


                        <div class="col-md-4">
                            <strong id='operatedByLabel'>Program</strong>: &nbsp;<span
                                id='operatedBy'>{{rnr.programName}}</span>
                        </div>
                        <div class="col-md-4">
                            <strong id='maximumStockLabel'> Maximum Stock Level</strong>:&nbsp;<span
                                id='facility'>3 Months</span>
                        </div>

                    </div>
                    <br>
                    <div class="row-fluid">
                        <div class="col-md-4">
                            <strong id='facilityLabel'> Facility</strong>:&nbsp;<span
                                id='facility'>{{rnr.facilityCode}}_{{rnr.facilityName}}</span>
                        </div>
                        <div class="col-md-4">
                            <strong><span id='parentLevelLabel'>{{ $t("message.rnr_level_1") }}</span>:
                            </strong><span
                                id='parentLevel'>{{rnr.district}}</span>
                        </div>
                        <div class="col-md-4">
                            <strong id='reportingPeriodLabel'>Emergency Order Point</strong>:&nbsp;<span
                                id='reportingPeriod'>0.5</span>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="row">
                <div class="col-md-6">


                    <div v-if="isInstallationType('DM')" class="checkbox">
                        <label>
                            <input v-on:click="setRnrSubmissionStatus" :disabled="!rnr.synced" type="checkbox"
                                   name="ready-submission"
                                   id="is_ready_for_submission"
                                   v-model="rnr.chkFlagForSubmission" value="pm" checked>Ready For Submission
                        </label>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-12">


                    <div style=" margin-left:-60px !important; margin-right: -45px; scroll-y:hidden" id="fixed-table-container"
                         class="fixed-table-container">
                        <table class="table ">
                            <thead>

                            <tr>
                                <th>
                                    <div>Skip All</div>
                                    <div><input v-bind="skippedAll" type="checkbox" @click="selectDeselectAll()"/></div>
                                </th>


                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>Unit</th>
                                <th>{{ $t("message.rnr_beginning_balance") }}</th>
                                <th>Received</th>
                                <th>Dispensed</th>
                                <th>{{ $t("message.rnr_stock_on_hand") }}</th>
                                <th>Stocked Out Days</th>
                                <th>Adjust</th>
                                <th>AMC</th>
                                <th>Max Qty</th>
                                <th>Order Qty</th>
                                <th>Requested Qty</th>
                                <th>Remark</th>

                            </tr>
                            </thead>

                            <tbody>

                            <tr v-bind:class="{ 'td-error': !isValidRnr(item) }"
                                v-for="item in blankOfflineRequisitionLineItems">
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input type="checkbox"
                                                                                            v-model="item.skipped">
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">{{item.productCode}}

                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">{{item.productName}}</td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">{{item.dispensingUnit}}</td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">
                                    <input style="max-width: 60px"
                                           :disabled="true"
                                           type="number"
                                           v-model="item.beginningBalance">
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }">
                                    <input style="max-width: 60px" :disabled="(item.skipped||  isInstallationType('FE'))&& !rnr.emergency"
                                           type="number"
                                           v-model="item.quantityReceived">
                                </td>
                                <td v-bind:class="{ 'td-error': !item.validRnr }"><input style="max-width: 80px"
                                                                                         :disabled="(item.skipped||  isInstallationType('FE'))&& !rnr.emergency"
                                                                                         type="number"
                                                                                         v-on:change="calculateAmc(item)"
                                                                                         v-model="item.quantityDispensed"/>
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item)}"><input style="max-width: 80px"
                                                                                           :disabled="(item.skipped||  isInstallationType('FE'))&& !rnr.emergency"
                                                                                           type="number"
                                                                                           v-model="item.stockOnHand"/>
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="max-width: 80px"
                                                                                            :disabled="item.skipped || isInstallationType('FE')"
                                                                                            type="number"
                                                                                            v-model="item.stockOutDays"/>
                                </td>
                                <td style="max-width: 70px;min-width: 70px"
                                    v-bind:class="{ 'td-error': !isValidRnr(item) }">
                                    <span v-if="item.skipped">{{item.totalAdjustment}} </span>
                                    <a v-if="!item.skipped "
                                       :disabled="item.skipped"
                                       v-on:click=" changeAdjustment(item)"
                                    > <span class="glyphicon glyphicon-pencil"></span>{{item.totalAdjustment}}</a></td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="max-width: 80px"
                                                                                            :disabled="true"
                                                                                            type="number"
                                                                                            v-model="item.amc"/>
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="max-width: 80px"
                                                                                            :disabled="true"
                                                                                            type="number"
                                                                                            v-model="item.maxStockQuantity"/>
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="max-width: 80px"
                                                                                            :disabled="true"
                                                                                            type="text"
                                                                                            v-model="item.calculatedOrderQuantity"/>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item) }"><input style="max-width: 80px"
                                                                                            type="text"
                                                                                            v-model="item.quantityRequested"/>
                                </td>
                                <td v-bind:class="{ 'td-error': !isValidRnr(item)|| item.noValidRemar}"><input
                                        style="min-width: 700px;"
                                        type="text"
                                        v-model="item.remarks"/>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <br/><br/><br/>
                </div>
            </div>

            <div id="scrollBar" class=" row scroll-bar"><div style="min-width:2000px; height:5px;"></div> </div>
            <div class="col-xs-12 static-action-bar " style="margin-left:-70px!important">

                <div class="row" v-if="showMessage|| callbackResponse.showMessage">
                    <div class="col-md-12">
                        <div style="background-color: #EFEFEF!important; height: 50px!important; font-weight: bolder;"
                             class="alert alert-message "
                             v-bind:class="{ 'alert-success': response.isSuccess||callbackResponse.isSuccess, 'alert-error': !response.isSuccess||!callbackResponse.isSuccess }">
                            <button v-on:click="closeMessage" type="button" data-dismiss="alert" class="close">
                                ×
                            </button>
                            <span v-if="!response.isSuccess||!callbackResponse.isSuccess"
                                  class="glyphicon glyphicon-danger"></span>
                            <span v-if="response.isSuccess ||callbackResponse.isSuccess"
                                  class="glyphicon glyphicon-ok"></span>
                            <span>{{callbackResponse.message}}</span> {{response.message}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button v-if="isInstallationType('DM')" v-on:click="saveRnRInformation()" type="button" class="btn btn-primary pull-left">
                            Save
                        </button>
                        &nbsp&nbsp

                        <button v-if=" rnr.synced" v-on:click="submitRnRInformation()" type="button" class="btn btn-primary">
                            Submit
                        </button>
                        &nbsp&nbsp
                        <button type="button" v-if="rnr.isForupdate && !rnr.synced" v-on:click="synchronize()"
                                class="btn btn-success">
                            <span class="glyphicon glyphicon-refresh"></span> Sync
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>

</template>
<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
    import {getHttpAuthenticated} from '../../../assets/js/http_with_token'
    import changeadjustment from './change-adjustment'
    import {_} from 'vue-underscore';
    import FixedTable from '../../../mixins/fixed-table'
    import moment from 'moment'
    var context = {}


    export default ({
        props: {
            facilities: {
                type: Array
            },
            adjustmentTypeList: {
                type: Array
            },
            periods: {
                type: Array
            },
            programs: {
                type: Array
            },
            clear: {
                type: Function,
                default: function () {
                }
            },
            blankOfflineRequisitionLineItems: {
                type: Array
            },
            rnr: {
                type: Object
            }, synch: {
                type: Function,
                default: function () {
                }
            }, callbackResponse: {
                type: Object
            }, clearMessage: {
                type: Function,
                default: function () {
                }
            }

        }, components: {

            'changeadjustment': changeadjustment
        },

        data() {
            return {
                pdfUrl:"",
                criteria: [],
                isCallbackMessage: false,
                query: "",
                selectAll: false,
                selectedLineItem: {},
                disabledAdjustmentControl:false,
                showSuccessAlert: false,
                showErrorAlert: false,
                showChangeAdjustmentModal: false,
                currentProgramCode: 'ARV',
                stockControlCardList: [],
                search: '',
                selectedPeriod: {},
                selectedFacility: {},
                selectedProgram: {},
                http_errors: [],
                baseProductList: [],
                column: 'productCode',
                productAdjustments: [],
                skipped: false,
                skippedAll:false,
                chkEmergency: false,
                chkFlagForSubmission: false,
                response: {
                    obj: {},
                    isSuccess: false,
                    messageType: "",
                    message: ""
                },
                showMessage: false

            }
        }
        , computed: {

            filteredLineItems: function () {
                var self = this;

                if (context.blankOfflineRequisitionLineItems === undefined) {
                    return []
                }

                return context.blankOfflineRequisitionLineItems.filter(function (item) {
                    return item.productName.toLowerCase().indexOf(self.query.toLowerCase()) !== -1 ||
                        item.productCode.toLowerCase().indexOf(self.query.toLowerCase()) !== -1;
                })


            }

        },
        mixins: [FixedTable],

        watch:{
            rnr: function(value){
                context.closeMessage()
            }
        },
        beforeMount() {
            context = this;
//console.log(document.getElementById('fixed-table-container-1'))
            var fixedTable1 = context.fixTable(document.getElementById('fixed-table-container'),document.getElementsByTagName('body')[0],document.getElementById('scrollBar'));
            context.disabledAdjustmentControl=context.isInstallationType('FE');

        }
        ,
        updated: function () {
            var fixedTable1 = context.fixTable(document.getElementById('fixed-table-container'),document.getElementsByTagName('body')[0],document.getElementById('scrollBar'));


        },
        methods: {
            exportPDFURL(){


                var rnrId = context.rnr.id
                context.pdfUrl= "/report/download/offline-rnr/PDF?rnrId=" + rnrId;
                return "/report/download/offline-rnr/PDF?rnrId=" + rnrId
            },
            exportExcelURL(){

                var rnrId = context.rnr.id

                return "/report/download/offline-rnr/XLS?rnrId=" + rnrId
            },
            filteredLineItems: function () {
                var self = this;

                if (context.blankOfflineRequisitionLineItems === undefined) {
                    return []
                }

                return context.blankOfflineRequisitionLineItems.filter(function (item) {
                    return item.productName.toLowerCase().indexOf(self.query.toLowerCase()) !== -1 ||
                        item.productCode.toLowerCase().indexOf(self.query.toLowerCase()) !== -1;
                })


            },

            dateValue: function(value){
                if (value) {
                var date=moment(new Date(value) ).format('DD/MM/YYYY');
                    return date;
                }
            },
            synchronize: function () {
                context.closeMessage();
                context.synch();


            },
            selectDeselectAll: function () {
                context.skippedAll=!context.skippedAll;
                for (var i = 0; i < context.blankOfflineRequisitionLineItems.length; i++) {
                    context.blankOfflineRequisitionLineItems[i].skipped = context.skippedAll;
                }
            },
            parseRemark: function (remarkJSON) {
                if (remarkJSON) {
                    return JSON.parse(remarkJSON).TRANSACTION_REMARK
                }
                return ''
            }
            ,

            changeAdjustmentModalClosed() {
                context.showChangeAdjustmentModal = false
            }
            ,
            clearhttp_errors: function () {

                this.http_errors.length = 0
            }
            ,
            changeAdjustment(selectedLineItem) {
                context.selectedLineItem = selectedLineItem;
                context.showChangeAdjustmentModal = true;
                context.productAdjustmentsBlank();
            }

            ,
            cancel: function () {
                context.node = {};
                context.nodePrograms = [];
                context.loadPrograms(null);

            }
            ,
            saveAdjustment(adjustments) {
                var updatedAdjustments = [];
                var cumulative = 0;
                for (var i = 0; i < adjustments.length; i++) {
                    var adjustment = context.productAdjustments[i];
                    if (adjustment.quantity > 0) {
                        if (adjustment.additive) {
                            cumulative += parseInt(adjustment.quantity, 10);
                            ;
                        } else {
                            cumulative -= parseInt(adjustment.quantity, 10);
                            ;
                        }
                        updatedAdjustments.push(adjustment);
                    }

                }
                context.selectedLineItem.totalAdjustment = cumulative;
                context.selectedLineItem.rliLossesNAdjustments = updatedAdjustments;

                context.showChangeAdjustmentModal = false;

            }
            ,
            productAdjustmentsBlank(productCode) {

                var assignedAdjustmentTypes = context.selectedLineItem.rliLossesNAdjustments;
                var productAdjustments = [];
                if (assignedAdjustmentTypes !== null && assignedAdjustmentTypes !== undefined && assignedAdjustmentTypes.length >= 0) {
                    for (var i = 0; i < assignedAdjustmentTypes.length; i++) {
                        productAdjustments.push(assignedAdjustmentTypes[i]);
                    }
                }
                context.productAdjustments = productAdjustments;

            }, submit: function () {
                context.rnr.chkFlagForSubmission = true;
                context.rnr.chkFlagForSubmission = false;
                context.setRnrSubmissionStatus();
                context.saveRnRInformation();
            }
            ,
            saveRnRInformation: function () {
                context.closeMessage();
                var lineItems = [];
                for (var i = 0; i < context.blankOfflineRequisitionLineItems.length; i++) {

                    if (context.isValidRnr(context.blankOfflineRequisitionLineItems[i])) {
                        lineItems.push(context.blankOfflineRequisitionLineItems[i]);
                    } else {

                        context.showMessage = true;
                        context.response.isSuccess = false;
                        context.response.messageType = "ERROR";
                        context.response.message = "Correct R&R values and Save Again ";
                        context.clear();
                        return null;
                    }

                }
                if(!context.areAllLineItemsHasValidRemark()){
                    context.showMessage = true;
                    context.response.isSuccess = false;
                    context.response.messageType = "ERROR";
                    context.response.message = "Requested Quantity Need Remark :Correct and Save Again ";
                    context.clear();
                    return null;
                }
                var offlineRequisition =
                    {
                        requisitionLineItems: lineItems,
                        requisitionType: "OFFLINE_REQUISITION",
                        status: context.rnr.chkFlagForSubmission ? "READY_FOR_SUBMISSION" : "PENDING",
                        periodId: context.rnr.periodId,
                        facilityId: context.rnr.facilityId,
                        programId: context.rnr.programId,
                        emergency: context.rnr.emergency === null || context.rnr.emergency === undefined ? false : context.rnr.emergency,
                        synced: context.rnr.synced,
                        id: context.rnr.id === null || context.rnr.id === 0 ? null : context.rnr.id
                    };

                if (offlineRequisition.id === null || offlineRequisition.id === undefined) {
                    getHttpAuthenticatedWithLoadingFlag().post("/rest-api/offline-rnr/sdp-requisitions",
                        offlineRequisition).then(function (response) {

                        context.showMessage = true;
                        context.response.isSuccess = true;
                        context.response.messageType = "SUCCESS";
                        context.response.message = "Offline R&R Saved Successfully ";
                        context.showSuccessAlert = true;
                        context.clear();

                        //context.$store.commit('nodePrograms',[])
                    }).catch(function (e) {
                        context.showMessage = true;
                        context.response.isSuccess = false;
                        context.response.messageType = "ERROR";
                        context.response.message = "Saving Offline R&R Failed  ";
                        context.http_errors.push(e);
                        context.clear();

                    })
                } else {

                    getHttpAuthenticatedWithLoadingFlag().post("/rest-api/offline-rnr/sdp-requisitions/update",
                        offlineRequisition).then(function (response) {
                        context.showMessage = true;
                        context.response.isSuccess = true;
                        context.response.messageType = "SUCCESS";
                        context.response.message = "Offline R&R Updated Successfully ";
                        context.showSuccessAlert = true;
                        context.clear();

                        //context.$store.commit('nodePrograms',[])
                    }).catch(function (e) {
                        context.showMessage = true;
                        context.response.isSuccess = false;
                        context.response.messageType = "ERROR";
                        context.response.message = "Updating Offline R&R Failed  ";
                        context.http_errors.push(e);
                        context.clear();
                    })
                }
            },
            submitRnRInformation: function () {
                context.closeMessage();
                var lineItems = [];
                for (var i = 0; i < context.blankOfflineRequisitionLineItems.length; i++) {
                    if (!context.blankOfflineRequisitionLineItems[i].skipped) {
                        if (context.isValidRnr(context.blankOfflineRequisitionLineItems[i])) {
                            lineItems.push(context.blankOfflineRequisitionLineItems[i]);
                        } else {

                            context.showMessage = true;
                            context.response.isSuccess = false;
                            context.response.messageType = "ERROR";
                            context.response.message = "Correct R&R values and Submit Again ";
                            context.clear();
                            return null;
                        }
                    }
                }
                if(!context.areAllLineItemsHasValidRemark()){
                    context.showMessage = true;
                    context.response.isSuccess = false;
                    context.response.messageType = "ERROR";
                    context.response.message = "Requested Quantity Need Remark :Correct and Save Again ";
                    context.clear();
                    return null;
                }
                var offlineRequisition =
                    {
                        requisitionLineItems: lineItems,
                        requisitionType: "OFFLINE_REQUISITION",
                        status: "READY_FOR_SUBMISSION",
                        periodId: context.rnr.periodId,
                        facilityId: context.rnr.facilityId,
                        programId: context.rnr.programId,
                        emergency: context.rnr.emergency === null || context.rnr.emergency === undefined ? false : context.rnr.emergency,
                        synced: context.rnr.synced,
                        id: context.rnr.id === null || context.rnr.id === 0 ? null : context.rnr.id
                    };

                getHttpAuthenticatedWithLoadingFlag().post("/rest-api/offline-rnr/submit-rnr",
                    offlineRequisition).then(function (response) {
                    var data=response.data;

                    if(context.isNullOrUndefined(data) || data.success==='true'||data.success){

                        context.showMessage = true;
                        context.response.isSuccess = true;
                        context.response.messageType = "SUCCESS";
                        context.response.message = "Offline R&R Submitted Successfully ";
                        context.showSuccessAlert = true;
                        context.clear();

                        //context.$store.commit('nodePrograms',[])
                    }else{
                        context.showMessage = true;
                        context.response.isSuccess = false;
                        context.response.messageType = "ERROR";
                        context.response.message = "Submiting Offline R&R Failed : " + data.remark;
                        context.clear();
                    }
                }).catch(function (e) {
                    context.showMessage = true;
                    context.response.isSuccess = false;
                    context.response.messageType = "ERROR";
                    context.response.message = "Submiting Offline R&R Failed  ";
                    context.http_errors.push(e);
                    context.clear();
                })

            },
            setRnrSubmissionStatus: function () {

                context.rnr.status = !context.rnr.chkFlagForSubmission ? "READY_FOR_SUBMISSION" : "PENDING";
            },
            isValidRnr(row) {
//                context.calculateAmc(row);
                if (!context.rnr.synced ||(context.isInstallationType('DM')&&  context.rnr.status !== 'READY_FOR_SUBMISSION' )|| row.skipped) {
                    row.validRnr = true;
                    return true;
                }
                var totAdjustment = row.totalAdjustment == null || row.totalAdjustment == undefined ? 0 : row.totalAdjustment;
                var beginBalance = row.beginningBalance == null || row.beginningBalance == undefined ? 0 : row.beginningBalance;
                var recievedQuantity = row.quantityReceived == null || row.quantityReceived == undefined ? 0 : row.quantityReceived;
                var dispensedQuantity = row.quantityDispensed == null || row.quantityDispensed == undefined ? 0 : row.quantityDispensed;
                var stockOnhand = row.stockOnHand == null || row.stockOnHand == undefined ? 0 : row.stockOnHand;
                var val = parseInt(beginBalance) + parseInt(recievedQuantity) + parseInt(totAdjustment) - parseInt(dispensedQuantity);
                row.totalAdjustment = totAdjustment;
                row.validRnr = parseInt(stockOnhand) == parseInt(val);
                return row.validRnr;
            },
            areAllLineItemsHasValidRemark() {
                var validRemark=true;
                if (context.isInstallationType('DM')) {
                    return true;
                } else {
                    for (var i = 0; i < context.blankOfflineRequisitionLineItems.length; i++) {
                        if (context.hasNoValidRemark(context.blankOfflineRequisitionLineItems[i])) {

                            validRemark=false;
                        }

                    }

                }
                return validRemark;
            },
            hasNoValidRemark(row) {
//                context.calculateAmc(row);

                var requestedQuantity = row.qantityRequested == null || row.qantityRequested == undefined ? 0 : row.qantityRequested;
                var remarkLength = row.remarks == null || row.remarks == undefined ? 0 : row.remarks.trim().length;
                var val = parseInt(requestedQuantity);
                row.noValidRemar = val > 0 && remarkLength === 0;
                return row.noValidRemar;
            },
            calculateAmc(row) {
                var prevQuantityDispensed = row.prevQuantityDispensed == null || row.prevQuantityDispensed == undefined ? 0 : row.prevQuantityDispensed;
                var dispensedQuantity = row.quantityDispensed == null || row.quantityDispensed == undefined ? 0 : row.quantityDispensed;
                var amc = row.prevAmc == null || row.prevAmc == undefined ? 0 : row.prevAmc;

                row.amc = (((parseInt(dispensedQuantity) - parseInt(prevQuantityDispensed)) / 3) + parseInt(amc));
                row.amc = Math.round(row.amc);
                context.isValidRnr(row);
                //console.log("prev " + prevQuantityDispensed + " and cureent is " + dispensedQuantity);

            },
            closeMessage() {

                context.showMessage = false;
                context.response.isSuccess = false;
                context.response.messageType = "";
                context.response.message = "";
                context.clearMessage();
            }

        }
    })
</script>
<style>
    .info-box1 {
        padding: 9px 12px 2px;
        margin-bottom: 18px;
        -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
        border: 1px solid #B9B9B9;
        background: #F2F2F2;
        font-size: 1em;
        text-shadow: 0 1px 0 white;
        margin-left: -60px;
        margin-right: -35px;
    }

    .padding2px {
        padding: 2px;
    }

    .padding2px {
        padding: 2px;
    }

    #requisition-head-block {
        padding: 8px 0px 0px;
    }

    .regular {
        position: relative;
        background: #dbdbdb;
        padding: 25px 15px;
        text-align: center;
        font-weight: bold;
        min-width: 50px;
        margin-right: 15px;
        text-shadow: none;
        height: 80px;
    }

    .regular:after,
    .regular:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .regular:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #dbdbdb;
        border-width: 35px 0 35px 15px;
        top: 50%;
        margin-top: -35px;
    }

    .emergency {
        position: relative;
        background: #d25f5b;
        padding: 25px 15px;
        text-align: center;
        font-weight: bold;
        min-width: 50px;
        margin-right: 15px;
        text-shadow: none;
        color: #fff;
        height: 80px;
    }

    .emergency:after,
    .emergency:before {
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .emergency:after {
        border-color: rgba(136, 183, 213, 0);
        border-left-color: #d25f5b;
        border-width: 35px 0 35px 15px;
        top: 50%;
        margin-top: -35px;
    }

    .pull-left.requisition-head-block {
        width: 90%;
        margin-left: 0.4%;
    }

    @media screen and (min-width: 1024px) {
        .pull-left.requisition-head-block {
            width: 90.5%;
        }
    }

    @media screen and (min-width: 1100px) {
        .pull-left.requisition-head-block {
            width: 88%;
        }
    }

    @media screen and (min-width: 1020px) {
        .pull-left.requisition-head-block {
            width: 87%;
        }
    }

    @media screen and (min-width: 960px) {
        .pull-left.requisition-head-block {
            width: 86%;
        }
    }

    @media screen and (min-width: 840px) {
        .pull-left.requisition-head-block {
            width: 84%;
        }
    }

    @media screen and (min-width: 648px) {
        .pull-left.requisition-head-block {
            width: 82%;
        }
    }

    @media screen and (max-width: 1050px) {
        .regular {
            padding: 29px 15px;
        }

        .regular:after {
            border-width: 39px 0 39px 15px;
            margin-top: -39px;
        }

        .emergency {
            padding: 29px 15px;
        }

        .emergency:after {
            border-width: 39px 0 39px 15px;
            margin-top: -39px;
        }
    }

    .row-fluid:before, .row-fluid:after {
        display: table;
        line-height: 0;
        content: "";
    }

    .td-error {
        background-color: red;

    }

    .td-no-error {
        background-color: white;
    }

    .sk {
        height: 500px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin-bottom: 40px;
        margin-left: -60px;
        width: 110%;
    }

    .fixed-table-container table {
        border-collapse: collapse;


    }

    .fixed-table-container th,
    .fixed-table-container td {
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 8px;
        text-align: left;
        vertical-align: top;
        height: 40px;

        /**
          * Current implementation doesn't work when
          * cells in a row have different heights
          */
        white-space: nowrap !important;
    }

    .fixed-table-container th {
        background: #337ab7;
        font-size: 12px;
        line-height: 16px;
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
        color: white;
        height: 60px;
        font-weight: bolder;
        padding-bottom: 5px;

    }

    .fixed-table-container th a {
        color: #fff975;
        font-weight: bolder;
        font-size: 1.2em;
        cursor: pointer;
    }

    .fixed-table-container th a:hover {
        color: #ff3616;
        font-weight: bolder;
        font-size: 1.2em;
        text-decoration: underline;
        cursor: pointer;
    }

    .fixed-table-container td:first-child {
        background: #d2dce2;
    }

    .fixed-table-container td:nth-child(2) {
        background: #d2dce2;
    }

    .fixed-table-container td:nth-child(3) {
        background: #d2dce2;
    }

    .fixed-table-container tr:last-child td {
        border-bottom: 0;
    }

    .fixed-table-container th:last-child,
    .fixed-table-container td:last-child {
        border-right: 0;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        z-index: 1000;
    }

    .alert-message {
        max-height: 40px !important;
        /*margin-left: 60px !important;*/
        max-width: 85% !important;
    }

    .alert-success {
        background: transparent !important;
        border: transparent !important;
        color: green !important;
        height: 30px !important;
    }

    .alert-error {
        background: transparent !important;
        border: transparent !important;
        color: red !important;
        height: 30px !important;
    }
    .header-normal{
        background-color:yellow;
    }
    .header-sticky{
        background-color:red;
    }
    .scroll-bar{
        height: 15px;
        width: 100%;
        overflow: scroll;
        position: fixed;
        bottom: 50px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    /*
*  STYLE 2
*/

    #scrollBar::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #scrollBar::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    #scrollBar::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #337ab7;
    }

</style>
