<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">


                <tabs v-model="tabSelection.activeTab" nav-style="tabs">

                    <tab header="Manage User">
                        <manageUsers ng-if="tabSelection.userSelected === true"></manageUsers>
                    </tab>
                    <tab header="Manage Role">
                        <manageRoles  ng-if="tabSelection.roleSelected === true"></manageRoles>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</template>
<script>
    import tabs from 'vue-strap/src/Tabs'
    import tab from 'vue-strap/src/Tab'
    import manageUsers from './users/manage-user.vue'
    import manageRoles from './roles/manage-roles.vue'



    var context = {}

    export default({
        data(){
            return {
                tabSelection:{},
            }
        },
        components: {
            tabs,
            tab,
            manageUsers,
            manageRoles
        },
        beforeMount(){
            context = this
            context.getTabSelection();
        },
        methods: {

            getTabSelection : function(){

                context.tabSelection  = context.$route.meta;

            }

        }
    })
</script>
