<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Manage Product Sources
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :showConfirmAlert="showConfirm"
                       :okConfirmHandler="okConfirmClicked" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeAlert"></alert>
                <div class="row">
                    <div class="col-md-7">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5 class="panel-title">Product Sources
                                </h5>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Product Source</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="productSource in productSources" :key="productSource.id">
                                        <td>{{ productSource.sourcename }}</td>
                                        <td>{{ productSource.createdby }}</td>
                                        <td>{{ productSource.createddate | formatDate}}</td>
                                        <td>
                                            <button class="btn btn-xs btn-default" v-on:click="editingProductSource = productSource">
                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </button>
                                            <button class="btn btn-xs btn-default" v-on:click="deleteProductSource(productSource)">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>
                                                <select v-model="pageSize" class="form-control">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>records per page</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <paginate
                                                :page-count="totalNumberOfPages"
                                                :click-handler="setPage"
                                                :prev-text="'Prev'"
                                                :next-text="'Next'"
                                                :container-class="'pagination pull-right'">
                                        </paginate>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5 class="panel-title" v-if="isEmpty(editingProductSource) || editingProductSource.id === undefined">
                                    Add New Product Source
                                </h5>
                                <h5 class="panel-title" v-if="!isEmpty(editingProductSource) && editingProductSource.id !== undefined">
                                    Edit Product Source
                                </h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input name="name" v-validate="'required'" v-model="editingProductSource.sourcename" type="text" class="form-control"
                                                   placeholder="Product Source Name"
                                                   id="name">
                                            <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name')
                                                }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button v-on:click="saveProductSource()" type="button" class="btn btn-success">
                                            <i class="fa fa-plus-circle"></i> Save</button>
                                        <button v-on:click="clearForm()" type="button" class="btn btn-danger">
                                            <i class="fa fa-close"></i> Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import paginate from 'vuejs-paginate'
    import AlertMixin from '../../mixins/AlertMixin'

    var context = {}

    export default({
        data(){
            return {
                editingProductSource:{},
                productSourceList:[],
                pageSize: 10,
                pageNumber: 1,
                totalNumberOfPages: 0
            }
        },
        mixins:[
            AlertMixin
        ],
        components:{
            paginate
        },
        beforeMount(){
            context = this
            context.loadProductSources()
        },
        computed:{
            productSources: {
                get: function () {
                    var paginatedFilteredList = context.productSourceList
                    var pages = paginatedFilteredList.length / this.pageSize
                    context.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)
                    var pageSize = parseInt(context.pageSize)
                    var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
                    if (pageNumber > context.totalNumberOfPages) {
                        pageNumber = context.totalNumberOfPages
                    }
                    var startingIndex = (pageNumber - 1) * pageSize
                    var endingIndex = startingIndex + pageSize

                    paginatedFilteredList = paginatedFilteredList.slice(startingIndex, endingIndex)
                    return paginatedFilteredList
                }
            }
        },
        watch:{

        },
        methods: {
            clearForm() {
                context.editingProductSource= {}
                context.productSourceList = []
                context.loadProductSources()
            },
            loadProductSources(){
                getHttpAuthenticatedWithLoadingFlag().get('/product-sources').then(function(response){
                    context.productSourceList = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            setPage: function (pageNumber) {
                context.pageNumber = pageNumber
            },
            saveProductSource: function () {
                context.$validator.validateAll().then(function (result) {
                    if(result) {
                        if(context.editingProductSource.id !== undefined ){
                            getHttpAuthenticatedWithLoadingFlag().post("/edit-product-sources", context.editingProductSource).then(function (response) {
                                context.alertInfo("Product Source updated successfully!")
                                context.clearForm()
                            }).catch(function (e) {
                                console.error(e)
                            })
                        }else{
                            context.editingProductSource.createddate = new Date().getTime()
                            context.editingProductSource.createdby = context.$store.state.persistedState.user.firstname + " " +
                                context.$store.state.persistedState.user.lastname
                            getHttpAuthenticatedWithLoadingFlag().post("/create-product-sources", context.editingProductSource).then(function (response) {
                                context.alertInfo("Product Source saved successfully!")
                                context.clearForm()
                            }).catch(function (e) {
                                console.error(e)
                            })
                        }

                    }
                })
            },
            deleteProductSource: function (productSource) {
                context.confirm("Are you sure you want to delete this Product Source?", function(){
                    getHttpAuthenticatedWithLoadingFlag().post("/delete-product-sources", productSource).then(function (response) {
                        if(response.data !== 0){
                            context.alertInfo("Product Source deleted successfully!")
                            context.clearForm()
                        }else{
                            context.alertError("Failed to  delete Product Source, it might be linked to transactions!")
                        }
                    }).catch(function (e) {
                        console.log(e)
                        context.alertError("Failed to  delete Product Source, it might be linked to transactions!")
                    })
                })

            }
        }
    })
</script>
<style>
    .record:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .highlighted-red {
        color: #F00;
        text-decoration: underline;
    }
</style>
