<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Manage Nodes
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :title="alertTitle" :showConfirmAlert="showConfirm"
                       :okConfirmHandler="okConfirmClicked"
                       :message="alertMessage" :closeHandler="closeAlert"></alert>
                <nodemodal :showNodeModal="showNodeModal" :editingNode="editingNode"
                           :saveNodeHandler="saveNode" :updateNodeHandler="saveNode"
                           :closedHandler="closeNodeModal" :nodePrograms="filteredNodePrograms" :nodeTypes="nodeTypeList"></nodemodal>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-success" @click="showAddNewModal()"><i class="fa fa-plus-circle"></i> Add New</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5 class="panel-title">Nodes
                                </h5>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Node Name</th>
                                        <th>Node Type</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="node in nodes" :key="node.id">
                                        <td>{{ node.name }}</td>
                                        <td>{{ node.typeName}}</td>
                                        <td>
                                            <button class="btn btn-xs btn-default" v-on:click="editNode(node)">
                                                <i class="fa fa-edit"></i>
                                                Edit
                                            </button>
                                            <button class="btn btn-xs btn-default" v-on:click="deleteNode(node)">
                                                <i class="fa fa-trash"></i>
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>
                                                <select v-model="pageSize" class="form-control">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>records per page</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <paginate
                                                :page-count="totalNumberOfPages"
                                                :click-handler="setPage"
                                                :prev-text="'Prev'"
                                                :next-text="'Next'"
                                                :container-class="'pagination pull-right'">
                                        </paginate>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import NodeTypeMixin from '../../mixins/NodeType'
    import NodeProgramMixin from '../../mixins/NodeProgram'
    import AlertMixin from '../../mixins/AlertMixin'
    import paginate from 'vuejs-paginate'
    import nodemodal from './program-node/EditNode'

    var context = {}

    export default({
        data(){
            return {
                editingNode:{},
                nodeList:[],
                searchQueryObject:{},
                showNodeCreateModal:false,
                showConfirmation:false,
                pageSize: 10,
                pageNumber: 1,
                totalNumberOfPages: 0,
                fromDate: '',
                toDate: '',
                nodeTypeList: [],
                showNodeModal: false
            }
        },
        components:{
            paginate,
            nodemodal
        },
        mixins: [
            NodeTypeMixin, NodeProgramMixin, AlertMixin
        ],
        beforeMount(){
            context = this
            context.loadNodes()
            context.loadNodeTypes()
        },
        computed:{
            nodes: {
                get: function () {
                    var paginatedFilteredList = context.nodeList.filter(function (node) {
                        return !node.isExternal && !node.isVirtual && node.name!=='Root Node'
                    })
                    var pages = paginatedFilteredList.length / this.pageSize
                    context.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)
                    var pageSize = parseInt(context.pageSize)
                    var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
                    if (pageNumber > context.totalNumberOfPages) {
                        pageNumber = context.totalNumberOfPages
                    }
                    var startingIndex = (pageNumber - 1) * pageSize
                    var endingIndex = startingIndex + pageSize

                    paginatedFilteredList = paginatedFilteredList.slice(startingIndex, endingIndex)
                    return paginatedFilteredList
                }
            },
            filteredNodePrograms(){
                var column = "code"
                var filteredSortedNodePrograms = context.nodePrograms
                filteredSortedNodePrograms = context.nodePrograms.sort((a, b) => { return (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0) })
                return filteredSortedNodePrograms
            }
        },
        watch:{
            editingNode:function (value) {
                if(context.isEmpty(value)){
                    context.loadPrograms(null)
                }else{
                    if(value.id !==undefined){
                        context.loadPrograms(value)
                    }
                }
            }
        },
        methods: {
            openNode(node){
                context.editingNode = node
                context.loadPrograms(node)
            },
            clearForm() {
                context.editingNode = {}
                context.nodePrograms = []
                context.loadPrograms(null)
                context.loadNodes()
            },
            loadNodes(){
                getHttpAuthenticatedWithLoadingFlag().post('/search-nodes', context.searchQueryObject).then(function(response){
                    context.nodeList = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            setPage: function (pageNumber) {
                context.pageNumber = pageNumber
            },
            saveNode: function () {
                context.$validator.validateAll().then(function (result) {
                    if(result) {
                        var nodePrograms = context.nodePrograms

                        if(context.editingNode.id === undefined){
                            context.editingNode.isExternal = false
                            context.editingNode.isVirtual = false
                        }

                        context.editingNode.nodePrograms = nodePrograms
                        getHttpAuthenticatedWithLoadingFlag().post("/save-node", context.editingNode).then(function (response) {
                            context.alertInfo("Node saved successfully!")
                            context.clearForm()
                            context.closeNodeModal()
                        }).catch(function (e) {
                            context.alertError("An error has occurred!")
                        })
                    }
                })
            },
            deleteNode: function (node) {
                context.confirm("Are you sure you want to delete this node?", function(){
                    getHttpAuthenticatedWithLoadingFlag().get("/delete-node?nodeId=" + node.id).then(function (response) {
                        if(response.data !== 0){
                            context.alertInfo("Node deleted successfully!")
                            context.clearForm()
                        }else{
                            context.alertError("Failed to  delete Node, it might be linked to transactions!")
                        }
                    }).catch(function (e) {
                        context.alertError("Failed to  delete Node, it might be linked to transactions!")
                    })
                })

            },
            closeNodeModal(){
                context.clearForm()
                context.showNodeModal = false
            },
            showAddNewModal(){
                context.editingNode = {}
                context.showNodeModal = true
            },
            editNode(node){
                context.editingNode = node
                context.showNodeModal = true
            }
        }
    })
</script>
<style>
    .record:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .highlighted-red {
        color: #F00;
        text-decoration: underline;
    }
</style>
