<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-refresh"></span> Synchronize database
                            </li>
                        </ol>
                    </div>
                </div>

                <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeAlert"></alert>
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-success" @click="syncDB()"><i class="fa fa-refresh"></i> Sync DB</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import AlertMixin from '../../mixins/AlertMixin'
    var context = {}
    export default{
        data(){
            return {
                syncResponse:{}
            }
        },
        created(){
            context = this
        },
        mixins:[
            AlertMixin
        ],
        watch:{
            syncResponse: function (value) {
                if(value.success === true){
                    context.alertInfo("Database synchronization is completed successfully!")
                }else{
                    context.alertError("Sorry database synchronization has failed!")
                }
            }
        },
        methods:{
            syncDB(){
                getHttpAuthenticatedWithLoadingFlag().get('/rest-api/interfacing/sync').then(function(response){
                    context.syncResponse = response.data
                }).catch(function(error){
                    context.alertError("Sorry database synchronization has failed!")
                    console.log(error)
                })
            }
        }
    }
</script>
