<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span><a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-list"></span> View HIV DAR
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Date</label>
                                                    <br>
                                                    <datepicker v-model="date" :format="dateFormat" @input="loadDAR()"></datepicker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10">
                        <div class="row">
                            <div class="report-view-port">
                                <div style="line-height: 75px; text-align: center;background-color: #f5f5f5;" v-if="filteredDarItems.length === 0">
                                    No Items found!
                                </div>
                                <div class="panel" v-if="filteredDarItems.length > 0">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a :href="exportPDFURL" class="btn btn-xs btn-default" target="_blank">
                                                <i class="fa fa-file-pdf-o"></i> Export PDF
                                            </a>

                                            <a :href="exportExcelURL" class="btn btn-xs btn-default" target="_blank">
                                                <i class="fa fa-file-excel-o"></i> Export Excel
                                            </a>
                                        </div>
                                        <div style="width: 50px; margin-left: auto; margin-right:auto;">
                                            <img width="50px"  src="../../assets/img/logo.png">
                                        </div>

                                        <h2 class="panel-title" style="text-align: center; text-transform: uppercase;  margin-bottom: 15px; font-size: 18px;">
                                            <strong>Ministry of Health</strong>
                                        </h2>

                                        <h2 class="panel-title" style="text-align: center; text-transform: uppercase;  margin-bottom: 15px; font-size: 18px;">
                                            <strong>Daily Activity Register</strong>
                                        </h2>

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-3 col-md-offset-3">
                                                    <h5>
                                                        <strong>Date: <span style="text-decoration: underline">{{date}}</span></strong>
                                                    </h5>
                                                </div>
                                                <div class="col-md-3">
                                                    <h5>
                                                        <strong>Site Name: <span style="text-decoration: underline">{{nodeName}}</span></strong>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="panel-body">
                                        <table class="report-table table table-responsive table-bordered table-stripped">
                                            <thead>
                                            <tr>
                                                <th colspan="2" style="border:0px!important"></th>
                                                <th colspan="2" class="grey-bg align-center">Type Of Test</th>
                                                <th colspan="3" style="border:0px!important"></th>
                                            </tr>
                                            <tr>
                                                <th colspan="2">Facility: <strong style="text-transform: capitalize">{{facilityName}}</strong></th>
                                                <th class="align-center">Screening</th>
                                                <th class="align-center">Confirmatory</th>
                                                <th colspan="3" style="border:0px!important"></th>
                                            </tr>

                                            <tr>
                                                <th colspan="2">District: <strong style="text-transform: capitalize">{{myFacilityDistrictProvince.districtName}}</strong></th>
                                                <th class="align-center">{{screeningProductName}}</th>
                                                <th class="align-center">{{confirmatoryProductName}}</th>
                                                <th colspan="3" rowspan="3" class="grey-bg align-center">Final Test Results</th>
                                            </tr>
                                            <tr>
                                                <th colspan="2">Beginning Balance</th>
                                                <th class="align-center">{{ dar.screeningBeginningBalance }}</th>
                                                <th class="align-center">{{ dar.confirmatoryProductBeginningBalance }}</th>
                                            </tr>
                                            <tr class="grey-bg">
                                                <th colspan="2">Quantity Received</th>
                                                <th class="align-center">{{ dar.screeningProductQtyReceived }}</th>
                                                <th class="align-center">{{ dar.confirmatoryProductQtyReceived }}</th>
                                            </tr>
                                            <tr>
                                                <th>Client No.</th>
                                                <th>Purpose *</th>
                                                <th>Result</th>
                                                <th>Result</th>
                                                <th>Positive</th>
                                                <th>Negative</th>
                                                <th>Indeterminate</th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr v-for="darItem in filteredDarItems">
                                                <td>{{darItem.clientNo}}</td>
                                                <td>{{darItem.purpose}}</td>
                                                <td>{{darItem.screeningResult}}</td>
                                                <td>{{darItem.confirmatoryResult}}</td>
                                                <td>
                                                    <i v-if="darItem.finalResult==='REACTIVE'" class="fa fa-check-circle"></i>
                                                </td>
                                                <td>
                                                    <i v-if="darItem.finalResult==='NON_REACTIVE'" class="fa fa-check-circle"></i>
                                                </td>
                                                <td>
                                                    <i v-if="darItem.finalResult==='INDETERMINATE'" class="fa fa-check-circle"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Quantity used</td>
                                                <td>Total</td>
                                                <td>{{ totalQtyUsedScreening }}</td>
                                                <td>{{ totalQtyUsedConfirmatory}}</td>
                                                <td>{{ totalPositiveResults }}</td>
                                                <td>{{ totalNegativeResults }}</td>
                                                <td>{{ totalIndeterminateResults }}</td>
                                            </tr>

                                            <tr class="grey-bg">
                                                <td colspan="2"></td>
                                                <td></td>
                                                <td></td>
                                                <td colspan="3" class="align-center">Total Final Results</td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">Losses/Adjustments <span class="pull-right">Total</span></td>
                                                <td>{{dar.screeningProductTotalLnA}}</td>
                                                <td>{{dar.confirmatoryProductTotalLnA}}</td>
                                                <td colspan="3" rowspan="3"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Calculated Balance</td>
                                                <td>{{ screeningProductSystemCalculatedBalance }}</td>
                                                <td>{{ confirmatoryProductSystemCalculatedBalance }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">Physical Count</td>
                                                <td>{{dar.screeningProductLatestPhysicalCount}}</td>
                                                <td>{{dar.confirmatoryProductLatestPhysicalCount}}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <h5>
                                            <strong>* Purpose: VCT, PMTCT, Clinical Diagnosis (CD), Quality Control (QC), Other (explain)</strong>
                                        </h5>
                                        <table class="report-table table table-responsive table-bordered table-stripped">
                                            <tbody>
                                            <tr>
                                                <td  rowspan="2" class="align-center">Type of Test</td>
                                                <td  rowspan="2" class="align-center">Product</td>
                                                <td colspan="6" class="grey-bg align-center">Summary of HIV Tests Used by Purpose</td>
                                            </tr>
                                            <tr>
                                                <td>VCT</td>
                                                <td>PMTCT</td>
                                                <td>Clinical Diagnosis</td>
                                                <td>Quality Control</td>
                                                <td>Other</td>
                                                <td>Total</td>
                                            </tr>
                                            <tr>
                                                <td>Screening</td>
                                                <td>{{screeningProductName}}</td>
                                                <td>{{ screeningUsedForVCT }}</td>
                                                <td>{{ screeningUsedForPMTCT }}</td>
                                                <td>{{ screeningUsedForClinicalDiagnosis }}</td>
                                                <td>{{ screeningUsedForQualityControl }}</td>
                                                <td>{{ screeningUsedForOTHER }}</td>
                                                <td>{{ totalQtyUsedScreening }}</td>
                                            </tr>
                                            <tr>
                                                <td>Confirmatory</td>
                                                <td>{{confirmatoryProductName}}</td>
                                                <td>{{ confirmatoryUsedForVCT }}</td>
                                                <td>{{ confirmatoryUsedForPMTCT }}</td>
                                                <td>{{ confirmatoryUsedForClinicalDiagnosis }}</td>
                                                <td>{{ confirmatoryUsedForQualityControl }}</td>
                                                <td>{{ confirmatoryUsedForOTHER }}</td>
                                                <td>{{ totalQtyUsedConfirmatory }}</td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h5 class="pull-right">
                                                        <strong>TOTAL</strong>
                                                    </h5>
                                                </td>
                                                <td>{{ screeningUsedForVCT + confirmatoryUsedForVCT }}</td>
                                                <td>{{ screeningUsedForPMTCT + confirmatoryUsedForPMTCT }}</td>
                                                <td>{{ screeningUsedForClinicalDiagnosis + confirmatoryUsedForClinicalDiagnosis }}</td>
                                                <td>{{ screeningUsedForQualityControl + confirmatoryUsedForQualityControl }}</td>
                                                <td>{{ screeningUsedForOTHER + confirmatoryUsedForOTHER }}</td>
                                                <td>{{ totalQtyUsedScreening + totalQtyUsedConfirmatory }}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</template>
<script>
    import NodeProductMixin from '../../mixins/NodeProducts'
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import paginate from 'vuejs-paginate'
    var context = {}
    export default{
        data(){
            return {
                date:this.today(),
                dateFormat: 'yyyy-MM-dd',
                nodeId: this.$store.state.persistedState.node.id,
                dar:{
                    darItems:[]
                },
                pageNumber: 1,
                totalNumberOfPages: 0,
                pageSize: 20,
                screeningProduct:{},
                confirmatoryProduct:{},
                screeningProductName: '',
                confirmatoryProductName: '',
                nodeName: this.$store.state.persistedState.node.name,
                myFacilityDistrictProvince: {},
                productBalances: [],
                programs: []
            }
        },
        mixins:[
            NodeProductMixin, NodeProductDateBalanceMixin
        ],
        components: {
            paginate
        },
        beforeMount(){
            context = this
            context.loadPrograms()
            context.loadMyFacilityDistrictProvince()
            context.loadNodeProducts(context.$store.state.persistedState.node.id,
                "HIV")
            context.getTestKitsAvailability()
        },
        computed: {
            dateFormatted(){
                return context.formatDate(context.date)
            },
            hivProgram(){
                return context.programs.find(function(program){
                    return program.code === 'HIV'
                })
            },
            exportPDFURL(){
                var nodeId = context.$store.state.persistedState.node.id
                return "/report/download/hiv_tests_dar/PDF?nodeId=" + nodeId
                    + "&fromDate="+ context.dateFormatted+ "&toDate=" + context.dateFormatted
            },
            exportExcelURL(){
                var nodeId = context.$store.state.persistedState.node.id
                return "/report/download/hiv_tests_dar/XLS?nodeId=" + nodeId
                    + "&fromDate="+ context.dateFormatted+ "&toDate=" + context.dateFormatted
            },
            filteredDarItems(){
                var darItems = context.dar.darItems
                darItems.forEach(function (darItem) {
                    darItem.txnDate = context.parseDate( new Date(darItem.screeningTime), 'DD-MMM-YYYY')
                })
                return darItems
            },
            facilityName(){
                return context.$store.state.persistedState.facility.name
            },
            totalQtyUsedScreening(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.screeningResult !== null
                }).length
            },
            totalQtyUsedConfirmatory(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.confirmatoryResult !== null
                }).length
            },
            totalPositiveResults(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.finalResult === "REACTIVE"
                }).length
            },
            totalNegativeResults(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.finalResult === "NON_REACTIVE"
                }).length
            },
            totalIndeterminateResults(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.finalResult === "INDETERMINATE"
                }).length
            },
            screeningUsedForVCT(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.screeningResult !== null && darItem.purpose === 'VCT'
                }).length
            },
            screeningUsedForPMTCT(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.screeningResult !== null && darItem.purpose === 'PMTCT'
                }).length
            },
            screeningUsedForClinicalDiagnosis(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.screeningResult !== null && darItem.purpose === 'CLINICAL_DIAGNOSIS'
                }).length
            },
            screeningUsedForQualityControl(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.screeningResult !== null && darItem.purpose === 'QUALITY_CONTROL'
                }).length
            },
            screeningUsedForOTHER(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.screeningResult !== null && darItem.purpose === 'OTHER'
                }).length
            },
            confirmatoryUsedForVCT(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.confirmatoryResult !== null && darItem.purpose === 'VCT'
                }).length
            },
            confirmatoryUsedForPMTCT(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.confirmatoryResult !== null && darItem.purpose === 'PMTCT'
                }).length
            },
            confirmatoryUsedForClinicalDiagnosis(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.confirmatoryResult !== null && darItem.purpose === 'CLINICAL_DIAGNOSIS'
                }).length
            },
            confirmatoryUsedForQualityControl(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.confirmatoryResult !== null && darItem.purpose === 'QUALITY_CONTROL'
                }).length
            },
            confirmatoryUsedForOTHER(){
                return context.filteredDarItems.filter(function(darItem){
                    return darItem.confirmatoryResult !== null && darItem.purpose === 'OTHER'
                }).length
            },
            screeningProductSystemCalculatedBalance(){
                var productCode = context.screeningProduct.product.code
                return context.productBalances[productCode].balance
            },
            confirmatoryProductSystemCalculatedBalance(){
                var productCode = context.confirmatoryProduct.product.code
                return context.productBalances[productCode].balance
            }
        },
        methods : {
            loadProductBalances(){
                context.loadNodeProductDateBalances(context.dateFormatted, context.$store.state.persistedState.node.id, context.hivProgram.id)
            },
            loadDAR(){

                getHttpAuthenticatedWithLoadingFlag().get("/rest-api/hiv/hiv-dar/" + context.dateFormatted
                    + "/" + context.dateFormatted
                    + "/" + context.nodeId).then(function(response){
                    context.dar = response.data
                }).catch(function (error) {
                    console.log(error)
                })
            },
            getTestKitsAvailability(){
                getHttpAuthenticated().get("/hiv-test-product-availability?nodeId="+
                    context.$store.state.persistedState.node.id).then(function(response) {
                    context.screeningProduct = response.data.screeningProductAvailability
                    context.confirmatoryProduct = response.data.confirmatoryProductAvailability
                    context.screeningProductName = context.screeningProduct.product.primaryname
                    context.confirmatoryProductName = context.confirmatoryProduct.product.primaryname
                    context.loadProductBalances()
                    context.loadDAR()
                }).catch(function(err){
                    console.log(err)
                });
            },
            loadMyFacilityDistrictProvince(){
                getHttpAuthenticated().get('/rest-api/facility/my-district-and-province').then(function(response){
                    context.myFacilityDistrictProvince = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            loadPrograms(){
                getHttpAuthenticated().get("/programs").then(function (response) {
                    context.programs = response.data
                }).catch(function (error) {
                    console.log(error)
                })
            }
        }
    }

</script>
<style>
    .report-view-port{
        width: 960px;
        height: 800px;
        overflow: auto;
        /*box-shadow: 0 0 15px #222;*/
        border: 1px solid white;
        /*border-radius: 6px;*/
    }
    .grey-bg{
        text-align: center;
        background-color: #ddd;
    }
    .table{
        table-layout: fixed;
        width: 100%;
    }
    .table thead tr th,
    .table tbody tr td{
        max-width: 125px;
        height: 20px;
    }
    .align-center{
        text-align: center;
        vertical-align: middle !important;
    }
    .no-border{
        border: 0px!important;
    }
</style>
