<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span> <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="fa fa-hospital-o"></span> Offline R&R
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <modal v-model="showConfirmation" @ok="showConfirmation = false" effect="fade" :backdrop="false">
                        <div slot="modal-header" class="modal-header modal-header-info">
                            <h4 class="modal-title">
                                <b>Offline RnR creation</b>
                            </h4>
                            <!--  <h4 v-if="isInstallationType('FE')"  class="modal-title">
                                                              <b>CE Server Cannot Be reached</b>
                                                          </h4> -->
                        </div>
                        <div slot="modal-body" class="modal-body">
                            <span v-if="isInstallationType('DM')"> <p>Server Cannot Initiate R&R: Do you want to create R&R offline!</p></span>
                            <span v-if="isInstallationType('FE')"> <p>CE is not reachable ;Server Cannot Initiate R&R</p></span>
                        </div>
                        <!-- custom buttons -->
                        <div slot="modal-footer" class="modal-footer">

                            <button type="button" class="btn btn-success" @click="createRnROffline()">Ok</button>
                            <!-- <button v-if="isInstallationType('FE')" type="button" class="btn btn-danger" @click="showConfirmation = false">Ok
                                                         </button> -->
                            <button type="button" class="btn btn-danger" @click="showConfirmation = false">Cancel
                            </button>
                        </div>
                    </modal>

                </div>

                <!--<modal v-model="showErrorAlert" @ok="showErrorAlert = false" effect="fade">-->
                <!--<div slot="modal-header" class="modal-header modal-header-danger">-->
                <!--<h4 class="modal-title">-->
                <!--<b>Offline Requisition</b>-->
                <!--</h4>-->
                <!--</div>-->
                <!--<div slot="modal-body" class="modal-body">-->
                <!--<p>An error has occurred!</p>-->
                <!--</div>-->
                <!--&lt;!&ndash; custom buttons &ndash;&gt;-->
                <!--<div slot="modal-footer" class="modal-footer">-->
                <!--<button type="button" class="btn btn-danger" @click="showErrorAlert = false">Ok</button>-->
                <!--</div>-->
                <!--</modal>-->
                <pendingPc listOfPendingPCProducts:="productListWithoutPC" :closedHandler="closedHandler"
                           :showPendingPCModal="showPendingPCModal" :periodId="pcPeriod.id"
                           :programCode="rnr.programCode" :periodName="pcPeriod.name"></pendingPc>
                <tabs v-model="activeTab" justified>

                    <tab header="R&R Search">
                        <rnrSearch :fromServer="fromServer" :searchResult="searchResult" :search="getRnrs"
                                   :searchQueryObject="searchQueryObject" :prepare="prepareNewRnr"
                                   :openRnrHandler="openRnr" :periods="periods" :programs="myPrograms"
                                   :facilities="facilities"></rnrSearch>
                    </tab>
                    <tab header="R&R Detail" disabled>
                        <createRnr :clearMessage="clearMessage" :callbackResponse="synchResponse" :synch="synch"
                                   :adjustmentTypeList="adjustmentTypeList"
                                   :blankOfflineRequisitionLineItems="lineItems" :rnr="rnr" :periods="periods"
                                   :programs="programs" :facilities="facilities"></createRnr>
                    </tab>
                </tabs>
            </div>
        </div>
    </div>
</template>


<script>
    import tabs from 'vue-strap/src/Tabs'
    import tab from 'vue-strap/src/Tab'
    import createRnr from './offline-RnR/create'
    import rnrSearch from './offline-RnR/rnr-search'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import {getHttpAuthenticated} from '../../assets/js/http_with_token'
    import UserFacilityMixin from '../../mixins/UserFacility'
    import ProgramMixin from '../../mixins/Programs'
    import PeriodMixin from '../../mixins/Period'
    import RnrLineItemsMixin from '../../mixins/OfflineRnrLineItems'
    import AdjustmentTypeMixin from '../../mixins/AdjustmentType'
    import {convertToFacilityApprovedProduct} from '../../assets/js/products_helper'
    import modal from 'vue-strap/src/Modal'
    import Paginate from 'vuejs-paginate'
    import pendingPc from '../../components/stock/PendingPCModal'

    var context = {}

    export default ({
        data() {
            return {
                activeTab: 0,
                showPendingPCModal: false,
                rnr: {
                    periodId: undefined,
                    programCode: undefined,
                    periodName: undefined
                },
                pcPeriod: {
                    id: undefined,
                    programCode: undefined,
                    name: undefined
                },
                facilities: [],
                programs: [],
                nodePrograms: [],
                sortProgramsBy: 'code',
                periods: [],
                lineItems: [],
                searchQueryObject: {},
                blankOfflineRequisitionLineItems: [],
                adjustmentTypeList: [],
                searchResult: [],
                showConfirmation: false,
                productsWithoutPcListModalView: false,
                fromServer: false,
                dmInstallation: false,
                products: [],
                baseProductList: [],
                filteredList: [],
                search: '',
                productListWithoutPC: [],
                synchResponse: {
                    showMessage: false,
                    isSuccess: false,
                    messageType: "ERROR",
                    message: ""
                }


            }
        },
        components: {
            tabs,
            tab,
            createRnr,
            pendingPc,
            rnrSearch,
            'paginate': Paginate,
            'modal': modal
        },
        mixins: [
            RnrLineItemsMixin, UserFacilityMixin, ProgramMixin, PeriodMixin, AdjustmentTypeMixin
        ],
        beforeMount() {
            context = this,
                context.loadFacilities(),
                context.loadNodePrograms(),
                context.loadPrograms(),
                context.loadAllAdjustemntTypes();
        },
        filters: {
            capitalize: function (columnObj) {
                return columnObj['value']
            }
        },
        watch: {
            activeTab: function (value) {
                if (parseInt(value) === parseInt(0)) {
                    context.$validator.reset()
                    context.searchQueryObject = {}
                    context.searchResult = []
                }
            }
        },
        methods: {
            clearMessage: function () {

                context.synchResponse.showMessage = false;
                context.synchResponse.isSuccess = true;
                context.synchResponse.messageType = "";
                context.synchResponse.message = "";

            }, closedHandler() {
                context.showPendingPCModal = false;
            },
            openRnr(rnr) {
                context.rnr = rnr
                context.rnr.id = rnr.id
                context.rnr.chkFlagForSubmission = rnr.status === "READY_FOR_SUBMISSION" ? true : false;
                var dmInstance = this.$store.state.persistedState.installationType;
                context.rnr.facility = dmInstance === 'DM' ? context.searchQueryObject.facilityId : this.$store.state.persistedState.facility;
                context.rnr.program = context.searchQueryObject.programCode
                context.rnr.period = rnr.periodId
                context.rnr.isForupdate = true
                context.rnr.dmInstallation = context.dmInstallation;
                context.checkProductsWithoutPCPrevMonth(context.rnr, false);


            },
            clear() {
                context.rnr = {};
                context.rnrs = [];
                //  context.loadPrograms(null);
                context.activeTab = 0;

            },

            prepareNewRnr: function (rnr) {
                var dmInstance = this.$store.state.persistedState.installationType;
                var facility = dmInstance === 'DM' ? context.searchQueryObject.facilityId : this.$store.state.persistedState.facility;
                var programCode = context.searchQueryObject.programCode.code;
                var periodStart;
                var periodEnd;
                var emergency = context.searchQueryObject.rnrType == 'Emergency' ? true : false;
                var periodId;
                var periodName;
                var programName;
                if (rnr !== null && rnr.status === 'Not Started') {
                    periodId = rnr.periodId;
                    context.rnr.periodId = rnr.periodId;
                    periodName = rnr.periodName;
                    periodStart = rnr.periodStart;
                    periodEnd = rnr.periodEnd;
                    context.rnr.id = rnr.id;
                    context.rnr.emergency = rnr.emergency;
                } else {
                    periodId = context.searchQueryObject.periodId.id;
                    context.rnr.periodId = context.searchQueryObject.periodId.id;
                    periodName = context.searchQueryObject.periodId.name;
                    periodStart = context.searchQueryObject.periodId.startdate;
                    periodEnd = context.searchQueryObject.periodId.enddate;
                }
                context.rnr = {};
                context.rnr.emergency = emergency;
                this.$store.state.persistedState.user.id;
                context.rnr.periodName = periodName;
                context.rnr.periodId = periodId;
                context.rnr.facility = facility;
                context.rnr.program = context.searchQueryObject.programCode
                context.rnr.period = context.searchQueryObject.periodId
                context.rnr.facilityCode = facility.code;
                context.rnr.facilityId = facility.id;
                context.rnr.facilityName = facility.name;
                context.rnr.programCode = context.searchQueryObject.programCode.code;
                context.rnr.programName = context.searchQueryObject.programCode.name;
                context.rnr.programId = context.searchQueryObject.programCode.id;
                context.rnr.periodStart = periodStart;
                context.rnr.periodEnd = periodEnd;
                context.rnr.isForupdate = false
                context.checkProductsWithoutPCPrevMonth(context.rnr, true);


            },
            getRnrs: function (event) {

                event.preventDefault()
                context.searchRnrs()
            },
            createRnROffline: function () {
                // event.preventDefault()
                if (context.rnr === null || context.rnr === undefined || context.rnr.dmInstance) {
                    var programCode = context.searchQueryObject.programCode.code;
                    var periodId = context.searchQueryObject.periodId.id;
                    context.generateRnrOffline(programCode, periodId);
                } else {
                    context.lineItems = context.products;
                    context.setPrevAmcAndDispense();
                    context.activeTab = 1
                }

                context.showConfirmation = false;
            },
            checkProductsWithoutPCPrevMonth: function (rnr, newRnr) {
                getHttpAuthenticatedWithLoadingFlag().get("/rest-api/offline-rnr/previos-period/" + rnr.periodId).then(function (response) {

                    var prevPeriod = response.data;
                    context.pcPeriod = prevPeriod;
                    getHttpAuthenticatedWithLoadingFlag().get("/rest-api/node/node-products-without-pc?periodid=" + prevPeriod.id
                        + "&scheculecode=" + 'MONTHLY' + "&programcode=" + rnr.programCode).then(function (response) {

                        var nodeProducts = response.data
                        var productList = [];
                        if (nodeProducts != null && nodeProducts.length > 0) {
                            //console.log("should open a modal"+ JSON.stringify(context.rnr));
// context.productListWithoutPC.length = 0
                            for (var i = 0; i < nodeProducts.length; i++) {
                                productList.push(convertToFacilityApprovedProduct(nodeProducts[i]))
                            }
                            context.showPendingPCModal = true;
                            context.productListWithoutPC = productList;
                        }
                        else {
                            context.checkProductsWithoutPC(rnr, newRnr);
                        }

                    }).catch(function (e) {
                        console.log(e)
                    })

                }).catch(function (e) {
                    console.log(e)
                })

            },
            checkProductsWithoutPC: function (rnr, newRnr) {
                context.pcPeriod = {
                    id: rnr.periodId,
                    name: rnr.periodName
                };

                getHttpAuthenticatedWithLoadingFlag().get("/rest-api/node/node-products-without-pc?periodid=" + rnr.periodId
                    + "&scheculecode=" + 'MONTHLY' + "&programcode=" + rnr.programCode).then(function (response) {
                    var nodeProducts = response.data
                    var productList = [];
                    if (nodeProducts != null && nodeProducts.length > 0) {
                        //console.log("should open a modal"+ JSON.stringify(context.rnr));
                        // context.productListWithoutPC.length = 0
                        for (var i = 0; i < nodeProducts.length; i++) {
                            productList.push(convertToFacilityApprovedProduct(nodeProducts[i]))
                        }
                        context.showPendingPCModal = true;
                        context.productListWithoutPC = productList;
                    }
                    else {
                        if (newRnr) {
                            context.generateRnr(rnr.programCode, rnr.periodId);
                        }
                        else {
                            //console.log("opened Rnr is"+ JSON.stringify(context.rnr));
                            context.loadRnrAdjustments();
                            context.activeTab = 1;

                        }
                    }
                }).catch(function (e) {
                    console.log(e)
                })
            }

        }
    })
</script>
<style>
    .record:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .highlighted-red {
        color: #F00;
        text-decoration: underline;
    }
</style>
