<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-flag"></span> R&R Submission Status Report
                            </li>
                        </ol>
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-flag"></span>  R&R Submission Status Report</h4>
                <hr>
                <div class="well well-sm">
                    <div class="row">
                        <form>
                            <div class="container">

                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Select Program</label>
                                        <select v-validate="'required'" name="programCode" v-model="searchFilter.programId" class="form-control">
                                            <option v-for="program in myPrograms" :key="program.id" :value="program.id">{{program.name}}</option>
                                        </select>
                                        <span v-show="errors.has('program')" class="help is-danger">{{ errors.first('program') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Select Date From</label><br>
                                        <datepicker format="dd-MMM-yyyy"
                                                    v-validate="'required'" name="dateFrom"
                                                    v-model="searchFilter.dateFrom"
                                                    :placeholder="'yyyy-MM-dd'" ></datepicker><br>
                                        <span v-show="errors.has('dateFrom')" class="help is-danger">{{ errors.first('dateFrom') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Select To Date </label><br>
                                        <datepicker format="dd-MMM-yyyy"
                                                    v-validate="'required'" name="dateTo"
                                                    v-model="searchFilter.dateTo"
                                                    :placeholder="'yyyy-MM-dd'" ></datepicker><br>
                                        <span v-show="errors.has('dateTo')" class="help is-danger">{{ errors.first('dateTo') }}</span>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Search Result</div>
                    <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <span v-if="searchResult === undefined">Please provide your search criteria and click search. </span>
                        <span v-else-if="searchResult.length == 0">  No record found with the selected parameters</span>

                        <template  v-else>
                         <span>  Showing <strong>{{resultSetCount}} </strong> Records</span>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>R&R Id</th>
                                <th>program </th>
                                <th>Facility</th>
                                <th class="text-right">Period</th>
                                <th class="text-right">Status</th>
                                <th class="text-right">Created Date</th>
                                  <th class="text-right">Action</th>
                            </tr>
                            </thead>
                             <tbody >
                             <template v-for="(rnrStatus,  index) in searchResult"> <!-- outer transaction row -->
                                <tr @click="showDetail($event, rnrStatus)" v-bind:class="{ 'selected': rnrStatus.showDetail}">
                                    <td style="height: 38px;">{{index+1}}</td>
                                    <td  >{{rnrStatus.id}}</td>
                                    <td>{{rnrStatus.program}}</td>
                                    <td>{{rnrStatus.facility}}</td>
                                    <td >{{rnrStatus.period}}</td>
                                    <td  class="text-right">{{rnrStatus.status}}</td>
                                    <td  class="text-right">{{rnrStatus.createdDate}}</td>
                                    <td class="text-right"><a href="" @click="showDetail($event, rnrStatus)">Detail</a></td>
                                </tr>
                                 <tr class="sub-table"  v-if="rnrStatus.showDetail && rnrStatus.statusHistoryReportList!=null && rnrStatus.statusHistoryReportList.length > 0">
                                     <td colspan="4" :rowspan="rnrStatus.statusHistoryReportList.length+1"></td>
                                     <td>R&R Status Id</td>
                                     <td class="text-right">Status</td>
                                     <td class="text-right">Remark</td>
                                 </tr>
                                 <tr v-if="rnrStatus.showDetail" class="sub-table" v-for="history in rnrStatus.statusHistoryReportList">

                                     <td>{{history.id}}</td>
                                     <td class="text-right">{{history.status}}</td>
                                     <td class="text-right">{{history.remark}}</td>
                                 </tr>
                             </template>
                        </tbody>
                        </table>
                    </template>
                    </div>
                </div>
                </div>
                </div>


            </div>
        </div>



    </div>


</template>
<script>

    import Paginate from 'vuejs-paginate'
    import {getHttpAuthenticated} from '../../assets/js/http_with_token'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import Programs from '../../mixins/Programs'
    import AlertMixin from '../../mixins/AlertMixin'
    import {_} from 'vue-underscore';

    var context = {}
    export default ({
        data() {
            return {
                searchFilter : {
                    dateFrom: '',
                    dateTo:''
                },
                programs: [],
                nodePrograms: [],
                sortProgramsBy: 'code',
                searchResult : [],
                productFilter : undefined
            }
        },
        mixins:[
            Programs,
            AlertMixin
        ],
        beforeMount () {
            context = this
            context.loadNodePrograms()
            context.loadPrograms()
        },

        components: {
            'paginate': Paginate,
        },
        computed : {
            resultSetCount : function() {
                return context.searchResult.length;
            },
            filteredProductStatus : function(){
                return  context.searchResult.filter(function(item){
                    return context.productFilter == undefined ||
                    item.productcode.toLowerCase().indexOf(context.productFilter.toLowerCase()) > -1
                })
            }

        },
        watch: {
            searchFilter : {
                handler(){
                    if(!(context.searchFilter.dateFrom === '' || context.searchFilter.programId == undefined))
                        context.search()
                },
                deep: true
            }
        },
        methods: {

            search : function(event){
                if(event !== undefined)
                    event.preventDefault()

                context.searchFilter.nodeId = this.$store.state.persistedState.node.id;

                var urlRnrPredicate = +context.searchFilter.programId+"/0/0/"+context.searchFilter.dateFrom+"/"+context.searchFilter.dateTo+'/false';
                getHttpAuthenticated().get('/rest-api/offline-rnr/rnr-submission-status/'+urlRnrPredicate).then(function(response){


                    context.searchResult = _.map(response.data, function(item){
                        item.showDetail = false;
                        return item; });

                }).catch(function(error){
                    console.log(error)
                })

            },

            showDetail : function(event, rnr){

                event.preventDefault();
                // context.hideAllTransactionDetail();
                context.showSelectedRnRDetail(rnr);
            },
            showSelectedRnRDetail : function (rnr) {
                rnr.showDetail = !rnr.showDetail;
            },

            clearSearchForm : function(event){
                event.preventDefault();
                context.searchFilter = {
                        dateFrom : ''
                }
            }

        }
    })
</script>

<style>
    .sub-table{
        background-color: #ebf1f6  !important;

    }
    .sub-table  td, .sub-table th{
        border : 1px solid #b3e1ff !important
    }
    .sub-table th{
        background-color: aliceblue !important;
    }
    .table-hover tr:hover{
        cursor: pointer;
    }

    .sub-table tr.batch td{
        background-color: #c4e2ff;
        border-bottom: 1px solid #94caff !important;
        border-right: 1px solid #94caff !important;
    }

    .table tr.selected{
        font-weight: bold;
        font-size: 13px;
    }

</style>
