<template>
    <modal v-model="showModal" @ok="showModal = false" effect="fade" :backdrop="false" width="50%">

        <div slot="modal-header" class="modal-header modal-header-primary">
            <h4 class="modal-title">
                <b v-if="node.id === undefined">New Node</b>
                <b v-if="node.id !== undefined">Edit Node</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <div class="row">
                <form>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input name="name" v-validate="'required'" v-model="editingNode.name" type="text" class="form-control"
                                   placeholder="Node Name"
                                   id="name">
                            <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name')
                                                }}</span>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group basic-textarea">
                                    <label for="descrition">Description</label>
                                    <textarea placeholder="Node Description" v-model="editingNode.description" class="form-control" id="descrition"
                                              rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="editingNode.visibleForLogin">Is Visible For Login
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select v-validate="'required'"  v-model="editingNode.type" name="type" id="type" class="form-control">
                                        <option v-for="type in nodeTypeList" v-bind:key="type.id"
                                                :value="type.id">{{type.description}}
                                        </option>
                                    </select>
                                    <span v-show="errors.has('type')" class="help is-danger">{{ errors.first('type')}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="fixed_header table table-striped table-bordered table-hover dataTable">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Program</th>
                                <th>Consumption Point</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="nodeProgram in filteredNodePrograms">
                                <td><input v-model="nodeProgram.selectedNow"
                                           type="checkbox"></td>
                                <td>{{nodeProgram.programCode}}</td>

                                <td><input :disabled="!nodeProgram.selectedNow"
                                           v-model="nodeProgram.dispensingPoint" type="checkbox"
                                           name="row-3-position"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>
        <!-- custom buttons -->
        <div slot="modal-footer" class="modal-footer">
            <button class="btn btn-success" @click="submitForm(node)" v-if="node.id === undefined"><i class="fa fa-save"></i> Save</button>
            <button class="btn btn-primary" @click="submitForm(node)" v-if="node.id !== undefined"><i class="fa fa-save"></i> Update</button>
            <button class="btn btn-danger" @click="closedHandler()"> Cancel</button>
        </div>
    </modal>
</template>
<script>
    import modal from 'vue-strap/src/Modal'
    // import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated} from '../../assets/js/http_with_token'
    var context = {}
    export default{
        name: 'NodeForm',
        props:{
            editingNode:{
                type: Object
            },
            showNodeModal:{
                type:Boolean,
                default: false
            },
            saveNodeHandler:{
                type:Function
            },
            updateNodeHandler:{
                type:Function
            },
            closedHandler:{
                type:Function
            },
            nodePrograms:{
                type:Array
            },
            nodeTypes:{
                type:Array
            }
        },
        data(){
            return {
                node: {},
                showModal: false,
                filteredNodePrograms: [],
                nodeTypeList: [],
            }
        },
        components:{
            modal
        },
        beforeMount(){
            context = this
        },
        watch:{
            editingNode: function(value){
                context.node = value
            },
            showNodeModal: function(value){
                context.showModal = value
            },
            nodePrograms: function(value){
                context.filteredNodePrograms = value
            },
            nodeTypes: function(value){
                context.nodeTypeList = value
            }
        },
        methods:{
            submitForm(node){
                context.$validator.validateAll().then(function (result) {
                    if(result) {
                        if(node.id === undefined){
                            context.saveNodeHandler(node)
                        }else{
                            context.updateNodeHandler(node)
                        }

                    }
                })
            }
        }
    }
</script>
<style>
    .modal-dialog{
        margin: 100px auto;
    }
    .fixed_header{
        width: 400px;
        table-layout: fixed;
        border-collapse: collapse;
    }

    .fixed_header tbody{
        display:block;
        width: 100%;
        overflow: auto;
        height: 220px;
    }

    .fixed_header thead tr {
        display: block;
    }

/*    .fixed_header thead {
        background: black;
        color:#fff;
    }*/

    .fixed_header th, .fixed_header td {
        padding: 5px;
        text-align: left;
        width: 200px;
    }
</style>
