/*
Author: Start Bootstrap - http://startbootstrap.com
'SB Admin' HTML Template by Start Bootstrap

All Start Bootstrap themes are licensed under Apache 2.0.
For more info and more free Bootstrap 3 HTML themes, visit http://startbootstrap.com!
*/

/* ATTN: This is mobile first CSS - to update 786px and up screen width use the media query near the bottom of the document! */

/* Global Styles */
body{
  font-size:12px;
  font-family: Arial, Tahoma;
}

label{
  margin-bottom: 4px;
}

.remove-padding{
    padding: 0px!important;
}

.form-group{
  margin-bottom: 10px;
}

.form-control{
  padding: 2px 5px;
  height: auto;
  font-size : 12px;
}

.table{
  margin-bottom: 10px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
  padding: 4px;
}

.panel{
  margin-bottom: 10px;
}

.panel-heading{
  padding: 10px;
}

.panel-title{
  font-size: 14px;
}

.panel-body{
  padding: 10px;
}

.pagination{
  margin: 0;
  float: right;
}


.breadcrumb{
  margin-bottom: 10px;
}

.well{
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 4px;
}

.selectable-row{
  cursor: pointer;
}

#app{
  height: 100%;
}
#wrapper {
  padding-left: 0;
}

.page-wrapper {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  background-color: #FFF;
}

/* Nav Messages */

.messages-dropdown .dropdown-menu .message-preview .avatar,
.messages-dropdown .dropdown-menu .message-preview .name,
.messages-dropdown .dropdown-menu .message-preview .message,
.messages-dropdown .dropdown-menu .message-preview .time {
  display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
  float: left;
  margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
  font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
  font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
  font-size: 12px;
}


/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 400px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse{
  max-height : 100%;
}

@media (min-width: 1200px){
  .container {
    width: 100% !important;
  }
}
/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  .page-wrapper {
    padding: 15px 0px 15px 250px;
  }

  .container{
    width: 100%;
  }
  .navbar-inverse{
    background-color: #3c8dbc;
    border-color: transparent;
  }

  .navbar-inverse .navbar-nav > li > a{
    color : #fff;
  }

  .navbar-inverse .navbar-brand{
    color: #fff;
  }

  .navbar-brand{
    width: 225px;
    background-color: #367fa9;
    border-bottom: 0 solid transparent;
    padding: 10px 20px 10px 10px;
  }

  /* Side Nav */

  .side-nav {
    margin-left: -225px;
    left: 225px;
    width: 225px;
    position: fixed;
    top: 50px;
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: #222d32;
    overflow-y: auto;
  }

  .side-nav .search-box{
    width: 100%;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
    position: relative;
    min-width: 225px;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
    color: #999999;
    padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
    color: #fff;
    background-color: #080808;
  }

  .side-nav>li>a {
    width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
    background-color: #080808;
  }


  .navbar-nav{
    float : right !important;
  }
  /* Nav Messages */

  .messages-dropdown .dropdown-menu {
    min-width: 300px;
  }

  .messages-dropdown .dropdown-menu li a {
    white-space: normal;
  }

  .modal-dialog{
      margin: 250px auto;
  }

}
.action_btn{
  min-width: 40px;
  margin-right:5px;
  height: 15px;
  display: block !important;
  position: relative;
  float: left;
  background-position: left;
  padding-left: 20px;
  padding-bottom : 5px;
  font-size: 12px!important;
  color: #333;
}
.error{
  color : #F00;
  letter-spacing: 1px;
  font-style: italic;
  font-size : 12px;

}
.right{
  float : right !important;
}
.btn-panel{
  background-color:#f0f0f0;
  padding-top:10px;
  padding-bottom: 5px;
}

.input.is-danger, .textarea.is-danger {
  border-color: #ff3860;
}

.help.is-danger {
  color: #ff3860;
}

.action-buttons{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    z-index: 15;
    margin-left: -25px;
    padding-top: 10px;
}