<template>
    <div id="wrapper">
        <progress-indicator></progress-indicator>
        <div id="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="row">
                            <div class="col-md-11">
                                <div class="form-login">

                                    <form>
                                        <div class="row login-header">

                                            <div class="col-md-10">
                                                <h3 class="app-name">{{ $t("message.app_title") }}</h3>
                                            </div>

                                            <div class="col-md-2">
                                                <localeSelector></localeSelector>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="header-img"></div>
                                            </div>


                                            <div class="col-md-7">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3>Sign In</h3>
                                                    </div>
                                                </div>

                                                <div class="row form-elements">
                                                    <div class="col-md-10">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="alert alert-warning" v-if="sessionExpired">
                                                                    <strong>Sorry your Session has expired!</strong>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input v-validate="'required'" v-model='username' name="username"
                                                                       :class="['form-control input-sm chat-input input',{'is-danger': errors.first('username')}]"
                                                                       placeholder="username" type="text"/></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <span v-show="errors.has('username')" class="help is-danger">{{ errors.first('username') }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input v-validate="'required'" v-model="password"
                                                                       type="password"
                                                                       name="password"
                                                                       :class="['form-control input-sm chat-input input', { 'is-danger': errors.first('password')}]" placeholder="password" />
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label>{{ $t("message.lbl_node") }}</label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <select v-validate="'required'" name="nodes" id="" :class="['form-control input', {'is-danger': errors.first('nodes')}]" v-model="selectedNode">
                                                                    <option v-for="node in filteredNodeList" :key="node.id" :value="node.id">
                                                                        {{node.name}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <span v-show="errors.has('nodes')" class="help is-danger">{{ errors.first('nodes') }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <button type="submit" class="btn btn-primary" v-on:click="logIn($event)">{{ $t("message.lbl_login") }}</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <transition name="bounce">
                                                                <div v-if="authFailed" class="row">
                                                                    <div class="container">
                                                                        <alert placement="bottom" type="danger">
                                                                            <span class="icon-info-circled alert-icon-float-left"></span>
                                                                            <strong>Invalid Credentials!</strong>
                                                                            <p>please provide a valid username and password.</p>
                                                                        </alert>
                                                                    </div>
                                                                </div>
                                                            </transition>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </form>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    import alert from 'vue-strap/src/Alert'
    import store from '../store'
    import router from '../router'
    import {createHttpWithHeaders} from '../assets/js/http_common'
    import {getHttpAuthenticated} from '../assets/js/http_with_token'

    const sha256 = require('sha256')

    var httpInstance = createHttpWithHeaders({})

    var context = {}

    export default({
        data(){
            return {
                lang: this.$store.state.persistedState.lang,
                nodes: [],
                selectedNode: '',
                username: '',
                password: '',
                userNodeRoleRights: [],
                http_errors: [],
                userId: 0,
                loggedInUser:{},
                authFailed: false
            }
        },
        components: {
            alert
        },
        computed:{
            filteredNodeList(){
                return context.nodes.filter(function(node){
                    return node.visibleForLogin
                })
            },
            authHeaders(){
                return {
                    'X-Auth-Username': context.username,
                    'X-Auth-Password': sha256(context.password)
                }
            },
            sessionExpired(){
                return context.$store.state.persistedState.sessionExpired
            }
        },
        beforeMount(){
            context = this
            if(!context.$store.state.persistedState.lang){
                context.$store.dispatch('setLang', 'en')
            }
            context.loadNodes()
            context.loadMessages()
        },
        created(){
            var body = document.getElementsByTagName("body")
            body[0].classList.add("remove-padding")
        },
        mounted(){
            var wrapper = document.getElementById("wrapper")
            wrapper.classList.add('login-bg-selector')
        },
        beforeDestroy(){
            var body = document.getElementsByTagName("body")
            body[0].classList.remove("remove-padding")
        },
        methods: {
            loadMessages: function(){
                httpInstance.get('/messages').then(function(response){
                    var messagesObj = new Object()
                    var tempMessagesArray = Object.entries(response.data)
                    tempMessagesArray.forEach(function(message){
                        messagesObj[message[0]] = { "message": message[1] }
                    })
                    context.$store.dispatch('setMessages', messagesObj)
                }).catch(function(error){
                    console.log(error)
                })
            },
            logIn: function(event){
                event.preventDefault()
                context.authFailed = false
                context.$validator.validateAll().then(function(result){
                    if(result){
                        httpInstance = createHttpWithHeaders(context.authHeaders)
                        httpInstance.post('/api/v1/authenticate').then(function (response) {
                            context.http_errors = []
                            context.$store.dispatch('setAuthToken', response.data.token)
                            context.loadUserNodeRoleRights()
                        }).catch(function(error){
                            context.authFailed = true
                            context.http_errors.push(error)
                        })
                    }
                })

            },
            loadNodes: function(){
                httpInstance.get('/get-all-nodes').then(function(response){
                    context.nodes = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            loadUserNodeRoleRights: function(){

                var authRequest = {
                    user: {
                        username: context.username,
                        password: sha256(context.password)
                    },
                    nodeId: context.selectedNode
                }

                getHttpAuthenticated().post('/users/authenticate', authRequest).then(function (response) {
                    context.userId = response.data[0].userId
                    var unrrs = response.data

                    context.$store.dispatch('setAllUserNodeRoleRights', unrrs)

                    var userNodeIds = Array.from(response.data.map(unr => unr.nodeId))

                    userNodeIds = userNodeIds.filter((v, i, a) => a.indexOf(v) === i)

                    var userNodes = context.filteredNodeList.filter(node =>{
                        if(userNodeIds.includes(node.id)){
                            return node
                        }
                    })

                    context.$store.dispatch('setUserNodes', userNodes)

                    var userRoleRightsForCurrentNode = response.data.filter(function (unr) {
                        return unr.nodeId === authRequest.nodeId
                    })
                    var rightsForCurrentNode = Array.from(userRoleRightsForCurrentNode.map(unr => unr.rightName))
                    context.authFailed = rightsForCurrentNode.length === 0
                    if(rightsForCurrentNode.length === 0){
                        context.$router.push({ path: '/' })
                        return
                    }

                    context.$store.dispatch('setUserNodeRoleRights', rightsForCurrentNode)
                    context.loadUser()
                    context.loadNode()
                    context.loadAllSettings()
                }).catch(function(error){
                    console.log(error)
                    context.http_errors.push(error)
                    context.authFailed = true
                })
            },

            loadNode: function(){
                var currentNode = context.filteredNodeList.filter(function(node){
                    return (node.id == context.selectedNode)
                })[0]
                context.$store.dispatch('setNode', currentNode)
            },

            loadUser: function(){
                getHttpAuthenticated().get('/users/user/id/' + context.userId).then(function(response){
                    context.loggedInUser = response.data
                    context.$store.dispatch('setUser', response.data).then(function(){
                        getHttpAuthenticated().get('/rest-api/facility/my-district-and-province').then(function(response){
                            var facilityId = response.data.facilityId
                            if(facilityId !== undefined) {
                                getHttpAuthenticated().get('/rest-api/facility/' + facilityId).then(function (response) {
                                    context.$store.dispatch('setFacility', response.data).then(function () {
                                        context.$router.push({path: 'dashboard'})
                                    })
                                }).catch(function (error) {
                                    console.log(error)
                                })
                            }else{
                                context.$store.dispatch('setFacility', {}).then(function(response){
                                    context.$router.push({path: 'dashboard'})
                                })
                            }
                        }).catch(function(error){
                            console.log(error)
                        })
                    })
                }).catch(function(error){
                    context.http_errors.push(error)
                })
            },
            loadAllSettings : function(){
                getHttpAuthenticated().get("/applicationSetting/all").then(function (response) {
                    context.$store.dispatch('setSystemSettings', response.data)
                    var installationType = response.data.find(function (systemSetting) {
                        return systemSetting.key === 'installation.type'
                    })
                    context.$store.dispatch('setInstallationType', installationType.value)
                }).catch(function (e) {
                    console.log(e);
                });
            },
        }
    })
</script>
<style scoped>
    .login-bg-selector{
        background-color: #2a393a;
        height: 100%;
    }
    .form-login{
        margin-top: 30%;
        padding-left: -225px;
        box-shadow: 0 0 15px #222;
        border: 1px solid white;
        border-radius: 6px;
    }

    .form-login form{
        background-color: #FFF;
        min-height : 350px;
    }

    .form-control{
        padding : 10px;
        border-radius : 5px;
    }

    .header-img{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        background: url('../assets/img/login-bg.png') no-repeat;
        background-size: 100%;
    }

    .login-header {
        margin-left: 0;
        margin-right: 0;
        border-bottom: 1px solid #CCC;
        border-radius: 3px 3px 0 0;
        background: #DDD;
        background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 24%, #c5c5c5 100%);
        background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 24%, #c5c5c5 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #ffffff 24%, #c5c5c5 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #ffffff 24%, #c5c5c5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c5c5c5', GradientType=0);
    }

    .app-name{
        font-size: 1.3em;
        color: #747474;
        margin: 0;
        margin-right: 118px;
        line-height: 24px;
        padding: 14px;
        text-shadow: 0 1px 0 #FFF;
        font-weight: normal;
        font-family: 'HelveticaNeue-CondensedBold', Arial, sans-serif;
    }

    .form-elements .row{
        margin-bottom: 5px;
    }

    .form-elements .btn-primary{
        padding: 9px 42px;
        font-size: 1.15em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
        margin-bottom: 12px;
        background-color: #356b6f;
        background-image: -moz-linear-gradient(top, #42a7ad, #356b6f);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#42a7ad), to(#356b6f));
        background-image: -webkit-linear-gradient(top, #42a7ad, #356b6f);
        background-image: -o-linear-gradient(top, #42a7ad, #356b6f);
        background-image: linear-gradient(to bottom, #42a7ad, #356b6f);
        background-repeat: repeat-x;
        border-color: #42a7ad #42a7ad #356b6f;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff42a7ad', endColorstr='#ff004484', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    .bounce-enter-active {
        animation: bounce-in .5s;
    }
    .bounce-leave-active {
        animation: bounce-in .5s reverse;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

    @media (max-width: 786px) {
        .header-img{
            width: 50%;
            height: 50%;
            margin: 0 auto;
            background: url('../assets/img/login-bg.png') no-repeat;
            background-size: 100%;
        }
    }
</style>
