<template>
    <div>
        <form action="">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="search_id">Client ID(NUPIN/ART No/Names/Other)</label>
                        <input class="form-control" v-model="searchQueryObject.searchId" id="search_id" @input="getClients()">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="adv_gender">Gender</label>
                        <select v-model="searchQueryObject.sex" name="" id="adv_gender" class="form-control" @change="getClients()">
                            <option value="Female">Female</option>
                            <option value="Male">Male</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="adv_first_name">First Name</label>
                        <input v-model="searchQueryObject.firstName" id="adv_first_name" class="form-control" @input="getClients()">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="adv_last_name">Last Name</label>
                        <input v-model="searchQueryObject.lastName" id="adv_last_name" class="form-control" @input="getClients()">
                    </div>
                </div>


            </div>-->

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Date Of Birth</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>From</label> <br>
                        <datepicker v-model="fromDate" :placeholder="'MM/dd/yyyy'" @input="getClients()"></datepicker>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>To</label> <br>
                        <datepicker v-model="toDate" :placeholder="'MM/dd/yyyy'" @input="getClients()"></datepicker>
                    </div>
                </div>
            </div>
        </form>


        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h4 class="panel-title">Client List</h4>
                    </div>

                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover dataTable">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Birth date</th>
                                <th>NRC Number</th>
                                <th>ART Number</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="facilityClient in facilityClients" :key="facilityClient.id" v-on:click="openClientRecordHandler(facilityClient)" class="selectable-row">
                                <td>{{ facilityClient.firstName }}</td>
                                <td>{{ facilityClient.lastName }}</td>
                                <td>{{ facilityClient.sex }}</td>
                                <td>{{ new Date(facilityClient.dateOfBirth) | formatDate }}</td>
                                <td>{{ facilityClient.nrcNumber }}</td>
                                <td>{{ facilityClient.artNumber }}</td>
                                <td>
                                    <a :href="'/facilityClient?clientId='+facilityClient.id" class="btn btn-default btn-xs">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>
                        <select v-model="pageSize" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>records per page</label>
                </div>
            </div>
            <div class="col-md-4">
                <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
            </div>
            <div class="col-md-6">
                <paginate
                        :page-count="totalNumberOfPages"
                        :click-handler="setPage"
                        :prev-text="'Prev'"
                        :next-text="'Next'"
                        :container-class="'pagination pull-right'">
                </paginate>
            </div>
        </div>
    </div>

</template>
<script>
    import paginate from 'vuejs-paginate'
    import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated} from '../../../assets/js/http_with_token'
    var context = {}
    export default{
        props:{
            openClientRecordHandler: {
                type: Function,
                default: function(){}
            }
        },
        components: {
            paginate
        },
        beforeMount(){
            context = this
        },
        mounted(){
            context.getClients()
        },
        data(){
            return{
                pageSize: 10,
                pageNumber: 1,
                totalNumberOfPages: 0,
                fromDate: '',
                toDate: '',
                searchResult: [],
                searchQueryObject: {
                    searchId: '',
                    from: null,
                    to: null,
                    firstName: null,
                    lastName: null,
                    sex: null,
                    artNumber: null,
                    nrcNumber: null
                }
            }
        },
        computed:{
            facilityClients:{
                get: function(){
                    var pages = context.searchResult.length / this.pageSize
                    context.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)
                    var pageSize = parseInt(context.pageSize)
                    var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
                    if (pageNumber > context.totalNumberOfPages) {
                        pageNumber = context.totalNumberOfPages
                    }
                    var startingIndex = (pageNumber - 1) * pageSize
                    var endingIndex = startingIndex + pageSize

                    var paginatedFilteredList = context.searchResult.slice(startingIndex, endingIndex)

                    return paginatedFilteredList
                }
            }
        },
        methods:{
            setPage: function (pageNumber) {
                context.pageNumber = pageNumber
            },
            getClients: function(){
                context.searchClients()
            },
            searchClients: function(){
                context.searchQueryObject.from = context.fromDate ? new Date(context.fromDate).getTime() : null
                context.searchQueryObject.to = context.toDate ? new Date(context.toDate).getTime() : null
                if(context.searchQueryObject.artNumber===''){
                    context.searchQueryObject.artNumber = null
                }
                if(context.searchQueryObject.nrcNumber===''){
                    context.searchQueryObject.nrcNumber = null
                }

                if(context.searchQueryObject.searchId !== ''){
                    if(context.searchQueryObject.searchId.length > 2 ){
                        getHttpAuthenticated().post('/advanced-arv-client-search', context.searchQueryObject).then(function(response){
                            context.searchResult = response.data
                        }).catch(function(error){
                            console.log(error)
                        })
                    }
                }else{
                    context.searchResult = []
                }
            }
        }
    }
</script>
