<template>
    <div class="container">
        <changedosage :showChangeDosageModal="showChangeDosageModal" :closedHandler="changeDosageModalClosed" :saveDosageHandler="saveDosage"></changedosage>
        <changeregimen :showChangeRegimenModal="showChangeRegimenModal" :closedHandler="changeRegimenModalClosed" :saveRegimenHandler="saveRegimen"></changeregimen>
        <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :title="alertTitle" :showConfirmAlert="showConfirm"
               :okConfirmHandler="okConfirmClicked"
               :message="alertMessage" :closeHandler="closeAlert"></alert>
        <div class="row" v-if="artPatientRecord.appointmentDate!==null">
            <div class="col-md-12">
                <div class="alert alert-warning">
                    <h5 style="margin: 0px; padding:5px; margin: 0px;    padding: 5px;">The next appointment date for this client is <strong>{{ new Date(artPatientRecord.appointmentDate) | formatDate }}</strong>
                        <button v-if="hasPermission('OVERRIDE NEXT APPOINTMENT DATE FOR ARV')" class="btn btn-default btn-sm" @click="resetNextAppointmentDate(artPatientRecord.client.id)"><i class="fa fa-refresh"></i> Reset</button>
                    </h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label >First Name</label>
                    <input class="form-control" :value="artPatientRecord.client.firstName" disabled>
                </div>

                <div class="form-group">
                    <label >Last Name</label>
                    <input class="form-control" :value="artPatientRecord.client.lastName" disabled>
                </div>

                <div class="form-group">
                    <label >NRC Number</label>
                    <input class="form-control" :value="artPatientRecord.client.nrcNumber" disabled>
                </div>

                <div class="form-group">
                    <label>Date</label>
                    <br>
                    <datepicker v-model="txnDate" :format="dateFormat" @input="loadProductBalances()"></datepicker>
                </div>

                <div class="form-group">
                    <label >Dispenser</label>
                    <select v-model="dispenserId" name="cmb-dispenser" id="" class="form-control">
                        <option v-for="user in users" :value="user.id" :key="user.id">{{ user.firstname + " " + user.lastname }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2" v-if="artPatientRecord.client.artNumber">

                <div class="form-group">
                    <label >Art Number</label>
                    <input class="form-control" :value="artPatientRecord.client.artNumber" disabled>
                </div>

                <div class="form-group">
                    <label >Number of days</label>
                    <input class="form-control" placeholder="Enter Number of days..." v-model="numberOfDays" :disabled="artPatientRecord.appointmentDate!==null">
                </div>

                <div class="form-group">
                    <label>Current Regimen
                    </label>
                    <input class="form-control" :value="currentRegimen" disabled>

                    <button class="btn btn-xs btn-default" v-on:click="changeRegimen()">
                        <i class="fa fa-edit"></i> change</button>
                </div>


            </div>
            <div class="col-md-3" v-if="artPatientRecord.client.artNumber">

                <div class="form-group">
                    <label >Product Combination</label>
                    <select v-model="productCombinationId" @change="loadCombinationProducts()" name="cmb-dispenser" class="form-control">
                        <option v-for="rcp in artPatientRecord.regimenCombos" :value="rcp.id" :key="rcp.id">{{ rcp.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label >
                        <strong>Regimen Products</strong>
                    </label>
                    <table class="table table-striped table-bordered table-hover table-responsive dataTable">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Dosage</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="product in regimenProducts" :key="product.productCode" class="selectable-row">
                            <td>{{ product.productCode }}</td>
                            <td>{{ product.primaryName }}</td>
                            <td>{{ product.dosageString }} <button class="btn btn-xs btn-default" v-on:click="changeDosage(product)"><i class="fa fa-edit"></i></button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <div :class="'col-md-' + prescriptionPanelWidth " v-if="prescriptions.length > 0">
                <div class="row prescription-box" >
                    <label><strong>Prescription(s)</strong></label>
                    <hr>
                    <div v-for="prescription in prescriptions">
                        <p>Date: <strong>{{ prescription.date | formatDate}}</strong></p>
                        <div id="card">
                            <table class="table table-striped table-bordered table-hover table-responsive dataTable">
                                <thead>
                                <tr>
                                    <th><span style="width: 100%;display:block;text-align: center;">Fill All/None</span>
                                        <input type="checkbox" style="width: 100%" @input="fillAllProducts($event)" :checked="chkFillAllChecked" id="chkFillAll"></th>
                                    <th>Product Code</th>
                                    <th>Product Name</th>
                                    <th>Dosage</th>
                                    <th># Days</th>
                                    <th>Substitute with</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="prescriptionDrug in prescription.prescriptionDrugs"
                                    :style="{color: prescriptionDrug.available || prescriptionDrug.substitutedWith !== '' ? 'inherit': 'red' }">
                                    <td>
                                        <input :id="'chkFill-'+ prescriptionDrug.id" type="checkbox" v-model="prescriptionDrug.fulfilled" style="width: 100%" @input="fillProduct(prescriptionDrug, $event.target)">
                                    </td>
                                    <td>{{prescriptionDrug.productCode}} <strong v-if="prescriptionDrug.substitutedWith !== '' ">( {{prescriptionDrug.substitutedWith.productCode}} )</strong></td>
                                    <td>{{prescriptionDrug.productName}} <strong v-if="prescriptionDrug.substitutedWith !== '' ">( {{prescriptionDrug.substitutedWith.productName}} )</strong></td>
                                    <td>{{prescriptionDrug.dosage}}</td>
                                    <td>
                                        <input type="text" v-model="prescriptionDrug.duration" class="form-control" @input="populatePrescriptionProducts()"/>
                                    </td>
                                    <td>
                                        <select v-if="!prescriptionDrug.available" name="cmbSubstituteProduct" class="form-control" v-model="prescriptionDrug.substitutedWith" @change="fillProduct(prescriptionDrug,undefined)">
                                            <option value=""></option>
                                            <option v-for="nodeProduct in nodeProductsForPrescription" :value="nodeProduct">{{nodeProduct.productCode + " - " + nodeProduct.productName}}</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <!--<button class="btn btn-success" @click="displayPrescriptionDrugs()">Save</button>-->
                        </div>
                    </div>
                </div>
            </div>
            <div :class="'col-md-' + vitalsPanelWidth " v-if="artPatientRecord.client.artNumber">
                <vitals :vitals="vitals" :cd4Count="cd4Count" :viralLoad="viralLoad"></vitals>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <dispensationproductbatches :primaryButtonCaption="'Dispense'" :nodeProducts="nodeProductList" :selectedProduct="selectedProduct" :items="transactionProducts" :transactionHandler="saveDispensation"
                                            :artPatientRecord="artPatientRecord"
                                            :prescriptionItems="prescriptionTransactionProducts"
                                            :stockStatus="stockStatus"
                                            :transactionProductBatchChangedHandler="transactionProductBatchChanged"
                                            :alertErrorHandler="alertError" :alertInfoHandler="alertInfo" :alertConfirmHandler="confirm"></dispensationproductbatches>
            </div>
        </div>



    </div>
</template>
<script>
    import moment from 'moment'
    import checkbox from 'vue-strap/src/Checkbox'
    import changeregimen from './ChangeRegimen'
    import changedosage from './ChangeDosage'
    import dispensationproductbatches from './DispensationProductBatches'
    import vitals from './Vitals'
    import ARVNodeProductsMixin from '../../../mixins/PharmacyNodeProducts'
    import AlertMixin from '../../../mixins/AlertMixin'
    import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated, getHttpAuthenticatedWithCallBack} from '../../../assets/js/http_with_token'
    import Permissions from '../../../mixins/Permissions'
    var context = {}
    export default{
        props:{
            client: {
                type: Object
            },
            completeClientRecord: {
                type: Object
            },
            arvClientResult:{
                type: Object
            },
            openClientRecordHandler:{
                type: Function,
                default: function(){}
            },
            openCompleteClientRecordHandler:{
                type: Function,
                default: function(){}
            }
        },
        data(){
            return {
                showChangeRegimenModal: false,
                showChangeDosageModal: false,
                facilityClient: {},
                artPatientRecord: {
                    appointmentDate: '',
                    client:{},
                    defaultCombo: {},
                    facilityClientCD4Count: {},
                    facilityClientViralLoad: {},
                    facilityClientVitals: {},
                    products: {},
                    regimenCombos: []
                },
                users:[],
                dispenserId: this.$store.state.persistedState.user.id,
                productCombination:{},
                nodeProductList:[],
                productCombinationId:'',
                txnDate: this.today(),
                dateFormat: 'yyyy-MM-dd',
                stockStatus:new Map(),
                products:[],
                emProducts:[],
                transactionProducts:[],
                prescriptionTransactionProducts:[],
                productBatches: [],
                selectedProduct:{},
                numberOfDays: this.$store.state.arvPersistedState.numberOfDays,
                dosageEditProduct:{},
                arvDispenseRequest:{
                    node: '',
                    arvDispensationItems:[],
                    userId: '',
                    productComboId:'',
                    dispensationDate:'',
                    clientId:'',
                    dispenserId:''
                },
                search:"",
                fapList: [],
                prescriptions: [],
                prescriptionProducts:[],
                chkFillAllChecked: false,
                programs: [],
                sortProgramsBy: 'code',
                nodePrograms: []
            }
        },
        mixins:[
            ARVNodeProductsMixin, AlertMixin, Permissions
        ],
        components: {
            'checkbox': checkbox,
            'changedosage': changedosage,
            'changeregimen': changeregimen,
            'vitals': vitals,
            'dispensationproductbatches': dispensationproductbatches
        },
        mounted(){
            if(!context.isEmpty(context.client)){
                context.facilityClient = context.client
                context.getPatientRecord()
            }

        },
        beforeMount(){
            context = this
            context.loadUsers()

            context.loadFacilityApprovedProducts()
            context.loadNodePrograms()
            context.loadPrograms()
        },
        watch: {
            stockStatus: function(value){
                //console.log("Stock status changed")
                console.log(value)
            },
            client: function(newValue){
                if(newValue!== undefined && !context.isEmpty(newValue)){
                    context.facilityClient = newValue
                    context.numberOfDays = ''
                    context.getPatientRecord()
                }
            },
            completeClientRecord: function(value){
                context.artPatientRecord = value
                context.facilityClient = context.artPatientRecord.client
                context.numberOfDays = ''
            },
            numberOfDays: function(value){
                context.$store.dispatch('setNumberOfDays', value).then(function () {
                    context.populateProducts()
                })
            },
            products: function(value){
                context.$store.dispatch('setRegimenProducts', value).then(function(){
                    var productCodes = value.map(product => product.productCode)
                    context.loadProductBatches(productCodes)
                })
            },
            prescriptionProducts: function(value){
                context.$store.dispatch('setPrescriptionProducts', value).then(function(){
                    var productCodes = value.map(function (product) {
                        return product.available ? product.productCode : product.substitutedWith.productCode
                    })
                    context.loadProductBatches(productCodes)
                })
            }
        },
        computed: {
            myPrograms(){
                if(context.programs === undefined){
                    return []
                }
                var sortColumn = context.sortProgramsBy
                var filteredPrograms = context.programs.filter(function(pr){
                    for(var i=0;i<context.nodePrograms.length;i++){
                        if(pr.id === context.nodePrograms[i].programId){
                            return true
                        }
                    }
                    return false
                })

                filteredPrograms.sort((a, b) => {
                    return (a[sortColumn] > b[sortColumn]) ? 1 : ((b[sortColumn] > a[sortColumn]) ? -1 : 0)
                })

                return filteredPrograms
            },
            vitalsPanelWidth(){
                return (context.prescriptions.length > 0
                    && context.artPatientRecord.artNumber !== undefined) ? 2 : 5
            },
            prescriptionPanelWidth(){
                return (context.prescriptions.length > 0
                    && context.artPatientRecord.artNumber !== undefined) ? 3 : 5
            },
            regimenProducts(){
                return context.products.filter(function (product) {
                    return product.regProductId !== undefined
                })
            },
            nodeProductsForPrescription(){
                /*var emNodeProducts = context.nodeProductList.filter(function (nodeProduct) {
                    return nodeProduct.programCode === 'EM'
                })*/

                var column = "productCode"

                return context.nodeProductList.sort((a, b) => { return (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0) })
            },
            currentRegimen(){
                var currentRegimenProductCombination = 'Not set'
                context.productCombination = {}

                if(context.artPatientRecord.defaultCombo && context.artPatientRecord.defaultCombo !== null){
                    currentRegimenProductCombination = context.artPatientRecord.defaultCombo.name
                }else{
                    if(context.artPatientRecord.regimenCombos && context.artPatientRecord.regimenCombos.length > 0){
                        currentRegimenProductCombination = context.artPatientRecord.regimenCombos[0].name
                    }
                }
                return currentRegimenProductCombination
            },
            vitals(){
                return context.artPatientRecord.facilityClientVitals !== null ? context.artPatientRecord.facilityClientVitals : {}
            },
            cd4Count(){
                return context.artPatientRecord.facilityClientCD4Count !== null ? context.artPatientRecord.facilityClientCD4Count : {}
            },
            viralLoad(){
                return context.artPatientRecord.facilityClientViralLoad !== null ? context.artPatientRecord.facilityClientViralLoad : {}
            }
        },
        methods:{
            appendStockStatus(nodeProductDateBalances){
                //console.log("nodeProductDateBalances")
                // console.log(nodeProductDateBalances)
                Object.keys(nodeProductDateBalances).forEach(function (productCode) {
                    context.stockStatus.set(productCode.toString(), nodeProductDateBalances[productCode])
                })
            },
            fillAllProducts(event){
                context.chkFillAllChecked = event.target.checked
                var chkBox = undefined
                context.prescriptions.forEach(function (prescription) {
                    prescription.prescriptionDrugs.forEach(function (prescriptionDrug) {
                        chkBox = document.getElementById("chkFill-"+prescriptionDrug.id)
                        if(event.target.checked){
                            if(!chkBox.checked)
                            {
                                chkBox.click()
                            }
                        }else{
                            if(chkBox.checked)
                            {
                                chkBox.click()
                            }
                        }
                    })
                })
            },
            fillProduct(prescriptionDrug, target){
                if(target===undefined){
                    target = document.getElementById('chkFill-'+prescriptionDrug.id)
                }
                if(target.checked){
                    if(!prescriptionDrug.available && prescriptionDrug.substitutedWith===""){
                        target.checked = false
                        // context.alertError("Sorry cannot add unavailable product(s), select a substitute and try again!")
                        return
                    }else{
                        var match = context.prescriptionProducts.find(function (prd) {
                            return prd.productCode === prescriptionDrug.productCode
                        })

                        if(match === undefined){
                            context.prescriptionProducts.push(prescriptionDrug)
                        }
                    }
                }else{
                    if(!prescriptionDrug.available && prescriptionDrug.substitutedWith===""){
                        target.checked = false
                        //alert("Sorry cannot add unavailable products")
                        return
                    }else{
                        var match = context.prescriptionProducts.find(function (prd) {
                            return prd.productCode === prescriptionDrug.productCode
                        })
                        console.log("Matching prescription product " + JSON.stringify(match, null, 3))
                        if(match !== undefined){
                            context.prescriptionProducts.splice(context.prescriptionProducts.indexOf(match), 1)
                        }
                    }
                }
            },
            initPrescriptions(){
                var prescriptionList = []
                var column = "productCode"
                if(context.artPatientRecord.facilityClientPrescriptions !== undefined){
                    context.artPatientRecord.facilityClientPrescriptions.forEach(function (prescription) {
                        prescription.prescriptionDrugs.forEach(function (prescriptionDrug) {
                            prescriptionDrug.substitutedWith = ''
                            prescriptionDrug.fulfilled = false
                            var tempNodeProduct = context.nodeProductList.find(function (nodeProduct) {
                                return nodeProduct.productCode === prescriptionDrug.productCode
                            })

                            prescriptionDrug.available = (tempNodeProduct!==undefined)
                            if(prescriptionDrug.available){
                                prescriptionDrug.productName = tempNodeProduct.productName

                            }else{
                                var tempFAP = context.fapList.find(function (fap) {
                                    return fap.code === prescriptionDrug.productCode
                                })
                                if(tempFAP!==undefined){
                                    prescriptionDrug.productName = tempFAP.primaryName
                                }
                            }
                        })
                        prescription.prescriptionDrugs.sort((a, b) => { return (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0) })
                        prescriptionList.push(prescription)
                    })
                }
                context.prescriptions = prescriptionList
                context.populatePrescriptionProducts()
            },
            loadFacilityApprovedProducts: function(){

                getHttpAuthenticated().get("/facility-approved-products/" + context.$store.state.persistedState.facility.code).then(function(response) {
                    var facilityApprovedProducts = response.data

                    for(var i=0; i<facilityApprovedProducts.length; i++){

                        var fap = facilityApprovedProducts[i]
                        fap.id = fap.productId
                        fap.code = fap.productCode
                        fap.primaryName = fap.productName

                        context.fapList.push(fap)
                    }

                }).catch(function(e) {
                    console.log(e)
                })
            },
            displayPrescriptionDrugs(){

                context.artPatientRecord.facilityClientPrescriptions.forEach(function (prescription) {
                    // context.printJSON(prescription)
                })
            },
            loadCombinationProducts(){
                getHttpAuthenticatedWithLoadingFlag().get("/combination-products?nodeId=" +context.$store.state.persistedState.node.id
                    +"&artNo="+context.artPatientRecord.client.artNumber
                    +"&comboId="+context.productCombinationId).then(function(response){
                    response.data.sort((a, b) => { return (a['productCode'] > b['productCode']) ? 1 : ((b['productCode'] > a['productCode']) ? -1 : 0) })
                    context.products = response.data
//                    context.loadProductBalances()
                }).catch(function(error){
                    console.log(error)
                })
            },
            loadProductBalances(){
                // context.stockStatus = new Map() // reset
                var nodeId = context.$store.state.persistedState.node.id
                // var programIds = [1,3]//TODO: change later
                context.myPrograms.forEach(function (program) {
                    getHttpAuthenticatedWithCallBack(context.appendStockStatus)
                        .get("/rest-api/node/node/balances-on-date/"+ context.formatDate(context.txnDate) + "/" + nodeId + "/" + program.id)

                })

            },
            getPatientRecord(){
                context.products = []
                context.prescriptionProducts = []
                context.chkFillAllChecked = false
                getHttpAuthenticatedWithLoadingFlag()
                    .get('/rest-api/arv/client/id/' + context.facilityClient.id+ '/'+
                        context.$store.state.persistedState.node.id)
                    .then(function(response){
                        context.artPatientRecord = response.data
                        if(context.artPatientRecord.defaultCombo && context.artPatientRecord.defaultCombo !== null){
                            var matchingRegimenProductComb = context.artPatientRecord.regimenCombos.filter(function(item){
                                return item.id === context.artPatientRecord.defaultCombo.id
                            })
                            if(matchingRegimenProductComb.length > 0){
                                context.productCombinationId =  matchingRegimenProductComb[0].id
                            }
                            context.products = context.artPatientRecord.products
                        }else{
                            if(context.artPatientRecord.regimenCombos && context.artPatientRecord.regimenCombos.length > 0){
                                context.productCombinationId = context.artPatientRecord.regimenCombos[0].id
                                context.loadCombinationProducts()
                            }
                        }
                        context.initPrescriptions()
                    })
                    .catch(function(error){
                        console.log(error)
                    })
            },
            loadUsers(){
                getHttpAuthenticated().get('/users/users').then(function(response){
                    context.users = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            changeRegimen(){
                context.showChangeRegimenModal = true
            },
            changeRegimenModalClosed(){
                context.showChangeRegimenModal = false
            },
            changeDosage(product){
                context.dosageEditProduct = product
                context.showChangeDosageModal = true
            },
            changeDosageModalClosed(){
                context.showChangeDosageModal = false
            },
            saveRegimen(newRegimenId){
                context.facilityClient.regimenId = newRegimenId
                getHttpAuthenticatedWithLoadingFlag().post("/change-regimen", context.facilityClient).then(function(response){
//                    context.client.regimenId = newRegimenId
                    context.showChangeRegimenModal = false
                    context.getPatientRecord()
                }).catch(function (error) {
                    console.log(error)
                })
            },
            saveDosage(dosage){
                context.dosageEditProduct.dosageString = (dosage.dosageQuantity + " " + dosage.dosageUnit.name + " " +
                    dosage.dosageFrequency.name)
                context.dosageEditProduct.defaultDosageQuantity = dosage.dosageQuantity
                context.dosageEditProduct.dosageQuantityPerDay = dosage.dosageFrequency.numericQuantityPerDay
                context.populateProducts()
                context.showChangeDosageModal = false
            },
            selectProduct(product){
                product.productName = product.primaryName
                context.selectedProduct.balances = stockStatus[product.productCode]
                context.selectedProduct = product
            },
            saveDispensation(transactionProducts){
                //console.log("TRANSACTION PRODUCTS SIZE " + transactionProducts.length)
                var txnPrd = {}
                for(var i=0;i<transactionProducts.length;i++){
                    txnPrd = transactionProducts[i]
                    context.arvDispenseRequest.arvDispensationItems.push({
                        txnProduct: txnPrd,
                        arvDispensationLineItem: {
                            numberOfDays: txnPrd.noOfDays,
                            remainingNoOfDays: 0
                        }
                    })
                }

                if(context.arvDispenseRequest.arvDispensationItems.length === 0){
                    context.alertError('Please select one or more products to dispense!')
                    return
                }

                context.arvDispenseRequest.productComboId = context.productCombinationId
                context.arvDispenseRequest.dispensationDate = (context.txnDate ? context.parseDate(context.txnDate, 'YYYY-MM-DD') : new Date().getTime())
                context.arvDispenseRequest.clientId = context.artPatientRecord.client.id
                context.arvDispenseRequest.dispenserId = context.dispenserId
                context.arvDispenseRequest.node = context.$store.state.persistedState.node
                context.arvDispenseRequest.userId = context.$store.state.persistedState.user.id

                getHttpAuthenticatedWithLoadingFlag()
                    .post("/dispense-arv",  context.arvDispenseRequest).then(function (response) {
                    context.alertInfo('Dispensation successfully saved!')
                    context.transactionProducts = []
                    context.prescriptionTransactionProducts = []
                    context.clearPrescriptionProducts()
                    context.numberOfDays = 0
                    context.loadProductBalances()
                    context.getPatientRecord()
                }).catch(function (error) {
                    console.log(error)
                    context.alertError('Sorry An error has occurred!')
                })
            },
            populateProducts(){
                var txnProducts = context.transactionProducts
                var numberOfDays = parseInt(context.numberOfDays)
                var productBatches = context.$store.state.arvPersistedState.productBatches
                numberOfDays = !isNaN(numberOfDays) ? numberOfDays : parseInt(0)
                if(numberOfDays > parseInt(0) ){
                    var regimenProducts = context.$store.state.arvPersistedState.regimenProducts
                    //get the first batch for every product in the regimenProducts and set quantities to be dispensed
                    //or if there is not enough stock move to the next batch and add the remaining quantity keep on doing
                    //so until we have added enough of the required quantity
                    context.transactionProducts = []
                    regimenProducts.forEach(function(regimenProduct){
                        var packSize = parseInt(regimenProduct.dosesPerDispensingUnit)
                        var grossQuantity = parseInt(regimenProduct.defaultDosageQuantity)
                            * parseInt(regimenProduct.dosageQuantityPerDay) * numberOfDays
                        var quantityInBottles = parseFloat(numberOfDays !== 0 ? grossQuantity/packSize : 0).toFixed(2)
                        var matches = txnProducts.filter(function(txnProd){
                            return txnProd.productCode === regimenProduct.productCode
                        })

                        var regimenProductWithBatch = productBatches.find(function(productBatch){
                            return productBatch.productCode === regimenProduct.productCode
                        })


                        if( regimenProductWithBatch === undefined ){
                            return
                        }

                        var availableBatches = regimenProductWithBatch.batches.filter(function (b) {
                            return !b.isExpired
                        })

                        var nPProductBatchBalances = context.stockStatus.get(regimenProduct.productCode).nodeProgramProductBatchBalances

                        var remainingGrossQty = grossQuantity
                        var remainingQty = quantityInBottles

                        const sumReducer = function(accumulator, productBatch){
                            return accumulator + productBatch.quantity
                        }
                        var batchesToDispense = []
                        for (var i = 0; i < availableBatches.length; i++){

                            var regimenProductBatch = availableBatches[i]
                            var nPProductBatchBalanceMatch = nPProductBatchBalances.find(function (nPProductBatchBalance) {
                                return parseInt(nPProductBatchBalance.nodeProgramProductBatch.id) === parseInt(regimenProductBatch.nppbId)
                                    && parseFloat(nPProductBatchBalance.usableBalance) > 0
                            })

                            if(nPProductBatchBalanceMatch){
                                regimenProductBatch.balance = parseFloat(nPProductBatchBalanceMatch.balance)
                                regimenProductBatch.usableBalance = parseFloat(nPProductBatchBalanceMatch.usableBalance)
                                regimenProductBatch.noOfDays = context.numberOfDays
                                if( parseFloat(regimenProductBatch.usableBalance - quantityInBottles) < parseFloat(0) ){
                                    regimenProductBatch.quantity = regimenProductBatch.usableBalance
                                    regimenProductBatch.grossQuantity = regimenProductBatch.usableBalance *
                                        (parseFloat(regimenProduct.defaultDosageQuantity) * parseFloat(regimenProduct.dosageQuantityPerDay))
                                }else{
                                    regimenProductBatch.quantity = remainingQty
                                    regimenProductBatch.grossQuantity = grossQuantity
                                }

                                if(remainingQty > 0){
                                    batchesToDispense.push(regimenProductBatch)
                                }

                                remainingQty -= regimenProductBatch.quantity
                                remainingGrossQty -= regimenProductBatch.grossQuantity
                                var initialVal = 0
                                var totalQty = batchesToDispense.reduce(sumReducer, initialVal)
                                if(batchesToDispense.length > 0 &&  totalQty >= parseFloat(quantityInBottles)){
                                    break
                                }

                            }
                        }

                        batchesToDispense.forEach(function (batchToDispense) {

                            var matchingProductBatch = context.transactionProducts.find(function(txnPrd){
                                return txnPrd.batchNumber === batchToDispense.name
                            })

                            if(matchingProductBatch !== undefined){ //if match found update the quantity
                                matchingProductBatch.quantity = parseFloat(batchToDispense.grossQuantity)
                                matchingProductBatch.quantityInBottles = parseFloat(batchToDispense.quantity)
                            }else{
                                context.transactionProducts.push({
                                    product: {
                                        productCode: regimenProduct.productCode,
                                        productName: regimenProduct.primaryName
                                    },
                                    productCode: regimenProduct.productCode,//TODO: for ease of sorting, is there a better way??
                                    productName: regimenProduct.primaryName,//TODO: for ease of sorting, is there a better way??
                                    batchNumber: batchToDispense.name,
                                    expiryDate: batchToDispense.expiryDate,
                                    quantityInBottles: batchToDispense.quantity,
                                    quantity: batchToDispense.grossQuantity,
                                    remark: 'Dispensation',
                                    productBatches: regimenProductWithBatch.batches,
                                    selected: false,
                                    usableBalance: batchToDispense.usableBalance,
                                    programProductBatchId: batchToDispense.id,
                                    programProductId: regimenProduct.programProductId,
                                    noOfDays: batchToDispense.noOfDays
                                })
                            }
                        })
                    })
                }else{
                    context.transactionProducts = []
                    context.populatePrescriptionProducts()
                }

            },
            populatePrescriptionProducts(){

                // var txnProducts = context.prescriptionTransactionProducts
                var productBatches = context.$store.state.arvPersistedState.productBatches
                var prescriptionProducts = context.$store.state.arvPersistedState.prescriptionProducts
                context.prescriptionTransactionProducts = []
                if(prescriptionProducts.length === 0){
                    return
                }

                prescriptionProducts.forEach(function (prescriptionPoduct) {
                    var matchNodeProduct = undefined

                    if(prescriptionPoduct.available){
                        matchNodeProduct = context.nodeProductsForPrescription.find(function (nodeProduct) {
                            return nodeProduct.productCode === prescriptionPoduct.productCode
                        })
                    }else{
                        matchNodeProduct = prescriptionPoduct.substitutedWith
                    }

                    if(matchNodeProduct===undefined){
                        return
                    }
                    var noOfDaysInt = parseInt(prescriptionPoduct.duration)
                    var numberOfDays = isNaN(noOfDaysInt) ? parseInt(0) : noOfDaysInt
                    var packSize = parseInt(matchNodeProduct.nodeProduct.programProduct.product.dosesperdispensingunit)
                    var grossQuantity = parseFloat(prescriptionPoduct.quantity) * parseFloat(prescriptionPoduct.dosageQuantityPerDay) * numberOfDays
                    var quantityInBottles = parseFloat(numberOfDays !== 0 ? grossQuantity/packSize : 0)//.toFixed(2)


                    prescriptionPoduct.programProductId = matchNodeProduct.programproductid


                    var productCode = prescriptionPoduct.available ? prescriptionPoduct.productCode : prescriptionPoduct.substitutedWith.productCode
                    var productName = prescriptionPoduct.available ? prescriptionPoduct.productName : prescriptionPoduct.substitutedWith.productName

                    var prescriptionPoductWithBatch = productBatches.find(function(productBatch){
                        return productBatch.productCode === productCode
                    })


                    if( prescriptionPoductWithBatch === undefined ){
                        return
                    }

                    var availableBatches = prescriptionPoductWithBatch.batches.filter(function (b) {
                        return !b.isExpired
                    })

                    var nPProductBatchBalances = context.stockStatus.get(productCode).nodeProgramProductBatchBalances
                    // console.log(nPProductBatchBalances)

                    var remainingGrossQty = grossQuantity
                    var remainingQty = quantityInBottles
                    const sumReducer = function(accumulator, productBatch){
                        return accumulator + productBatch.quantity
                    }
                    var batchesToDispense = []
                    for (var i = 0; i < availableBatches.length; i++){

                        var prescriptionPoductBatch = availableBatches[i]
                        // console.log(prescriptionPoductBatch)
                        var nPProductBatchBalanceMatch = nPProductBatchBalances.find(function (nPProductBatchBalance) {
                            return parseInt(nPProductBatchBalance.nodeProgramProductBatch.id) === parseInt(prescriptionPoductBatch.nppbId)
                                && nPProductBatchBalance.usableBalance > 0
                        })

                        if(nPProductBatchBalanceMatch!==undefined){

                            prescriptionPoductBatch.noOfDays = prescriptionPoduct.duration
                            prescriptionPoductBatch.balance = parseFloat(nPProductBatchBalanceMatch.balance)
                            prescriptionPoductBatch.usableBalance = parseFloat(nPProductBatchBalanceMatch.usableBalance)

                            if( (prescriptionPoductBatch.usableBalance - quantityInBottles) < 0 ){
                                prescriptionPoductBatch.quantity = prescriptionPoductBatch.usableBalance
                                prescriptionPoductBatch.grossQuantity = prescriptionPoductBatch.usableBalance *
                                    (parseInt(prescriptionPoduct.quantity) * parseInt(prescriptionPoduct.dosageQuantityPerDay))
                            }else{
                                prescriptionPoductBatch.quantity = remainingQty
                                prescriptionPoductBatch.grossQuantity = grossQuantity
                            }

                            if(remainingQty > 0){
                                batchesToDispense.push(prescriptionPoductBatch)
                            }

                            remainingQty -= prescriptionPoductBatch.quantity
                            remainingGrossQty -= prescriptionPoductBatch.grossQuantity

                            var initialVal = 0
                            var totalQty = batchesToDispense.reduce(sumReducer, initialVal)
                            if(batchesToDispense.length > 0 &&  totalQty >= parseInt(quantityInBottles)){
                                break
                            }

                        }
                    }

                    batchesToDispense.forEach(function (batchToDispense) {
                        var matchingProductBatch = context.prescriptionTransactionProducts.find(function(txnPrd){
                            return txnPrd.batchNumber === batchToDispense.name
                        })

                        if(matchingProductBatch !== undefined){ //if match found update the quantity
                            matchingProductBatch.quantity = parseFloat(batchToDispense.grossQuantity)
                            matchingProductBatch.quantityInBottles = parseFloat(batchToDispense.quantity)
                        }else {
                            context.prescriptionTransactionProducts.push({
                                product: {
                                    productCode: productCode,
                                    productName: productName
                                },
                                productCode: productCode,//TODO: for ease of sorting, is there a better way??
                                productName: productName,//TODO: for ease of sorting, is there a better way??
                                batchNumber: batchToDispense.name,
                                expiryDate: batchToDispense.expiryDate,
                                quantityInBottles: batchToDispense.quantity,
                                quantity: batchToDispense.grossQuantity,
                                remark: 'Dispensation',
                                productBatches: prescriptionPoductWithBatch.batches,
                                selected: false,
                                usableBalance: batchToDispense.usableBalance,
                                programProductBatchId: batchToDispense.id,
                                programProductId: prescriptionPoduct.programProductId,
                                noOfDays: batchToDispense.noOfDays
                            })
                        }
                    })

                })
            },
            //TODO: rewrite this function
            loadProductBatches(prdctCodes){
                var regimenProducts = context.regimenProductsFromStore
                var regimenProductCodes = []
                var productCodes = prdctCodes

                if(regimenProducts !== undefined){
                    regimenProductCodes = regimenProducts.map(product => product.productCode)
                    regimenProductCodes.forEach(function (code) {
                        if(!productCodes.includes(code)){
                            productCodes.push(code)
                        }
                    })
                }

                var productBatches = []

                getHttpAuthenticatedWithCallBack(function(productBatchesResponse){
                    productCodes.forEach(productCode =>{
                        var productBatchList  = productBatchesResponse[productCode]
                        var nodeProducts = context.nodeProductList

                        var nodeProductMatch = nodeProducts.find(function (np) {
                            return np.nodeProduct.programProduct.product.code === productCode
                        })

                        var nodeProgramProductBatches = nodeProductMatch.nodeProduct.nodeProgramProductBatches

                        productBatchList.forEach(productBatch =>{
                            productBatch.isExpired =  productBatch.expiryDate < new Date().getTime()

                            var nppbMatch = nodeProgramProductBatches.find(function (nppb) {
                                return nppb.programProductBatchId === productBatch.id
                            })

                            if(nppbMatch){
                                productBatch.nppbId = nppbMatch.id
                                productBatch.programProductBatchId = nppbMatch.programProductBatchId
                            }

                        })

                        productBatches.push({
                            "productCode": productCode,
                            "batches": productBatchList
                        })


                    })
//                    var existingProductBatches = context.$store.state.arvPersistedState.productBatches
//                    existingProductBatches.concat(productBatches)

                    context.$store.dispatch('setProductBatches', productBatches)
                        .then(function () {
                            context.populateProducts()
                            context.populatePrescriptionProducts()
                        })
                }).post("/rest-api/batches", productCodes).catch(function(e) {
                    console.log(e)
                })
            },
            transactionProductBatchChanged(transactionProduct){

                var selectedBatch = transactionProduct.productBatches.find(function (batch) {
                    return batch.name === transactionProduct.batchNumber
                })

                transactionProduct.selectedBatch = selectedBatch

                var nPProductBatchBalances = context.stockStatus.get(transactionProduct.productCode).nodeProgramProductBatchBalances
                var nPProductBatchBalanceMatch = nPProductBatchBalances.find(function (nPProductBatchBalance) {
                    return parseInt(nPProductBatchBalance.nodeProgramProductBatch.id) === parseInt(transactionProduct.selectedBatch.nppbId)
                })

                if(nPProductBatchBalanceMatch){
                    transactionProduct.expiryDate = selectedBatch.expiryDate
                    transactionProduct.balance = parseFloat(nPProductBatchBalanceMatch.balance)
                    transactionProduct.usableBalance = parseFloat(nPProductBatchBalanceMatch.usableBalance)
                }else{
                    transactionProduct.expiryDate = selectedBatch.expiryDate
                    transactionProduct.balance = parseFloat(0)
                    transactionProduct.usableBalance = parseFloat(0)
                }
            },
            loadPrograms: function(){
                getHttpAuthenticatedWithCallBack(context.programsLoaded).get("/programs").catch(function(e) {
                    console.log(e)
                })
            },
            loadNodePrograms: function(){
                getHttpAuthenticated().get("/get-node-programs-by-node/"+this.$store.state.persistedState.node.id)
                    .then(function(response) {
                        context.nodePrograms = response.data
                    }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            programsLoaded(programs){
                context.programs = programs
                context.programs.forEach(program => {
                   context.loadNodeProducts(context.$store.state.persistedState.node.id, program.code, context.loadProductBatches)
                })
                context.loadProductBalances()
            },
            clearPrescriptionProducts(){
                context.prescriptionProducts = []
                context.prescriptions.forEach(prescription => {
                    prescription.prescriptionDrugs.forEach(prescriptionDrug => {
                        document.getElementById("chkFillAll").checked = false
                        context.chkFillAllChecked = false
                        document.getElementById("chkFill-"+prescriptionDrug.id).checked = false
                        prescriptionDrug.fulfilled = false
                    })
                })

            },
            resetNextAppointmentDate(clientId){
                var resetNextAppDateFn = function(){
                    getHttpAuthenticatedWithLoadingFlag()
                        .get("/rest-api/arv/reset-next-visit/"+clientId)
                        .then( function(response){
                            context.alertInfo("Next appointment date reset successfully!")
                            context.artPatientRecord.appointmentDate = null
                        })
                        .catch(function (error) {
                            context.alertError("Sorry, failed to reset next appointment date!")
                        })
                }
                context.confirm("Are you sure you want to reset the next appointment date for this client?", resetNextAppDateFn)
            }

        }
    }
</script>
<style>
    .prescription-box{
        /*border: 1px solid #CCC;
        padding: 15px 15px;
        margin: 15px 0px;*/
    }
    .prescription-box hr{
        margin: 5px 0px;
    }
    .prescription-box h3{
        padding: 0px;
        margin: 0px;
        font-size: 18px;
    }
</style>
