<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Facility Client Registration
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :showConfirmAlert="showConfirm"
                       :okConfirmHandler="okConfirmClicked" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeAlert"></alert>
                <div class="row">
                    <div class="col-md-12">
                        <h4>
                            <span class="glyphicon glyphicon-cog"></span>  Patient Registration Form</h4>
                        <br>
                    </div>
                </div>
                <form>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >National ID Number</label>
                                <input class="form-control" v-model="nrcNumber" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>ART Number (leave blank if not on ART)</label>
                                <input class="form-control" v-model="artNumber" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >First Name</label>
                                <input v-validate="'required'" name="firstname" :class="['form-control input-sm chat-input input',{'is-danger': errors.first('firstname')}]" v-model="firstName" >
                                <span v-show="errors.has('firstname')" class="help is-danger">{{ errors.first('firstname') }}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label >Last Name</label>
                                <input v-validate="'required'" name="lastname" :class="['form-control input-sm chat-input input',{'is-danger': errors.first('lastname')}]" v-model="lastName" >
                                <span v-show="errors.has('lastname')" class="help is-danger">First name is required</span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Gender</label>
                                <select v-model="sex" v-validate="'required'" name="gender" :class="['form-control input',{'is-danger': errors.first('gender')}]" >
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <span v-show="errors.has('gender')" class="help is-danger">Last name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Birth Date</label>
                                <br>
                                <datepicker v-validate="'required|date_format:YYYY-MM-DD'"
                                            :class="['input',{'is-danger': errors.first('dateofbirth')}]"
                                            name="dateofbirth"
                                            v-model="dateOfBirth"
                                            :format="dateFormat"></datepicker>
                                <br>
                                <span v-show="errors.has('dateofbirth')" class="help is-danger">{{errors.first('dateofbirth')}}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Registration Date</label>
                                <br>
                                <datepicker v-validate="'required|date_format:YYYY-MM-DD'"
                                            :class="['input',{'is-danger': errors.first('registrationdate')}]"
                                            name="registrationdate"
                                            v-model="registrationDate"
                                            :format="dateFormat"></datepicker>
                                <br>
                                <span v-show="errors.has('registrationdate')" class="help is-danger">{{errors.first('registrationdate')}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 static-action-bar">
                            <div class="form-group">
                                <button v-if="clientToEdit === undefined" class="btn btn-primary" @click="registerFacilityClient($event)"><i class="fa fa-save"></i> Register Client</button>
                                <button v-if="clientToEdit !== undefined" class="btn btn-primary" @click="registerFacilityClient($event)"><i class="fa fa-save"></i> Update Client</button>
                                <a href="/dispense" class="btn btn-danger"><i class= "fa fa-close" ></i> Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</template>
<script>
    import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
    import AlertMixin from '../../../mixins/AlertMixin'
    var context =  {}
    export default {
        data(){
            return {
                artNumber: '',
                nrcNumber: '',
                dateOfBirth: '',
                registrationDate: '',
                firstName: '',
                lastName: '',
                sex: '',
                dateFormat: 'yyyy-MM-dd',
                successMessage: undefined,
                clientToEdit: undefined
            }
        },
        beforeMount(){
            context = this
        },
        mounted(){
            var clientId = context.$store.state.route.query.clientId
            if(clientId !== undefined){
                console.log(clientId)
                context.loadFacilityClient(clientId)
            }
        },
        mixins:[
            AlertMixin
        ],
        components: {
        },
        watch:{
            clientToEdit: function(value){
                context.$validator.reset()
                var dobTimeStamp = value.client.dateOfBirth
                var regDateTimeStamp = value.client.registrationDate

                var dateOfBirth = dobTimeStamp !== null ? context.toISODateFormat(new Date(dobTimeStamp)) : ''
                var regDate = regDateTimeStamp !== null ? context.toISODateFormat(new Date(regDateTimeStamp)) : ''


                context.artNumber = value.client.artNumber
                context.nrcNumber = value.client.nrcNumber
                context.dateOfBirth = dateOfBirth
                context.registrationDate = regDate
                context.firstName = value.client.firstName
                context.lastName = value.client.lastName
                context.sex = value.client.sex
            }
        },
        methods:{
            loadFacilityClient(id){
                getHttpAuthenticatedWithLoadingFlag().
                get('/rest-api/arv/client/id/' + id+ '/' + context.$store.state.persistedState.node.id).
                then(function(response){
                    console.log(JSON.stringify(response.data, null, 6))
                    context.clientToEdit = response.data
                }).
                catch(function(error){
                    console.log(error)
                })
            },
            registerFacilityClient(event){
                //console.log("validating")
                event.preventDefault()
                context.$validator.validateAll().then(function(result) {
                    if (result) {

                        if(context.artNumber === ''){
                            context.artNumber = null
                        }

                        if(context.nrcNumber === ''){
                            context.nrcNumber = null
                        }

                        var client =  {
                            artNumber: context.artNumber,
                            nrcNumber: context.nrcNumber,
                            dateOfBirth: (context.dateOfBirth ? context.parseDate(context.dateOfBirth, 'YYYY-MM-DD') : new Date().getTime()),
                            registrationDate:(context.registrationDate ? context.parseDate(context.registrationDate, 'YYYY-MM-DD') : new Date().getTime()),
                            firstName: context.firstName,
                            lastName:context.lastName,
                            sex: context.sex,
                        }

                        if(context.clientToEdit!==undefined){
                            client.id = context.clientToEdit.client.id
                            getHttpAuthenticatedWithLoadingFlag().post("/update-arv-client", client).then(function(response){
                                if(response.data===""){
                                    context.alertError("Cannot update client, another record with the same NRC or ART Number may exist!!")
                                }else{
                                    context.confirm('Patient record updated successfully! \nWould you like to open the client record?', function(){
                                        context.$router.push("/dispense?clientId=" + client.id)
                                    })
                                }
                                context.resetForm()
                            }).catch(function(error){
                                context.alertError("Failed to update client!")
                                console.log(error)
                            })
                        }else{
                            getHttpAuthenticatedWithLoadingFlag().post("/register-arv-client", client).then(function(response){
                                if(response.data===""){
                                    context.alertError("Cannot register client, another record with the same NRC or ART Number may exist!")
                                }else{
                                    context.confirm('Patient record updated successfully! \nWould you like to open the client record?', function(){
                                        context.$router.push("/dispense?clientId=" + response.data)
                                    })
                                }
                                context.resetForm()
                            }).catch(function(error){
                                context.alertError("Failed to register client!")
                                console.log(error)
                            })
                        }
                    }
                });
            },
            resetForm(){
                context.$validator.reset()
                context.artNumber = ''
                context.nrcNumber = ''
                context.dateOfBirth = ''
                context.registrationDate = ''
                context.firstName = ''
                context.lastName = ''
                context.sex = ''
            }

        }
    }
</script>
<style>
    .success{
        color: green;
        font-size: 14px;
        font-weight: bolder;
    }
</style>
