<template>
    <div class="row">
        <div class="container">
            <div class="form-group">
                <label>
                    <strong>Vitals | Viral Load | CD 4</strong>
                </label>
                <table class="table table-striped table-bordered table-hover table-responsive dataTable">
                    <thead>
                    <tr>
                        <th>Height (cm)</th>
                        <th>Weight (kg)</th>
                        <th>BP</th>
                        <th>Viral Load</th>
                        <th>CD 4</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{vitals.height }}</td>
                        <td>{{vitals.weight}}</td>
                        <td>{{vitals.bloodPressure}}</td>
                        <td>{{viralLoad.count}}</td>
                        <td>{{cd4Count.count}}</td>
                    </tr>
                    <tr>
                        <td>{{ vitals.heightDateCollected  | formatDateSimple}}</td>
                        <td>{{ vitals.weightDateCollected | formatDateSimple }}</td>
                        <td>{{ vitals.bloodPressureDateCollected | formatDateSimple }}</td>
                        <td>{{ viralLoad.dateCollected | formatDateSimple }}</td>
                        <td>{{ cd4Count.dateCollected | formatDateSimple }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--<accordion :one-at-atime="oneTabsOneAtaTime" type="default">
                <panel type="default" :isOpen="true">
                    <strong slot="header">Vitals, Viral Load and CD4</strong>

                    &lt;!&ndash;<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><u>Height (cm)</u></label>
                                <label><strong>{{vitals.height }}</strong></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label >Date</label>
                                <label> {{ vitals.heightDateCollected  | formatDate}} </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label >Weight (kg)</label>
                                <label>{{vitals.weight}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <label> {{ vitals.weightDateCollected | formatDate }} </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>BP</label>
                                <label>{{vitals.bloodPressure}}</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <label> {{ vitals.bloodPressureDateCollected | formatDate }} </label>
                            </div>
                        </div>
                    </div>&ndash;&gt;
                </panel>
                &lt;!&ndash;<panel>
                    <strong slot="header"><u>Viral Load</u></strong>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Count</label>
                                <input class="form-control" :value="viralLoad.count" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date collected</label>
                                <label class="form-control"> {{ viralLoad.dateCollected | formatDate }} </label>
                            </div>
                        </div>
                    </div>
                </panel>
                <panel>
                    <strong slot="header"><u>CD4 count</u></strong>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Count</label>
                            <input class="form-control" :value="cd4Count.count" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Date collected</label>
                            <label class="form-control"> {{ cd4Count.dateCollected | formatDate }} </label>
                        </div>
                    </div>
                </panel>&ndash;&gt;
            </accordion>-->
        </div>

    </div>
</template>
<script>
    import accordion from 'vue-strap/src/Accordion'
    import panel from 'vue-strap/src/Panel'
    export default {
        props:{
            vitals:{
                type: Object
            },
            cd4Count:{
                type: Object
            },
            viralLoad:{
                type: Object
            }
        },
        data(){
            return {
                oneTabsOneAtaTime: false
            }
        },
        components: {
            'accordion': accordion,
            'panel': panel
        },
    }
</script>
