<template>
    <div class="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Adjustment
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :showConfirmAlert="showConfirm"
                       :okConfirmHandler="okConfirmClicked" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeAlert"></alert>
                <facilitySelectionModal :showFacilitySelectionModal="showFacilitySelectionModalProp" :saveFacilityHandler="saveFacilitySelection"
                                        :closedHandler="closeFacilitySelectionModal"></facilitySelectionModal>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPrograms">Select Date</label>
                                            <br>
                                            <datepicker v-model="txnDate" :format="dateFormat" @input="loadProductBalances()"></datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPrograms">Select Program</label>
                                            <select name="cmbPrograms" v-model="currentProgram" id="cmbPrograms" class="form-control" @change="loadProductBalances()">
                                                <option v-for="program in myPrograms" v-bind:key="program.id" :value="program">{{program.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <!-- start of product table -->
                        <products-table  :selectionHandler="productSelected" :programArea="currentProgram.code"></products-table>
                        <!-- end of product table -->
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <accordion type="primary">
                            <panel is-open header="Product Batches">
                                <div class="row" v-if="selectedProduct">
                                    <div class="col-sm-2 col-md-2">
                                        <div class="form-group">
                                            <label>Product code</label>
                                            <input type="text" :value="selectedProduct.productCode" class="form-control" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-md-10">
                                        <div class="form-group">
                                            <label>Product Name</label>
                                            <input type="text" :value="selectedProduct.productName" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <table class="table table-striped table-bordered table-hover dataTable">
                                            <thead>
                                            <tr>
                                                <th>Batch Number</th>
                                                <th>Expiry Date</th>
                                                <th>Adjustment Type</th>
                                                <th>Balance</th>
                                                <th>Quantity</th>
                                                <th>Remark</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="batch in batchListFilteredForTxns" :key="batch.batchNumber">
                                                <td>{{batch.batchNumber}}</td>
                                                <td>{{batch.expiryDate | formatDate }}</td>
                                                <td>
                                                    <select v-if="batch.expiryDate > new Date().getTime()" class="form-control"
                                                            name="cmbAdjustmentTypes" id="cmbAdjustmentTypes" v-model="batch.adjustmentType" @change="promptForFacility(batch)">
                                                        <option v-for="adjType in adjustmentTypes" :value="adjType"> {{ adjType.name }}</option>
                                                    </select>
                                                    <select v-if="batch.expiryDate < new Date().getTime()" class="form-control"
                                                            name="cmbAdjustmentTypes" id="cmbAdjustmentTypes" v-model="batch.adjustmentType" @change="promptForFacility(batch)">
                                                        <option v-for="adjType in adjustmentTypes" :value="adjType" v-if="adjType.name === 'EXPIRED'"> {{ adjType.name }}</option>
                                                    </select>
                                                    <span v-show="getTransferFacilitySelected(batch)!==undefined">{{getTransferFacilitySelected(batch)}}</span>
                                                </td>
                                                <td>{{ batch.usableBalance }}</td>
                                                <td><input type="text" class="form-control" placeholder="0.0" v-model="batch.quantity" @change="validateQuantity($event, batch)"></td>
                                                <td><input type="text" class="form-control" placeholder="Remark here..." v-model="batch.remark"></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <ProductBatchInlineForm v-if="showBatchEntryForm" :alertErrorHandler="alertError" :alertInfoHandler="alertInfo"
                                                                :selectedProduct="selectedProduct" :productBatch="undefined"
                                                                :refreshBatchListHandler="reloadProductBatches"></ProductBatchInlineForm>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>
                                                <select v-model="productBatchPageSize" class="form-control">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>records per page</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <small>Showing page {{productBatchPageNumber}} of {{productBatchTotalNumberOfPages}}</small>
                                    </div>
                                    <div class="col-md-6">
                                        <paginate
                                                :page-count="productBatchTotalNumberOfPages"
                                                :click-handler="setProductBatchPage"
                                                :prev-text="'Prev'"
                                                :next-text="'Next'"
                                                :container-class="'pagination'">
                                        </paginate>
                                    </div>
                                </div>
                                <div class="row" v-if="selectedProduct">
                                    <div class="col-md-2">
                                        <button class="btn btn-xs btn-success"  v-on:click="addTransactionProduct()"><i class="fa fa-plus-circle"></i> Add</button>
                                    </div>
                                </div>
                            </panel>
                            <panel is-open header="Transaction Product Batch Quantities">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <label>Filter Products</label>
                                                    <input v-model="search" class="form-control" placeholder="Abacavir 300mg Tablets">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <table class="table table-striped table-bordered table-hover dataTable">
                                                    <thead>
                                                    <tr>
                                                        <th v-for="column in columns" :key="column.key">
                                                            <a href="#" v-on:click="sortBy(column, $event)" v-bind:class="sortKey == column">
                                                                {{ column | capitalize }}
                                                                <i :class="getSortIcon(column)"></i>
                                                            </a>
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr v-for="transactionProduct in filteredTransactionProducts" :key="transactionProduct.adjustmentType.name">
                                                        <td :rowspan="getCountOfBatches(transactionProduct, filteredTransactionProducts)"
                                                            v-if="showCell(transactionProduct, filteredTransactionProducts)">
                                                            {{transactionProduct.productCode}}</td>
                                                        <td :rowspan="getCountOfBatches(transactionProduct, filteredTransactionProducts)"
                                                            v-if="showCell(transactionProduct, filteredTransactionProducts)">
                                                            {{transactionProduct.productName}}</td>
                                                        <td>
                                                            {{transactionProduct.batchNumber}}
                                                        </td>
                                                        <td>
                                                            {{transactionProduct.adjustmentType.name}}
                                                        </td>
                                                        <td>{{transactionProduct.quantity}}</td>
                                                        <td>{{transactionProduct.remark}}</td>
                                                        <td>
                                                            <button class="btn btn-xs btn-default" v-on:click="editItem(transactionProduct)"><i class="fa fa-edit"></i> Edit</button>
                                                            <button class="btn btn-xs btn-default" v-on:click="deleteItem(transactionProduct)"><i class="fa fa-trash"></i> Delete</button>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>
                                                        <select v-model="pageSize" class="form-control">
                                                            <option value="5">5</option>
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="50">50</option>
                                                            <option value="100">100</option>
                                                        </select>records per page</label>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
                                            </div>
                                            <div class="col-sm-6 col-md-6">
                                                <paginate
                                                        :page-count="totalNumberOfPages"
                                                        :click-handler="setPage"
                                                        :prev-text="'Prev'"
                                                        :next-text="'Next'"
                                                        :container-class="'pagination'">
                                                </paginate>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="col-sm-12 col-md-12">
                                                <div class="form-group">
                                                    <button class="btn btn-sm btn-success " v-on:click='saveAdjustments(getTxnProgProdBatch())'>
                                                        <i class="fa fa-save"></i> Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </panel>
                        </accordion>

                        <div class="row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    //import datepicker from 'vue-strap/src/Datepicker'
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import AlertMixin from '../../mixins/AlertMixin'
    import ProductBatchMixin from '../../mixins/ProductBatch'
    import ProductBatchPaginator from '../../mixins/ProductBatchPaginator'
    import accordion from 'vue-strap/src/Accordion'
    import panel from 'vue-strap/src/Panel'
    import Paginate from 'vuejs-paginate'
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    import FacilitySelectionModal from '../../components/common/FacilitySelection'
    import TxnQuantityValidator from '../../mixins/TxnQuantityValidator'
    import ProductBatchInlineForm from '../../components/admin/product-batch/product-batch-inline'

    var context = {}
    export default{
        data(){
            return {
                transactionType: 'ADJUSTMENT',
                txnDate: this.today(),
                dateFormat: 'yyyy-MM-dd',
                currentProgram:{},
                programs:[],
                nodePrograms:[],
                sortProgramsBy: 'code',
                selectedProduct:null,
                adjustmentTypes: [],
                batchList:[],
                sortKey: 'productCode',
                reverse: false,
                columns: [{'key': 'productCode', 'value': 'Product Code'},
                    {'key': 'productName', 'value': 'Product Name'},
                    {'key': 'batchNumber', 'value': 'Batch Number'},
                    {'key': 'adjustmentType', 'value': 'Adjustment Type'},
                    {'key': 'quantity', 'value': 'Quantity'},
                    {'key': 'remark', 'value': 'Remark'}],
                search: '',
                pageNumber: 1,
                totalNumberOfPages: 0,
                pageSize: 10,
                batchNumber:'',
                quantity:'',
                expiryDate:'',
                remark:'',
                transactionProducts: [],
                transactionProductsToEdit: [],
                transactionProductToDelete: {},
                showBatchPanel : this.$store.state.persistedState.showBatchPanel,
                productBalances: [],
                adjustmentRequest: {},
                showFacilitySelectionModalProp: false,
                currentEditingBatch: undefined,
                transferFacilitiesMap: new Map(),

            }
        },
        components:{
            //'datepicker': datepicker,
            'accordion': accordion,
            'panel': panel,
            'paginate': Paginate,
            'facilitySelectionModal': FacilitySelectionModal,
            ProductBatchInlineForm
        },
        beforeMount(){
            context = this
            context.loadPrograms()
            context.loadNodePrograms()
            context.loadAdjustmentTypes()
        },
        mixins:[
            AlertMixin,
            ProductBatchMixin,
            NodeProductDateBalanceMixin,
            TxnQuantityValidator,
            ProductBatchPaginator
        ],
        watch:{
            selectedProduct: function(prd)
            {
                context.getProductBatchesByProductCode(prd.productCode)
            }
        },
        computed:{
            showBatchEntryForm(){
                return (context.selectedProduct !== null && !context.isEmpty(context.selectedProduct)) && context.$store.state.persistedState.userNodeRoleRights.includes('MANAGE PRODUCT BATCHES')
            },
            myPrograms(){
                var sortColumn = context.sortProgramsBy
                var filteredPrograms = context.programs.filter(function(pr){
                    for(var i=0;i<context.nodePrograms.length;i++){
                        if(pr.id === context.nodePrograms[i].programId){
                            return true
                        }
                    }
                    return false
                })

                filteredPrograms.sort((a, b) => {
                    return (a[sortColumn] > b[sortColumn]) ? 1 : ((b[sortColumn] > a[sortColumn]) ? -1 : 0)
                })

                return filteredPrograms
            },
            filteredTransactionProducts(){
                var filteredList = context.transactionProducts.filter(function(txnProduct){
                    var searchKey = context.search.toLowerCase()
                    var productCode = txnProduct.product.productCode.toLowerCase()
                    var productName = txnProduct.product.productName.toLowerCase()
//                    var batchNumber = txnProduct.batchNumber.toLowerCase()
//                    var remark = txnProduct.remark.toLowerCase()

                    return ((productCode.indexOf(searchKey) !== -1)
                        || (productName.indexOf(searchKey) !== -1))
//                            || (batchNumber.indexOf(searchKey) !== -1)
//                            || (remark.indexOf(searchKey) !== -1))
                })

                var pages = filteredList.length / context.pageSize
                context.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)

                var type = context.reverse ? 'desc' : 'asc'
                var orderBy = type.toUpperCase()
                var column = context.sortKey['key']
                if (!column) {
                    column = 'productCode'
                }
                if (['ASC', 'DESC'].indexOf(orderBy) === -1) {
                    console.error(type, 'Not valid, please use ASC or DESC')
                    return
                }
                if (!this.reverse) {
                    filteredList.sort((a, b) => { return (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0) })
                } else {
                    filteredList.sort((a, b) => { return (a[column] > b[column]) ? -1 : ((b[column] > a[column]) ? 1 : 0) })
                }

                var pageSize = parseInt(context.pageSize)
                var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
                if (pageNumber > context.totalNumberOfPages) {
                    pageNumber = context.totalNumberOfPages
                }
                var startingIndex = (pageNumber - 1) * pageSize
                var endingIndex = startingIndex + pageSize
                var paginatedFilteredList = filteredList.slice(startingIndex, endingIndex)
                return paginatedFilteredList
            }
        },
        filters: {
            capitalize: function (columnObj) {
                return columnObj['value']
            }
        },
        methods:{
            getTransferFacilitySelected(batch){
                var transferFacilitiesMapsMap = context.transferFacilitiesMap.get(batch.batchNumber)
                if(transferFacilitiesMapsMap === undefined){
                    return undefined
                }
                if(batch.adjustmentType === undefined){
                    return undefined
                }
                var transferFacility = transferFacilitiesMapsMap.get(batch.adjustmentType.name)
                if(transferFacility === undefined){
                    return undefined
                }
                var transferFacilityName = transferFacility.code + " - " + transferFacility.name
                return transferFacilityName
            },
            reloadProductBatches(){
                context.getProductBatchesByProductCode(context.selectedProduct.productCode)
            },
            loadProductBalances(){
                context.loadNodeProductDateBalances( context.formatDate(context.txnDate),
                    context.$store.state.persistedState.node.id, context.currentProgram.id)
                context.selectedProduct = {}
            },
            loadPrograms: function(){
                getHttpAuthenticated().get("/programs").then(function(response) {
                    context.programs = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            loadNodePrograms: function(){
                getHttpAuthenticated().get("/get-node-programs-by-node/"+this.$store.state.persistedState.node.id)
                    .then(function(response) {
                        context.nodePrograms = response.data
                    }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            loadAdjustmentTypes: function () {
                getHttpAuthenticated().get("/all-adjustments").then(function (response) {
                    context.adjustmentTypes = response.data
                }).catch(function (error) {
                    console.log(error)
                })
            },
            productSelected: function(selectedProduct){
                selectedProduct.balances = context.productBalances[selectedProduct.productCode]
                context.selectedProduct = selectedProduct
                context.getProductBatchesByProductCode(selectedProduct.productCode)
            },
            sortBy: function (newSortKey, event) {
                event.preventDefault()
                console.log(newSortKey)
                context.reverse = (context.sortKey === newSortKey) ? !context.reverse : false
                context.sortKey = newSortKey
            },
            getSortIcon: function(column){
                if(column == context.sortKey){
                    if(context.reverse){
                        return 'fa fa-sort-desc'
                    }else{
                        return 'fa fa-sort-asc'
                    }
                }else{
                    return 'fa fa-sort'
                }
            },
            setPage: function (pageNumber) {
                context.pageNumber = pageNumber
            },
            getCountOfBatches(transactionProduct, filteredList){

                var parentList = context.transactionProducts
                var productCode = transactionProduct.productCode
                var count = parseInt(0)

                if(filteredList !== null){
                    for(var i = 0; i < filteredList.length; i++){
                        if(filteredList[i].productCode === productCode){
                            count += 1
                        }
                    }
                }else{
                    for(var i = 0; i < parentList.length; i++){
                        if(parentList[i].productCode === productCode){
                            count += 1
                        }
                    }
                }

                return count
            },
            showCell(transactionProduct, parentList){

                var filteredList = parentList.filter(function(txnPrd){
                    return txnPrd.productCode === transactionProduct.productCode
                })

                if(parseInt(context.getCountOfBatches(transactionProduct, null)) > 1){
                    return parseInt(filteredList.indexOf(transactionProduct)) === 0
                }else{
                    return true
                }

            },
            addTransactionProduct(){
                if(!context.isEmpty(context.selectedProduct)){
                    context.productBatchList.forEach(batchLineItem => {
                        if(!batchLineItem.hasErrors && batchLineItem.quantity !== ""){
                            //console.log("Adj type = ")
                            context.printJSON(batchLineItem.adjustmentType)
                            if(batchLineItem.adjustmentType !== undefined){
                                var isAdjValid = true

                                if(!batchLineItem.adjustmentType.additive){

                                    var matchingTxnProductBatch = context.filteredTransactionProducts.find( (tp) => {
                                        return tp.programProductBatchId === batchLineItem.programProductBatchId
                                    })

                                    if(matchingTxnProductBatch !== undefined){
                                        var totalAddedQty = parseFloat(matchingTxnProductBatch.quantity) + parseFloat((batchLineItem.quantity))
                                        if(totalAddedQty > parseFloat(batchLineItem.usableBalance)){
                                            context.alertError("Cannot continue Quantity entered will make the total quantity " + totalAddedQty
                                                + " which is more than system calculated balance "+ batchLineItem.usableBalance
                                                + " Please correct that to continue!")
                                        }
                                        batchLineItem.hasErrors = false
                                        batchLineItem.quantity = ''
                                        targetElement.value = ''
                                        return
                                    }else{
                                        isAdjValid = parseFloat(batchLineItem.balance) >= parseFloat(batchLineItem.quantity)
                                        if(!isAdjValid){
                                            context.alertError("Cannot continue \nQuantity entered "+ parseFloat(batchLineItem.quantity)
                                                + " is more than system calculated balance " + parseFloat(batchLineItem.balance)
                                                + "\nPlease correct that to continue!")
                                            return
                                        }
                                    }
                                }



                                var remarks = ""
                                var adjType = batchLineItem.adjustmentType.name
                                var batchTransferAdjMap = context.transferFacilitiesMap.get(batchLineItem.batchNumber)
                                var facility = batchTransferAdjMap !== undefined ? batchTransferAdjMap.get(adjType) : undefined
                                console.log(adjType)
                                if( (adjType === "TRANSFER_IN" || adjType === "TRANSFER_OUT") && facility === undefined){
                                    context.alertError("Please Select transfer facility")
                                    context.showFacilitySelectionModal()
                                    return
                                }
                                if(adjType === "TRANSFER_IN"){
                                    remarks = JSON.stringify({
                                        "TRANSFER_IN_FACILITY": (facility!== undefined ? facility.name : ''),
                                        "remark": batchLineItem.remark
                                    })
                                }else if(adjType === "TRANSFER_OUT"){
                                    remarks = JSON.stringify({
                                        "TRANSFER_OUT_FACILITY": (facility!== undefined ? facility.name : ''),
                                        "remark": batchLineItem.remark
                                    })
                                }else{
                                    remarks = batchLineItem.remark
                                }


                                var matchingProductBatches = context.transactionProducts.filter(function(txnPrd){
                                    return txnPrd.productCode === context.selectedProduct.productCode
                                        && txnPrd.batchNumber === batchLineItem.batchNumber
                                        && txnPrd.adjustmentType.name === batchLineItem.adjustmentType.name
                                })

                                if(matchingProductBatches.length > 0){ //if match found update the quantity
                                    matchingProductBatches[0].quantity += parseFloat(batchLineItem.quantity)
                                    matchingProductBatches[0].remark = batchLineItem.remark
                                }else{
                                    context.transactionProducts.push({
                                        product: context.selectedProduct,
                                        productCode: context.selectedProduct.productCode,//TODO: for ease of sorting, is there a better way??
                                        productName: context.selectedProduct.productName,//TODO: for ease of sorting, is there a better way??
                                        programProductBatchId: batchLineItem.id,
                                        batchNumber: batchLineItem.batchNumber,
                                        expiryDate: batchLineItem.expiryDate,
                                        adjustmentType: batchLineItem.adjustmentType,
                                        quantity: parseFloat(batchLineItem.quantity),
                                        remarks: remarks,
                                        remark: batchLineItem.remark
                                    })
                                }

                                batchLineItem.quantity = ''
                                batchLineItem.remark = ''
                            }
                        }
                    })
                    context.transactionProductsToEdit=[]
                }
            },
            deleteItem(txnProduct){
                context.confirm("Are you sure you want to delete this record?", function() {
                    context.transactionProducts.splice(context.transactionProducts.indexOf(txnProduct), 1)
                })

            },
            editItem(txnProduct){
                context.transactionProductsToEdit.push(txnProduct)
                context.selectedProduct = txnProduct.product
                context.transactionProducts.splice(context.transactionProducts.indexOf(txnProduct), 1)
                context.selectedProduct = txnProduct.product

            },
            getTxnProgProdBatch(){
                var txnProducts = context.transactionProducts
                var txnProgProdBatches = []
                var txnProgProdBatch = {}
                var txnProd = {}

                for(var i=0; i < txnProducts.length; i++){
                    txnProd = txnProducts[i]

                    txnProgProdBatch = {
                        programProductBatchId: txnProd.programProductBatchId,
                        quantity: txnProd.quantity,
                        laType: txnProd.adjustmentType,
                        remarks: txnProd.remarks
                    }

                    var matchingProducts = txnProgProdBatches.filter(function(tp){
                        return tp.productCode === txnProd.product.productCode
                    })

                    if(matchingProducts.length > 0){
                        matchingProducts[0].batchQuantities.push(txnProgProdBatch)
                    }else {
                        txnProgProdBatches.push({
                            programProductId: txnProd.product.programproductid,
                            laType: txnProd.adjustmentType,
                            batchQuantities: [txnProgProdBatch]
                        })
                    }
                }

                return txnProgProdBatches
            },
            saveAdjustments(transactionProducts){

                context.adjustmentRequest.date = (context.txnDate ? context.parseDate(context.txnDate, 'YYYY-MM-DD') : new Date().getTime())
                context.adjustmentRequest.userId = context.$store.state.persistedState.user.id
                context.adjustmentRequest.node = context.$store.state.persistedState.node
                context.adjustmentRequest.productBatches = []


                transactionProducts.forEach(function(txnProduct){
                    txnProduct.batchQuantities.forEach(function (batchQty) {
                        context.adjustmentRequest.productBatches.push({
                            programProductId: txnProduct.programProductId,
                            productBatchId: batchQty.programProductBatchId,
                            quantity: batchQty.quantity,
                            laType: batchQty.laType,
                            remarks: batchQty.remarks
                        })
                    })

                })

                // //console.log("THE ADJUSTMENT REQUEST LOOKS LIKE BELOW")
                // context.printJSON(context.adjustmentRequest)

                if(context.adjustmentRequest.productBatches.length == 0){
                    context.alertError('No Adjustments found!')
                }else{
                    getHttpAuthenticatedWithLoadingFlag().post("/adjustment",
                        context.adjustmentRequest).then(function(response) {
                        context.alertInfo('Adjustment(s) saved successfully!')
                        context.transactionProducts=[]
                        context.loadProductBalances()
                        context.selectedProduct = {}
                    }).catch(function(e) {
                        console.log(e)
                        context.alertError('Sorry an error has occurred!')
                    })
                }
            },
            saveFacilitySelection(facilitySelected){
                var adjFacilityMap = new Map()
                adjFacilityMap.set(context.currentEditingBatch.adjustmentType.name, facilitySelected)
                context.transferFacilitiesMap.set(context.currentEditingBatch.batchNumber, adjFacilityMap)
                context.showFacilitySelectionModalProp = false
            },
            closeFacilitySelectionModal(){
                context.showFacilitySelectionModalProp = false
            },
            showFacilitySelectionModal(){
                context.showFacilitySelectionModalProp = true
            },
            promptForFacility(batch){
                if(batch.adjustmentType.name === "TRANSFER_IN" || batch.adjustmentType.name === "TRANSFER_OUT"){
                    context.currentEditingBatch = batch
                    context.showFacilitySelectionModal()
                }
            }
        }
    }
</script>
