<template>
    <div id="wrapper">
        <navigation v-if="!loadAsPlugin"></navigation>
        <div class="page-wrapper" v-if="!loadAsPlugin">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-eye-open"></span> Pending Physical Counts
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPeriods">Select Period</label>
                                            <select id="cmbPeriods" class="form-control" v-model="periodSelected">
                                                <option value=""></option>
                                                <option v-for="period in filteredProcessingPeriods" :value="period.id">{{period.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPrograms">Select Program</label>
                                            <select id="cmbPrograms" class="form-control" v-model="programSelected">
                                                <option value=""></option>
                                                <option v-for="program in myPrograms" :value="program.code">{{program.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div v-if="filteredPendingPhysicalCountProducts.length > 0" class="pull-right">
                                    <a :href="exportPDFURL" class="btn btn-xs btn-default" target="_blank">
                                        <i class="fa fa-file-pdf-o"></i> Export PDF
                                    </a>

                                    <a :href="exportExcelURL" class="btn btn-xs btn-default" target="_blank">
                                        <i class="fa fa-file-excel-o"></i> Export Excel
                                    </a>
                                </div>
                                <h5 v-if="!loadAsPlugin" class="panel-title">List Of Pending Physical count products</h5>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th>Node</th>
                                        <th>Product Code</th>
                                        <th>Product Name</th>
                                    </tr>
                                    </thead>

                                    <tbody v-for="pendingPCProduct in filteredPendingPhysicalCountProducts">
                                    <tr v-for="product in pendingPCProduct.products">
                                        <td v-if="pendingPCProduct.products.indexOf(product) === 0"
                                            :rowspan="pendingPCProduct.noOfProducts">{{pendingPCProduct.node}}</td>
                                        <td>{{product.code}}</td>
                                        <td>{{product.primaryname}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <!--Pagination control if needed here-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-if="loadAsPlugin">
            <div class="col-md-12">
                <div v-if="filteredPendingPhysicalCountProducts.length > 0" class="pull-right">
                    <a :href="exportPDFURL" class="btn btn-xs btn-default" target="_blank">
                        <i class="fa fa-file-pdf-o"></i> Export PDF
                    </a>

                    <a :href="exportExcelURL" class="btn btn-xs btn-default" target="_blank">
                        <i class="fa fa-file-excel-o"></i> Export Excel
                    </a>
                </div>
                <table class="table table-striped table-bordered table-hover dataTable">
                    <thead>
                    <tr>
                        <th>Node</th>
                        <th>Product Code</th>
                        <th>Product Name</th>
                    </tr>
                    </thead>

                    <tbody v-for="pendingPCProduct in filteredPendingPhysicalCountProducts">
                    <tr v-for="product in pendingPCProduct.products">
                        <td v-if="pendingPCProduct.products.indexOf(product) === 0"
                            :rowspan="pendingPCProduct.noOfProducts">{{pendingPCProduct.node}}</td>
                        <td>{{product.code}}</td>
                        <td>{{product.primaryname}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</template>
<script>
    var context = {}
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    export default{
        props:{
            loadAsPlugin:{
                type: Boolean,
                default: false
            },
            periodId:{
                type: Number
            },
            programCode:{
                type: String
            },
            listOfPendingPCProducts:{
                type: Array
            }
        },
        data(){
            return {
                periods:[],
                periodSelected:'',
                programSelected:'',
                programs:[],
                nodePrograms:[],
                sortProgramsBy: 'code',
                currentPeriod:{},
                processingSchedule: 'MONTHLY',
                nodeId: this.$store.state.persistedState.node.id,
                pendingPhysicalCountProducts:[]
            }
        },
        watch:{
            periodId: function(value){
                context.periodSelected = value
            },
            programCode: function(value){
                context.programSelected = value
            },
            periodSelected: function (value) {
                context.loadPendingPhysicalCountProducts()
            },
            programSelected: function (value) {
                context.loadPendingPhysicalCountProducts()
            },
            listOfPendingPCProducts: function (value) {
                context.pendingPhysicalCountProducts = value
            }
        },
        created(){
            context = this
            context.loadCurrentProcessingPeriod()
            context.loadProcessingPeriods()
            context.loadPrograms()
            context.loadNodePrograms()
        },
        mounted(){
            context.loadPendingPhysicalCountProducts()
        },
        computed:{
            exportPDFURL(){
                return "/report/download/pending_pc/PDF?periodId=" + context.periodSelected
                    + "&scheduleCode=" + context.processingSchedule + "&programCode="+context.programSelected
            },
            exportExcelURL(){
                return "/report/download/pending_pc/XLS?periodId=" + context.periodSelected
                    + "&scheduleCode=" + context.processingSchedule + "&programCode="+context.programSelected
            },
            filteredProcessingPeriods(){
                if(context.currentPeriod !== undefined && context.currentPeriod !== '')
                {
                    return context.periods.filter(function (period) {
                        return period.startdate < context.currentPeriod.startdate
                    })
                }else{
                    return context.periods
                }``
            },
            myPrograms(){
                var sortColumn = context.sortProgramsBy
                var filteredPrograms = context.programs.filter(function(pr){
                    for(var i=0;i<context.nodePrograms.length;i++){
                        if(pr.id === context.nodePrograms[i].programId){
                            return true
                        }
                    }
                    return false
                })

                filteredPrograms.sort((a, b) => {
                    return (a[sortColumn] > b[sortColumn]) ? 1 : ((b[sortColumn] > a[sortColumn]) ? -1 : 0)
                })

                return filteredPrograms
            },
            filteredPendingPhysicalCountProducts(){
                var nodes = context.pendingPhysicalCountProducts.map(nodeProduct=>{return nodeProduct.node.name})
                var nodeWithPendingPCProducts = []
                nodes = nodes.filter((v, i, a) => a.indexOf(v) === i)
                nodes.sort()
                nodes.forEach(node => {
                    var pendingPCsForNode = context.pendingPhysicalCountProducts.filter(ppcp => {
                        return ppcp.node.name === node
                    })

                    pendingPCsForNode = pendingPCsForNode.map(data=>data.programProduct.product)
                    var sortColumn = 'code'
                    pendingPCsForNode.sort((a, b) => {
                        return (a[sortColumn] > b[sortColumn]) ? 1 : ((b[sortColumn] > a[sortColumn]) ? -1 : 0)
                    })

                    nodeWithPendingPCProducts.push({
                        node: node,
                        products : pendingPCsForNode,
                        noOfProducts: pendingPCsForNode.length
                    })
                })

                return nodeWithPendingPCProducts
            }
        },
        methods:{
            loadCurrentProcessingPeriod(){
                getHttpAuthenticatedWithLoadingFlag()
                    .get("/rest-api/facility/current-period/" + context.processingSchedule).then(response => {
                    context.currentPeriod = response.data
                }).catch(error => {
                    console.log(error)
                })
            },
            loadProcessingPeriods(){
                getHttpAuthenticatedWithLoadingFlag()
                    .get("/rest-api/facility/all-periods/" + context.processingSchedule).then(response => {
                    context.periods = response.data
                }).catch(error => {
                    console.log(error)
                })
            },
            loadPrograms: function(){
                getHttpAuthenticatedWithLoadingFlag().get("/programs").then(function(response) {
                    context.programs = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            loadNodePrograms: function(){
                getHttpAuthenticatedWithLoadingFlag().get("/get-node-programs-by-node/"+this.$store.state.persistedState.node.id)
                    .then(function(response) {
                        context.nodePrograms = response.data
                    }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            loadPendingPhysicalCountProducts(){
                if(context.periodSelected !== "" && context.programSelected !== ""){
                    getHttpAuthenticatedWithLoadingFlag().get("/rest-api/node/node-products-without-pc?periodid=" +context.periodSelected
                        +"&schedulecode=" + context.processingSchedule + "&programcode=" + context.programSelected).then( response =>{
                        context.pendingPhysicalCountProducts = response.data
                    }).catch(error =>{
                        console.log(error)
                    })
                }

            }
        }
    }
</script>
