<template>
    <modal class="pending-pc-modal" v-model="showModal" @ok="showModal = false" effect="fade" :backdrop="false" :width="'80%'">
        <div slot="modal-header" class="modal-header modal-header-primary">
            <h4 class="modal-title">
                <b>List Of Pending Physical count products for {{periodName}}</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <PendingPC :loadAsPlugin="true" :periodId="periodId" :programCode="programCode"></PendingPC>
        </div>
        <!-- custom buttons -->
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-danger" @click="closedHandler()">Close</button>
        </div>
    </modal>
</template>
<script>
    import PendingPC from './PendingPC'
    import modal from 'vue-strap/src/Modal'
    var context = {}
    export default{
        props:{
            periodId:{
                type: Number
            },
            programCode:{
                type: String
            },
            periodName:{
                type: String
            },
            showPendingPCModal: {
                type: Boolean,
                default : false
            },
            closedHandler: {
                type: Function,
                default: function(){
                    context.showModal = false
                }
            },
            listOfPendingPCProducts:{
                type: Array
            }
        },
        data(){
            return {
                showModal: false
            }
        },
        beforeMount(){
            context = this
        },
        components: {
            PendingPC,
            modal
        },
        watch:{
            showPendingPCModal: function (value) {
                context.showModal = value
            }
        }
    }
</script>
<style>
    .pending-pc-modal.modal-content{
        height: 400px;
        overflow-y: auto;
    }
    .pending-pc-modal.modal-dialog {
        margin: 100px auto;
    }
</style>
