<template>
    <div class="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Physical Count
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :showConfirmAlert="showConfirm"
                       :okConfirmHandler="okConfirmClicked" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeAlert"></alert>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPrograms">Select Date</label>
                                            <br>
                                            <datepicker v-model="txnDate" :format="dateFormat" @input="loadProductBalances()"></datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="cmbPrograms">Select Program</label>
                                            <select name="cmbPrograms" v-model="currentProgram" id="cmbPrograms" class="form-control" @change="loadProductBalances()">
                                                <option v-for="program in myPrograms" v-bind:key="program.id" :value="program">{{program.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <!-- start of product table -->
                        <products-table :loadNodeProductsOnly="true" :selectionHandler="productSelected" :programArea="currentProgram.code"></products-table>
                        <!-- end of product table -->
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <transaction-product-batch
                                                    :txnProducts="transactionProducts"
                                                    :selectedProduct="selectedProduct"
                                                   :transactionHandler="savePhysicalCount"
                                                   :primaryButtonCaption="'Save PC'" :alertErrorHandler="alertError" :alertInfoHandler="alertInfo" :alertConfirmHandler="confirm"
                        :transactionType="txnType"></transaction-product-batch>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    //import datepicker from 'vue-strap/src/Datepicker'
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticatedWithCallBack} from '../../assets/js/http_with_token'
    import AlertMixin from '../../mixins/AlertMixin'
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    var context = {}
    export default{
        data(){
            return {
                txnType:"PHYSICAL_COUNT",
                txnDate: this.today(),
                dateFormat: 'yyyy-MM-dd',
                currentProgram:{},
                programs:[],
                nodePrograms:[],
                sortProgramsBy: 'code',
                selectedProduct:{},
                productBalances:[],
                pcRequest:{
                    nodeId: this.$store.state.persistedState.node.id,
                    pcProducts: [],
                    date: this.today(),
                    userId: this.$store.state.persistedState.user.id
                },
                transactionProducts: []
            }
        },
        components:{
            //'datepicker': datepicker
        },
        beforeMount(){
            context = this
            if(this.$store.state.route.query.txnDate!==undefined){
                this.txnDate = this.$store.state.route.query.txnDate
            }
            context.loadPrograms()
            context.loadNodePrograms()
        },
        mixins:[
            AlertMixin, NodeProductDateBalanceMixin
        ],
        computed:{
            myPrograms(){
                var sortColumn = context.sortProgramsBy
                var filteredPrograms = context.programs.filter(function(pr){
                    for(var i=0;i<context.nodePrograms.length;i++){
                        if(pr.id === context.nodePrograms[i].programId){
                            return true
                        }
                    }
                    return false
                })

                filteredPrograms.sort((a, b) => {
                    return (a[sortColumn] > b[sortColumn]) ? 1 : ((b[sortColumn] > a[sortColumn]) ? -1 : 0)
                })

                return filteredPrograms
            }
        },
        methods:{
            loadProductBalances(){
                context.loadNodeProductDateBalances( context.formatDate(context.txnDate),
                    context.$store.state.persistedState.node.id, context.currentProgram.id)
                context.selectedProduct = {}
            },
            loadPrograms: function(){
                getHttpAuthenticated().get("/programs").then(function(response) {
                    context.programs = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            loadNodePrograms: function(){
                getHttpAuthenticated().get("/get-node-programs-by-node/"+this.$store.state.persistedState.node.id)
                    .then(function(response) {
                        context.nodePrograms = response.data
                    }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            productSelected: function(selectedProduct){
                selectedProduct.balances = context.productBalances[selectedProduct.productCode]
                context.selectedProduct = selectedProduct
            },
            savePhysicalCount(transactionProducts){
//                const sumReducer = function(accumulator, productBatch){
//                    return accumulator + productBatch.quantity
//                }

                var adjustmentRequest = {
                    date:(context.txnDate ? context.parseDate(context.txnDate, 'YYYY-MM-DD') : new Date().getTime()),
                    userId : context.$store.state.persistedState.user.id,
                    node : context.$store.state.persistedState.node,
                    productBatches : []
                }

                var pcDate = (context.txnDate ? new Date(context.parseDate(context.txnDate, 'YYYY-MM-DD')) : new Date())
                var now = new Date()
                pcDate.setHours(now.getHours())
                pcDate.setMinutes(now.getMinutes())
                pcDate.setSeconds(now.getSeconds())
                pcDate.setMilliseconds(now.getMilliseconds())

                console.log(pcDate)

                context.pcRequest.date = pcDate.getTime()
                context.pcRequest.pcProducts = []


                transactionProducts.forEach(function (txnProduct) {

                    var pcProduct = {
                        ppId: null,
                        quantity: null,
                        pcProductBatches: []
                    }

                    pcProduct.ppId = txnProduct.programProductId
                    txnProduct.batchQuantities.forEach(function (batchQty) {

                        if(batchQty.adjustments !== undefined){
                            batchQty.adjustments.forEach(function (adj) {
                                adjustmentRequest.productBatches.push({
                                    programProductId: txnProduct.programProductId,
                                    productBatchId: batchQty.programProductBatchId,
                                    quantity: adj.quantity,
                                    laType: adj.adjustmentType,
                                    remarks: adj.remarks
                                })
                            })
                        }

                        pcProduct.pcProductBatches.push({
                            productBatch: batchQty.programProductBatchId,
                            countedQuantity: batchQty.quantity
                        })

                    })

                    pcProduct.quantity = null
                    context.pcRequest.pcProducts.push(pcProduct)
                })

                if(context.pcRequest.pcProducts.length == 0){
                    context.alertError('Please enter Physical count for all batches!')
                }else{


                    var fnReset = function(){
                        context.transactionProducts = []
                        context.loadProductBalances()
                        context.selectedProduct = {}
                        setTimeout(function(){
                            if(context.$store.state.route.query.source !== undefined){
                                var aDayAfterISOFormatted = function(date){
                                    var jsDate = new Date(date)
                                    var prevDate = jsDate.getDate() + 1
                                    jsDate.setDate(prevDate)
                                    var formattedDate = context.toISODateFormat(jsDate)
                                    return formattedDate
                                }

                                if(context.$store.state.route.query.source==='HivTesting'){
                                    context.$router.push("/hiv_tests?txnDate="+ aDayAfterISOFormatted(context.$store.state.route.query.txnDate))
                                }
                            }
                        }, 2000)

                    }

                    var fnSavePhysicalCount = function(){
                        getHttpAuthenticatedWithLoadingFlag().post("/rest-api/node/physical-count", context.pcRequest).then(function(response) {
                            context.alertInfo('Physical Count(s) saved successfully!')
                            fnReset()
                        }).catch(function(e) {
                            context.alertError('Sorry an error has occurred!')
                            fnReset()
                        })
                    }

                    if(adjustmentRequest.productBatches.length > 0){
                        getHttpAuthenticatedWithCallBack(function (response) {
                            console.log(response)
                            fnSavePhysicalCount()
                        }).post("/adjustment", adjustmentRequest).then(function(response) {
                            console.log(response)
                        }).catch(function(e) {
                            context.alertError('Sorry an error has occurred!')
                            fnReset()
                        })
                    }else{
                        fnSavePhysicalCount()
                    }



                }

            }
        }
    }
</script>
