<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-flag"></span> Product Status
                            </li>
                        </ol>
                    </div>
                </div>
                <h4><span class="glyphicon glyphicon-flag"></span> Product Status</h4>
                <hr>
                <div class="well well-sm">
                    <div class="row">
                        <form>
                            <div class="container">
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Select Date</label><br>
                                        <datepicker format="dd-MMM-yyyy"
                                                    v-validate="'required'" name="dateFrom"
                                                    v-model="searchFilter.dateFrom"
                                                    :placeholder="'yyyy-MM-dd'" ></datepicker><br>
                                        <span v-show="errors.has('dateFrom')" class="help is-danger">{{ errors.first('dateFrom') }}</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Select Program</label>
                                        <select v-validate="'required'" name="programCode" v-model="searchFilter.programId" class="form-control">
                                            <option v-for="program in myPrograms" :key="program.id" :value="program.id">{{program.name}}</option>
                                        </select>
                                        <span v-show="errors.has('program')" class="help is-danger">{{ errors.first('program') }}</span>
                                    </div>
                                </div>
                               <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Product Search</label>
                                        <input type="text"  name="product" v-model="productFilter" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Search Result
                        <div class="pull-right">
                            <a :href="exportPDFURL" class="btn btn-xs btn-default" target="_blank">
                                <i class="fa fa-file-pdf-o"></i> Export PDF
                            </a>

                            <a :href="exportExcelURL" class="btn btn-xs btn-default" target="_blank">
                                <i class="fa fa-file-excel-o"></i> Export Excel
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <span v-if="searchResult === undefined">Please provide your search criteria and click search. </span>
                        <span v-else-if="searchResult.length == 0">  No record found with the selected parameters</span>

                        <template  v-else>
                         <span>  Showing <strong>{{resultSetCount}} </strong> Records</span>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Product Code</th>
                                <th>Product Name</th>
                                <th>SDP Dispensing Unit</th>
                                <th class="text-right">Pack Size</th>
                                <th class="text-right">Balance</th>
                                <th class="text-right">Usable Balance</th>
                            </tr>
                            </thead>
                             <tbody >
                             <template v-for="(productStatus,  index) in filteredProductStatus"> <!-- outer transaction row -->
                                <tr>
                                    <td style="height: 38px;">{{index+1}}</td>
                                    <td>{{productStatus.productcode}}</td>
                                    <td>{{productStatus.nodeProduct.programProduct.product.primaryname}}}</td>
                                    <td>{{productStatus.nodeProduct.programProduct.product.dispensingunit}}</td>
                                    <td>{{productStatus.nodeProduct.programProduct.product.packsize}}</td>
                                    <td  class="text-right">{{productStatus.balance}}</td>
                                    <td  class="text-right">{{productStatus.usableBalance}}</td>
                                </tr>
                                 <tr  class="sub-table"  v-if="productStatus.nodeProgramProductBatchBalances.length > 0">
                                     <td colspan="4" :rowspan="productStatus.nodeProgramProductBatchBalances.length+1"></td>
                                     <td>Batch Number</td>
                                     <td class="text-right">Balance</td>
                                     <td class="text-right">Usable Balance</td>
                                 </tr>
                                 <tr class="sub-table" v-for="batchBalance in productStatus.nodeProgramProductBatchBalances">

                                     <td>{{batchBalance.nodeProgramProductBatch.programProductBatch.name}}</td>
                                     <td class="text-right">{{batchBalance.balance}}</td>
                                     <td class="text-right">{{batchBalance.usableBalance}}</td>
                                 </tr>
                             </template>
                        </tbody>
                        </table>
                    </template>
                    </div>
                </div>
                </div>
                </div>


            </div>
        </div>



    </div>


</template>
<script>

    import Paginate from 'vuejs-paginate'
    import {getHttpAuthenticated} from '../../assets/js/http_with_token'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import Programs from '../../mixins/Programs'
    import AlertMixin from '../../mixins/AlertMixin'
    import {_} from 'vue-underscore';

    var context = {}
    export default ({
        data() {
            return {
                searchFilter : {
                    dateFrom: ''
                },
                programs: [],
                nodePrograms: [],
                sortProgramsBy: 'code',
                searchResult : [],
                productFilter : undefined
            }
        },
        mixins:[
            Programs,
            AlertMixin
        ],
        beforeMount () {
            context = this
            context.loadNodePrograms()
            context.loadPrograms()
        },

        components: {
            'paginate': Paginate
        },
        computed : {
            exportPDFURL(){
                var nodeId = context.$store.state.persistedState.node.id
                return "/report/download/product_status/PDF?nodeId=" + nodeId
                    + "&date=" + context.searchFilter.dateFrom + "&programId=" + context.searchFilter.programId
            },
            exportExcelURL(){
                var nodeId = context.$store.state.persistedState.node.id
                return "/report/download/product_status/XLS?nodeId=" + nodeId
                    + "&date=" + context.searchFilter.dateFrom + "&programId=" + context.searchFilter.programId
            },
            resultSetCount : function() {
                return context.searchResult.length;
            },
            filteredProductStatus : function(){
                return  context.searchResult.filter(function(item){
                    return context.productFilter == undefined ||
                    item.productcode.toLowerCase().indexOf(context.productFilter.toLowerCase()) > -1
                })
            }

        },
        watch: {
            searchFilter : {
                handler(){
                    if(!(context.searchFilter.dateFrom === '' || context.searchFilter.programId == undefined))
                        context.search()
                },
                deep: true
            }
        },
        methods: {

            search : function(event){
                if(event !== undefined)
                    event.preventDefault()

                context.searchFilter.nodeId = this.$store.state.persistedState.node.id;

                var urlPredicate = context.searchFilter.dateFrom+'/'+context.searchFilter.nodeId+'/'+context.searchFilter.programId;

                getHttpAuthenticated().get('/rest-api/node/node/balances-on-date/'+urlPredicate).then(function(response){
                    const data  = []
                    _.each(response.data, function(item,key){
                        item.productcode = key
                        data.push(item)
                    });

                    context.searchResult = data
                    console.log(context.searchResult)
                }).catch(function(error){
                    console.log(error)
                })
            },

            clearSearchForm : function(event){
                event.preventDefault();
                context.searchFilter = {
                        dateFrom : ''
                }
            }

        }
    })
</script>

<style>
    .sub-table{
        background-color: #ebf1f6  !important;

    }
    .sub-table  td, .sub-table th{
        border : 1px solid #b3e1ff !important
    }
    .sub-table th{
        background-color: aliceblue !important;
    }
    .table-hover tr:hover{
        cursor: pointer;
    }

    .sub-table tr.batch td{
        background-color: #c4e2ff;
        border-bottom: 1px solid #94caff !important;
        border-right: 1px solid #94caff !important;
    }

    .table tr.selected{
        font-weight: bold;
        font-size: 13px;
    }

</style>
