<template>
	<div id="wrapper">
	    <navigation></navigation>
	    <div class="page-wrapper">
	    	<div class="container">

		        <div class="row">
		          <div class="col-sm-12 col-md-12">
		            <ol class="breadcrumb">
		              <li>
		                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
		              </li>
		              <li class="active">
		                <span class="glyphicon glyphicon-pencil glyphicon-list"></span> Stock Control Cards
		              </li>
		            </ol>
		          </div>
		        </div>

		        <div class="row">
                    <div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-primary">
									<div class="panel-heading">
										<h3 class="panel-title">Select Program</h3>
									</div>
									<div class="panel-body">
										<div class="form-group">
											<label for="cmbPrograms">Programs</label>
                                            <select name="cmbPrograms" v-model="currentProgramCode" id="cmbPrograms" class="form-control">
                                                <option v-for="program in myPrograms" v-bind:key="program.id" :value="program.code">{{program.name}}</option>
                                            </select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<productsTable :selectionHandler="showSCC" :programArea="currentProgramCode" :loadNodeProductsOnly="true"></productsTable>
					</div>
					<div class="col-md-8" v-if="selectedProduct">

						<div class="panel">
							<div class="panel-heading">
                                <div class="pull-right">
                                    <a :href="exportPDFURL" class="btn btn-xs btn-default" target="_blank">
                                        <i class="fa fa-file-pdf-o"></i> Export PDF
                                    </a>

                                    <a :href="exportExcelURL" class="btn btn-xs btn-default" target="_blank">
                                        <i class="fa fa-file-excel-o"></i> Export Excel
                                    </a>
                                </div>
                                <img width="100px"  src="../../assets/img/logo.png" alt="Zambia">
                                <h2 class="panel-title" style="text-align: center; text-transform: uppercase;  margin-bottom: 15px; font-size: 18px;">
                                    <strong>{{reportTitle}}</strong>
                                </h2>

								<h2 class="panel-title" style="text-align: center; text-transform: uppercase;  margin-bottom: 15px; font-size: 18px;">
                                    <strong>Stock Control Card</strong>
                                </h2>
                                <table class="table" style="table-layout: fixed;">
                                    <thead>
                                    <tr>
                                        <th>Product Code</th>
                                        <th>Item Description</th>
                                        <th>Unit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{selectedProduct.productCode}}</td>
                                        <td>{{selectedProduct.productName}}</td>
                                        <td>{{selectedProduct.generalStrength}}</td>
                                    </tr>
                                    </tbody>
                                </table>
							</div>
							<div class="panel-body" id="stockControlCard">
                                <div id="card">
                                    <table class=" report-table table table-responsive table-hover table-bordered  table-stripped scc" >
                                        <thead>
                                        <tr>
                                            <th style="width: 5%">Date</th>
                                            <th class="align-right" style="width: 10%">Ref. No</th>
                                            <th class="align-center">Issued to received from</th>
                                            <th class="align-right" style="width: 10%">Quantity received(+)</th>
                                            <th class="align-right" style="width: 10%">Quantity Issued (-)</th>
                                            <th class="align-right" style="width: 10%">Losses and Adjustment (+/-)</th>
                                            <th class="align-right" style="width: 10%">Balance</th>
                                            <th>Remark</th>
                                            <th class="align-center" style="width: 10%">{{ $t("message.lbl_stockcontrolcard_transacted_by") }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="sccItem in filteredSCC" v-bind:class="hightlight(sccItem)">
                                            <td data-label="Date">{{ sccItem.date | formatDateSimple }}</td>
                                            <td data-label="Ref. No" class="align-right">{{sccItem.refNo}}</td>
                                            <td data-label="Issued to received from" class="align-center">{{sccItem.fromOrTo}}</td>
                                            <td data-label="Quantity Received" class="align-right">{{sccItem.qtyReceived}}</td>
                                            <td data-label="Quantity Issued" class="align-right">{{sccItem.qtyIssued}}</td>
                                            <td data-label="Losses & adjustments" class="align-right">{{sccItem.lossesNAdjustments}}</td>
                                            <td data-label="Balance" class="align-right">{{sccItem.balance}}</td>
                                            <td data-label="Remark" >{{sccItem.remark}}</td>
                                            <td data-label="User" class="align-center">{{sccItem.user}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

							</div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>
                                                <select v-model="pageSize" class="form-control">
                                                    <option value="5">5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>records per page</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <small>Showing page {{pageNumber}} of {{totalNumberOfPages}}</small>
                                    </div>

                                    <div class="col-md-6">
                                        <paginate
                                                :page-count="totalNumberOfPages"
                                                :click-handler="setPage"
                                                :prev-text="'Prev'"
                                                :next-text="'Next'"
                                                :container-class="'pagination'">
                                        </paginate>
                                    </div>
                                </div>
                            </div>
						</div>
					</div>
		        </div>



		    </div>
	    </div>
	</div>
</template>
<style>
    .align-right{
        text-align: right;
    }
    .align-center{
        text-align:center;
    }
</style>
<script>
import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
import {getHttpAuthenticated} from '../../assets/js/http_with_token'
import ProductsTable from '../layout/ProductsTable'
import Paginate from 'vuejs-paginate'
var context = {}

export default({
	data(){
		return {
			currentProgramCode: '',
			stockControlCardList: [],
			search: '',
			http_errors: [],
			column: 'productCode',
            pageNumber: 1,
            totalNumberOfPages: 0,
            pageSize: 20,
            programs:[],
            nodePrograms:[],
            selectedProduct:undefined
		}
	},
	components:{
		'productsTable': ProductsTable,
        'paginate': Paginate
	},
    beforeMount () {
    	context = this
        context.loadNodePrograms()
        context.loadPrograms()
    },
    computed:{
	    logoName(){
            var logoSystemSetting = context.$store.state.persistedState.systemSettings.find(systemSetting => {
                return systemSetting.key === 'report.logo.filename'
            })
            return logoSystemSetting !==undefined ? logoSystemSetting.value : ""
        },
        reportTitle(){
            var reportTitleSystemSetting = context.$store.state.persistedState.systemSettings.find(systemSetting => {
                return systemSetting.key === 'report.title'
            })
            return reportTitleSystemSetting !== undefined ? reportTitleSystemSetting.value : ""
        },
	    exportPDFURL(){
            var ppbId = context.selectedProduct.programproductid
            var nodeId = context.$store.state.persistedState.node.id
	        return "/report/download/stock_control_card/PDF?nodeId=" + nodeId
                + "&fromDate=&toDate=&ppbId=" + ppbId
        },
        exportExcelURL(){
            var ppbId = context.selectedProduct.programproductid
            var nodeId = context.$store.state.persistedState.node.id
            return "/report/download/stock_control_card/XLS?nodeId=" + nodeId
                + "&fromDate=&toDate=&ppbId=" + ppbId
        },
	    filteredSCC(){
            var pages = this.stockControlCardList.length / this.pageSize
            this.totalNumberOfPages = Number.isInteger(pages) ? pages : (parseInt(pages) + 1)
            var pageSize = parseInt(context.pageSize)
            var pageNumber = parseInt(context.pageNumber) > parseInt(context.totalNumberOfPages) ? parseInt(context.totalNumberOfPages) : parseInt(context.pageNumber)
            if (pageNumber > context.totalNumberOfPages) {
                pageNumber = context.totalNumberOfPages
            }
            var startingIndex = (pageNumber - 1) * pageSize
            var endingIndex = startingIndex + pageSize
            var paginatedFilteredList = this.stockControlCardList.slice(startingIndex, endingIndex)

            return paginatedFilteredList
        },
        myPrograms(){
            var sortColumn = context.sortProgramsBy
            var filteredPrograms = context.programs.filter(function(pr){
                for(var i=0;i<context.nodePrograms.length;i++){
                    if(pr.id === context.nodePrograms[i].programId){
                        return true
                    }
                }
                return false
            })

            filteredPrograms.sort((a, b) => {
                return (a[sortColumn] > b[sortColumn]) ? 1 : ((b[sortColumn] > a[sortColumn]) ? -1 : 0)
            })

            return filteredPrograms
        }
    },
	methods: {
        loadPrograms: function(){
            getHttpAuthenticatedWithLoadingFlag().get("/programs").then(function(response) {
                context.programs = response.data
            }).catch(function(e) {
                context.http_errors.push(e)
            })
        },
        loadNodePrograms: function(){
            getHttpAuthenticatedWithLoadingFlag().get("/get-node-programs-by-node/"+this.$store.state.persistedState.node.id)
                .then(function(response) {
                    context.nodePrograms = response.data
                }).catch(function(e) {
                context.http_errors.push(e)
            })
        },
	    printSCC(){
            var toPrint = document.getElementById('stockControlCard')
            var head = document.getElementsByTagName('head')

            console.log(head[0].innerHTML)
            var newWin = window.open('', 'Print-Window')
            newWin.document.open()
            newWin.document.write('<html><head>' + head[0].innerHTML + '</head><body onload="window.print()">' + toPrint.innerHTML + '</body></html>')
            newWin.document.close()
            setTimeout(function() {
                newWin.close();
            }, 10);
        },
        setPage: function (pageNumber) {
            context.pageNumber = pageNumber
        },
		parseRemark: function(remarkJSON){
			if(remarkJSON){
				return JSON.parse(remarkJSON).TRANSACTION_REMARK
			}
			return ''
		},
		clearhttp_errors: function(){
			//console.log("clearing the http_errors")
			this.http_errors.length = 0
		},
		showSCC: function(product){
		    context.selectedProduct = product
			context.stockControlCardList = []
			var stockControlCardRequestObj = {
				store: {
					id: context.$store.state.persistedState.node.id
				},
				from: new Date('01-01-1970').getTime(),
				to: new Date().getTime(),
				ppId: null
			}

			stockControlCardRequestObj.ppId =  product.programproductid

            getHttpAuthenticatedWithLoadingFlag().post("/rest-api/node/stock-control-card", stockControlCardRequestObj).then( function(response) {
                context.stockControlCardList = response.data
                context.http_errors.length = 0
            }).catch(function(e) {
                context.stockControlCardList.length = 0
                context.http_errors.push(e)
                console.log(e)
            })
		},
	    hightlight: function(sccItem){
	    	if(sccItem.qtyReceived > 0 || sccItem.fromOrTo ==='Physical Count'){
	    		return 'highlighted-red'
	    	}
	    },
	    loadNodeProducts: function(){
            getHttpAuthenticatedWithLoadingFlag().get("/facility-approved-node-products?nodeId=" +
									  context.$store.state.persistedState.node.id +
									  "&programCode=" + context.currentProgramCode)
			.then(function(response){
	          context.baseProductList = response.data
	        }).catch(function(error){
	          context.http_errors.push(error)
	        })
		}
	}
})
</script>
<style>
	.record:hover{
		/*text-decoration: underline;*/
		cursor: pointer;
	}
	.highlighted-red{
		color: #F00;
		/*text-decoration: underline;*/
	}

</style>
