<template>
    <modal v-model="showModal" @ok="showModal = false" effect="fade" :backdrop="false">
        <div slot="modal-header" class="modal-header modal-header-primary">
            <h4 class="modal-title">
                <b>Select Facility</b>
            </h4>
        </div>
        <div slot="modal-body" class="modal-body">
            <div class="row">
                <!--<div class="col-md-4">
                    <div class="form-group">
                        <label>Select Province</label>
                        <select class="form-control" v-model="provinceSelected">
                            <option value="undefined">Select One</option>
                            <option v-for="province in provinces" :value="province.id"> {{ province.name }} </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Select District</label>
                        <select class="form-control" @change="loadFacilities()" v-model="districtSelected">
                            <option value="undefined">Select One</option>
                            <option v-for="district in districts" :value="district.id"> {{ district.name }} </option>
                        </select>
                    </div>
                </div>-->
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Select Facility</label>
                        <v-select class="form-control" v-model="facilitySelected" :options="facilities">
                        </v-select>
                    </div>
                </div>
            </div>
        </div>
        <!-- custom buttons -->
        <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-success" @click="saveFacilityHandler(facilitySelected)">Save</button>
            <button type="button" class="btn btn-danger" @click="closedHandler()">Cancel</button>
        </div>
    </modal>
</template>
<script>
    import modal from 'vue-strap/src/Modal'
    import {getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticated} from '../../assets/js/http_with_token'
    var context = {}
    export default{
        props:{
            showFacilitySelectionModal:{
                type: Boolean,
                default: false
            },
            saveFacilityHandler:{
                type: Function,
                default: function () {
                    //console.log('No Handler configured for this action')
                }
            },
            closedHandler:{
                type: Function,
                default: function () {
                    //console.log('No Handler configured for this action')
                }
            }
        },
        data(){
            return {
                geoLevels: [],
                geoZones: [],
                facilities: [],
                provinceSelected: undefined,
                districtSelected: null,
                facilitySelected: undefined,
                showModal: false
            }
        },
        watch:{
            showFacilitySelectionModal: function (value) {
                context.showModal = value
                if(!value){
                    context.provinceSelected = undefined
                    context.districtSelected = undefined
                    context.facilitySelected = undefined
                }
            }
        },
        components:{
            'modal': modal
        },
        beforeMount(){
            context = this
            // context.loadGeoLevels()
            // context.loadGeoZones()
            context.loadFacilities()
        },
        computed:{
            /*districts(){
                return context.geoZones.filter(function (geoZone) {
                    return geoZone.parentid === context.provinceSelected
                })
            },
            provinces(){
                var provinceGeoLevel = context.geoLevels.find(function (geoLevel) {
                    return geoLevel.name === 'Province'
                })
                return context.geoZones.filter(function (geoZone) {
                    return geoZone.levelid === provinceGeoLevel.id
                })
            }*/
        },
        methods: {
            /*loadGeoLevels: function(){
                getHttpAuthenticated().get("/rest-api/facility/all-geo-levels").then(function(response) {
                    context.geoLevels = response.data
                }).catch(function(e) {
                    console.log(e)
                })
            },
            loadGeoZones: function(){
                getHttpAuthenticated().get("/rest-api/facility/all-geo-zones").then(function(response) {
                    context.geoZones = response.data
                }).catch(function(e) {
                    console.log(e)
                })
            },*/
            loadFacilities: function(){
                getHttpAuthenticated().get("/all-facilities").then(function(response) {
                    context.facilities = response.data
                    context.facilities.forEach(value => {
                        value.label = value.code + " - " + value.name
                        value.value = value.id
                    })
                    var column = "name"
                    context.facilities = context.facilities.sort((a, b) => { return (a[column] > b[column]) ? 1 : ((b[column] > a[column]) ? -1 : 0) })
                }).catch(function(e) {
                    console.log(e)
                })
            }
        }
    }
</script>
