<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                    <h4><span class="glyphicon glyphicon-cog"></span>  Manage System Settings</h4>
                 <hr/>
                    <tabs v-model="activeTab" nav-style="tabs">
                        <tab  v-bind:header="propertyName" v-for="(value, propertyName)  in allSettings" :key="propertyName">
                            <div class="form-block">
                            <table class="table">
                                <thead>
                                <tr>
                                    <td><strong>#</strong></td>
                                    <td><strong>Key</strong></td>
                                    <td><strong>Value</strong></td>
                                </tr>
                               <tr v-for="(property, index) in value">
                                    <td>{{index+1}}</td>
                                    <td>{{property.key}}</td>
                                    <td style="width:65%">
                                        <div v-if="property.dataType === 'String'">
                                            <input type="text" v-model="property.value" style="width:90%;" @change="setDataDirty(property)" :disabled="!property.isconfigurable">
                                        </div>
                                        <div v-else-if="property.dataType === 'Boolean'">
                                            <input type="checkbox" v-model="property.value" true-value="true" false-value="false" @change="setDataDirty(property)" :disabled="!property.isconfigurable"/>
                                        </div>
                                        <div v-else-if="property.dataType === 'Number'">
                                            <input type="number" v-model="property.value" style="width:90%;" @change="setDataDirty(property)" :disabled="!property.isconfigurable">
                                        </div>
                                    </td>
                                </tr>
                                </thead>
                            </table>
                            </div>
                        </tab>
                    </tabs>
                </div>


            <div class="col-xs-12 static-action-bar ">
                    <button class="btn btn-success btn-sm" :disabled="!dataEdited" v-on:click="saveSetting(allSettings)"> <span class="glyphicon glyphicon-floppy-disk"></span> SAVE CHANGES</button>
                   <!-- <button class="btn btn-default btn-sm" v-on:click="cancelSettingForm($event)"> <span class="glyphicon glyphicon-remove"></span> CANCEL</button> -->
                    <span class="success" v-if="successMessage !== undefined"><span class="glyphicon glyphicon-ok">{{successMessage}}</span>  </span>
            </div>



        </div>

        </div>
</template>

<script>
  import {getHttpAuthenticatedWithLoadingFlag} from '../../../assets/js/http_with_token'
  import tabs from 'vue-strap/src/Tabs'
  import tab from 'vue-strap/src/Tab'
  import {_} from 'vue-underscore';

    var context = {}

    export default({
        data(){
            return {
                allSettings : {},
                activeTab : 0,
                successMessage : undefined,
                dataEdited : false
            }
        },
        components: {
            tabs,
            tab
        },
        computed : {

        },
        beforeMount(){
            context = this
            context.getAllSettings();
        },
        watch : {
            '$route' (to, from){
                //context.getSelectedUser();
               // context.getRole();
            }
        },

        methods: {

            getAllSettings : function(){
                getHttpAuthenticatedWithLoadingFlag().get("/applicationSetting/all").then(function (response) {
                    context.allSettings = _.groupBy(response.data, 'groupName');
                    console.log(context.allSettings);
                }).catch(function (e) {
                    console.log(e);
                });
            },

            saveSetting : function(allSettings){
               getHttpAuthenticatedWithLoadingFlag().put("/applicationSetting/save",
                    _.chain(allSettings).map(function(num, key){ return num; }).flatten().filter(function(num){ return num.dirty }).value()
                ).then(function (response) {
                    context.successMessage = response.data;
                    context.dataEdited = false;
                    context.getAllSettings();
                }).catch(function (e) {
                    console.log(e);
                });
            },

            cancelRoleForm : function(){
                console.log(context.allSettings);
            },

            setDataDirty : function(data){
                context.dataEdited = true;
                data.dirty = true;
            }


        }
    })
</script>

<style>
    .form-block{
        padding: 12px 24px 12px 30px;
        margin: 1em 0;
        border-left-width: 4px;
        background-color: #f8f8f8;
        position: relative;
    }
    .success{
        color: green;
        font-size: 14px;
        font-weight: bolder;
    }
</style>
