<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="fa fa-check"></span> Bulk Consumption
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeAlert"></alert>
                <div class="row">
                    <div class="container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <br>
                                            <datepicker v-model="txnDate" :format="dateFormat" @input="loadProductBalances()"></datepicker>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Program Area</label>
                                            <select v-model="programSelected" class="form-control" @change="loadProductBalances()">
                                                <option v-for="program in myPrograms" :value="program">{{program.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <!-- start of product table -->
                        <products-table :loadNodeProductsOnly="true" :selectionHandler="productSelected" :programArea="programSelected.code"></products-table>
                        <!-- end of product table -->
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <transaction-product-batch :txnProducts="transactionProducts"
                                                   :selectedProduct="selectedProduct" :transactionHandler="saveBulkConsumption"
                                                   :showProductBalances="true"
                                                   :primaryButtonCaption="'Save'"
                                                   :transactionType="'DISPENSING'" :alertErrorHandler="alertError" :alertInfoHandler="alertInfo"></transaction-product-batch>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import AlertMixin from '../../mixins/AlertMixin'
    import ProgramsMixin from '../../mixins/Programs'
    var context = {}
    export default{
        data() {
            return {
                txnDate: this.today(),
                dateFormat: 'yyyy-MM-dd',
                programs: [],
                nodePrograms: [],
                sortProgramsBy: 'code',
                programSelected:{},
                baseProductList:[],
                nodeId : this.$store.state.persistedState.node.id,
                selectedProduct:{},
                productBalances: [],
                transactionProducts: []
            }
        },
        components:{
        },
        beforeMount(){
            context = this
            context.loadNodePrograms()
            context.loadPrograms()
        },
        mixins:[
            NodeProductDateBalanceMixin, AlertMixin, ProgramsMixin
        ],
        methods:{
            loadProductBalances(){
                context.loadNodeProductDateBalances( context.formatDate(context.txnDate), context.$store.state.persistedState.node.id,
                    context.programSelected.id)
                context.selectedProduct = {}
            },
            productSelected(product){
                product.balances = context.productBalances[product.productCode]
                context.selectedProduct = product
            },
            reloadBalances(){
                context.selectedProduct.balances = context.productBalances[product.productCode]
            },
            saveBulkConsumption(transactionProducts){
                if(transactionProducts && transactionProducts.length > 0){

                    var consumptionRequestObj = {
                        node: context.$store.state.persistedState.node,
                        txnProducts: transactionProducts,
                        txnType: 'DISPENSING', //TODO: remove hard coded value,
                        txnDate: (context.txnDate ? context.parseDate(context.txnDate, 'YYYY-MM-DD') : new Date().getTime()),
                        userId: context.$store.state.persistedState.user.id
                    }

                    getHttpAuthenticatedWithLoadingFlag().post("/rest-api/transaction/consumption-backlog",
                        consumptionRequestObj).then(function(response) {
                        context.alertInfo('Transaction saved successfully!')
                        context.transactionProducts = []
                        context.loadProductBalances()
                        context.selectedProduct = {}
                    }).catch(function(e) {
                        console.log(e)
                        context.alertError('Sorry an error has occurred!')
                    })

                }



            }
        }
    }
</script>
