<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="fa fa-hospital-o"></span> Dispense Drugs
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <tabs v-model="activeTab" nav-style="tabs" justified>
                            <tab header="Search">
                                <advancedsearch :openClientRecordHandler="openClientRecord"></advancedsearch>
                            </tab>
                            <tab :header="'Dispensation'" :disabled="!enableDispensationTab">
                                <currentregimen :client="client"></currentregimen>
                            </tab>
                        </tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import tabs from 'vue-strap/src/Tabs'
    import tab from 'vue-strap/src/Tab'
    import expectedclients from './dispensation/ExpectedClients'
    import currentregimen from './dispensation/CurrentRegimen'
    import advancedsearch from './dispensation/AdvancedSearch'
    import emdispensation from './DispenseEM'
    import dispensationtype from './dispensation/DispensationType'
    var context = {}

    export default({
        data(){
            return {
                activeTab: 0,
                client: {},
                clientToDispenseTo:{},
                completeClientRecord:{},
                disableDispensationTypeTab: true,
                disableAdvancedSearchTab: true,
                dispensationType: "",
                enableDispensationTab: false,
                dispensationFormTitle: "Patient Record",
                isARVDispensationActive: false
            }
        },
        components: {
            tabs,
            tab,
            expectedclients,
            "currentregimen" : currentregimen,
            advancedsearch,
            dispensationtype,
            "emdispensation": emdispensation
        },
        beforeMount(){
            context = this
        },
        mounted(){
            context.$store.dispatch("setCurrentClient", {})
            var clientId = context.$store.state.route.query.clientId
            var fromRoute = context.$store.state.route.from.name
            if(clientId !== undefined && fromRoute === 'facilityClient'){
                //console.log("Loading client with id " + clientId)
                var client = {
                    id: clientId
                }
                context.openClientRecord(client)
            }
        },
        computed:{
            dispensationTypeNotSet(){
                return context.dispensationType === undefined || context.dispensationType === ''
            },
            dispensationComponentName(){
                if(context.dispensationType === ''){
                    return ''
                }
                return context.dispensationType === 'ARV' ? 'currentregimen' :  'emdispensation'
            },
            showARVDispensationTab(){
                return context.dispensationType === 'ARV'
            },
            showEMDispensationTab(){
                return context.dispensationType === 'EM'
            }
        },
        methods:{
            openClientRecord(client){
                context.disableDispensationTypeTab = false
                if(context.dispensationType === 'ARV'){
                    context.dispensationFormTitle = "DISPENSATION"
                }else{
                    context.dispensationFormTitle = "EM Dispensation"
                }
                context.$store.dispatch("setCurrentClient", client).then(function () {
                    context.enableDispensationTab = true
                    context.activeTab = 1
                    context.client = client
                })

            },
            openCompleteClientRecord(completeClientRecord){
                context.disableDispensationTypeTab = false
                context.completeClientRecord = completeClientRecord
                context.activeTab = 1
            },
            resetForm(){
                context.$store.dispatch('setCurrentClient', {})
                context.$store.dispatch('setProductBatches', [])
                context.$store.dispatch('setPrescriptionProducts', [])
                context.dispensationFormTitle = "Patient Record"
                context.enableDispensationTab = false
                context.dispensationType = ''
                context.activeTab = 0
                context.client = {}
            },
            isEmpty(obj){
                return Object.keys(obj).length === 0
            },
            dispensationTypeChanged(dispensationType){
                context.dispensationType = dispensationType
                context.activeTab = 1
            }
        },
        watch:{
            activeTab:function(value){
                if(value === 0){
                    context.resetForm()
                }
            }
        }
    })
</script>
<style>
    .hide{
        display: none;
    }
</style>
