<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> HIV Tests
                            </li>
                        </ol>
                    </div>
                </div>

                <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :title="alertTitle"
                       :message="alertMessage" :closeHandler="closeAlert"></alert>

                <changekits :show="showChangeTestKits"
                            :closedHandler="hideChangeTestKitsModal"
                            :saveKitsHandler="onChangeTestKits"
                            :currentScreeningTestKit="screeningProduct"
                            :currentConfirmatoryTestKit="confirmatoryProduct"></changekits>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label>Select Date</label>
                                            <br>
                                            <datepicker v-model="txnDate" :format="dateFormat" @input="dateChanged()"></datepicker>
                                            <br>
                                            <br>
                                            <button @click="showChangeTestKitsModal()" v-if="hasPermission('CHANGE HIV TEST KITS')" class="btn btn-xs btn-default">

                                                <i class="fa fa-edit"></i>
                                                Change Kits</button>
                                        </div>
                                    </div>


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Screening Product</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input v-model="screeningProductName" class="form-control" disabled/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Product Batch</label>
                                                    <select v-model="currentScreeningProduct" class="form-control">
                                                        <option v-for="scrPrdBatch in screeningProductBatches":value="scrPrdBatch">{{scrPrdBatch.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Available Balance</label>
                                                    <input v-model="currentScreeningProduct.balance" class="form-control" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Confirmatory Product</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input v-model="confirmatoryProductName" class="form-control" disabled/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label>Product Batch</label>
                                                    <select v-model="currentConfirmatoryProduct" class="form-control">
                                                        <option v-for="confPrdBatch in confirmatoryProductBatches" :value="confPrdBatch">{{confPrdBatch.name}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label>Available Balance</label>
                                                    <input v-model="currentConfirmatoryProduct.balance" class="form-control" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Test
                                </h4>
                            </div>
                            <form>
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>
                                                    Client Number
                                                </label>
                                                <input v-model="paddedClientNumber" class="form-control" @input="setClientNumberFromUserInput($event)">
                                                <input type="hidden" v-model="clientNumber">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="cmdTestPurpose">
                                                    Test Purpose
                                                </label>
                                                <select v-validate="'required'" name="Test Purpose" v-model="purpose" id="cmdTestPurpose" class="form-control">
                                                    <option value="VCT">VCT</option>
                                                    <option value="PMTCT">PMTCT</option>
                                                    <option value="CLINICAL_DIAGNOSIS">Clinical Diagnosis</option>
                                                    <option value="QUALITY_CONTROL">Quality Control</option>
                                                    <option value="OTHER">OTHER</option>
                                                </select>
                                                <span v-show="errors.has('Test Purpose')" class="help is-danger">{{ errors.first('Test Purpose') }}</span><br>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="row" v-if="purpose === 'OTHER'">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="txtOtherTestPurpose">Test Purpose Name</label>
                                                <input v-validate="'required'" name="Other Test Purpose" type="text" class="form-control" v-model="otherPurpose">
                                                <span v-show="errors.has('Other Test Purpose')" class="help is-danger">{{ errors.first('Other Test Purpose') }}</span><br>
                                            </div>
                                        </div>
                                    </div>-->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>
                                                Screening Result
                                            </label>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbScrReactive">
                                                        <input id="rbScrReactive" type="radio" v-model="screeningResult" value="REACTIVE" /> Reactive
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbScrNonReactive">
                                                        <input id="rbScrNonReactive" type="radio" v-model="screeningResult" value="NON_REACTIVE" /> Non Reactive
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbScrInvalid">
                                                        <input id="rbScrInvalid" type="radio" v-model="screeningResult" value="INVALID" /> Invalid
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <label >
                                                Confirmatory Result
                                            </label>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbConfReactive">
                                                        <input id="rbConfReactive" type="radio" v-model="confirmatoryResult" value="REACTIVE" :disabled="disableConfirmatoryResultInput"/> Reactive
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbConfNonReactive">
                                                        <input id="rbConfNonReactive" type="radio" v-model="confirmatoryResult" value="NON_REACTIVE" :disabled="disableConfirmatoryResultInput"/> Non Reactive
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container">
                                                    <label for="rbConfInvalid">
                                                        <input id="rbConfInvalid" type="radio" v-model="confirmatoryResult" value="INVALID" :disabled="disableConfirmatoryResultInput"/> Invalid
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="panel-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button class="btn btn-sm btn-success" @click="nextTest($event)">
                                                    <i class="fa fa-arrow-circle-right"></i> Save Test</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>

                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    Test Results done so far
                                </h4>
                            </div>

                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th>Test Purpose</th>
                                        <th>Client Number</th>
                                        <th>Screening Result</th>
                                        <th>Screening Product Batch</th>
                                        <th>Confirmatory Result</th>
                                        <th>Confirmatory Product Batch</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="result in results">
                                        <td>{{result.purpose}}</td>
                                        <td>{{result.clientNumber}}</td>
                                        <td>{{result.screeningResult}}</td>
                                        <td>{{result.screeningProduct}}</td>
                                        <td>{{result.confirmatoryResult}}</td>
                                        <td>{{result.confirmatoryProduct}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
<script>
    //import datepicker from 'vue-strap/src/Datepicker'
    import radio from 'vue-strap/src/Radio'
    import changekits from './hivtest/ChangeKits'
    import AlertMixin from '../../mixins/AlertMixin'
    import NodeProductMixin from '../../mixins/NodeProducts'
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag,
        getHttpAuthenticatedWithCallBack} from '../../assets/js/http_with_token'
    var context = {}
    export default{
        data(){
            return {
                txnDate: '',
                dateFormat: 'yyyy-MM-dd',
                screeningResult:'',
                confirmatoryResult:'',
                clientNumber: 1,
                purpose: '',
                otherPurpose: '',
                results:[],
                screeningProduct:{},
                confirmatoryProduct:{},
                screeningProductName: '',
                confirmatoryProductName: '',
                screeningProductBatches:[],
                confirmatoryProductBatches:[],
                currentScreeningProduct:{},
                currentConfirmatoryProduct:{},
                productBalances: [],
                baseProductList:[],
                showChangeTestKits: false,
                latestPhysicalCountsMap: new Map(),
                disableConfirmatoryResultInput: true,
                programs: [],
                clientNumberFromUserInput:''
            }
        },
        components:{
            //'datepicker': datepicker,
            'radio': radio,
            changekits
        },
        beforeMount(){
            context = this
            if(this.$store.state.route.query.txnDate!==undefined){
                this.txnDate = this.$store.state.route.query.txnDate
            }
            context.loadPrograms()
            context.loadNodeProducts(context.$store.state.persistedState.node.id,
                "HIV")
            context.getTestKitsAvailability()
            context.loadClientNumber()
        },
        mixins:[
            AlertMixin, NodeProductDateBalanceMixin, NodeProductMixin
        ],
        computed:{
            hivProgram(){
                return context.programs.find(function(program){
                    return program.code === 'HIV'
                })
            },
            paddedClientNumber:{
                get: function(){
                    return context.clientNumber.toString().padStart(4, "0")
                },
                set: function(newValue){
                    context.clientNumberFromUserInput = newValue
                }
            },
            latestPCForScreeningProduct(){
                return context.latestPhysicalCountsMap.get(context.screeningProduct.product.code)
            },
            latestPCForConfirmatoryProduct(){
                return context.latestPhysicalCountsMap.get(context.confirmatoryProduct.product.code)
            },
            aDayBeforeTxnDateFormatted(){
                var jsDate = new Date(context.txnDate)
                var prevDate = jsDate.getDate() - 1
                jsDate.setDate(prevDate)
                var formattedDate = context.formatDate(jsDate)
                return formattedDate
            },
            aDayBeforeTxnDateISOFormatted(){
                var jsDate = new Date(context.txnDate)
                var prevDate = jsDate.getDate() - 1
                jsDate.setDate(prevDate)
                var formattedDate = context.toISODateFormat(jsDate)
                return formattedDate
            }
        },
        watch:{
            purpose: function(newPurpose){
                context.screeningResult = ''
                context.confirmatoryResult = ''
                context.refreshForm()
            },
            screeningResult: function(newResult){
                context.refreshForm()
                context.confirmatoryResult = ''
            },
            productBalances: function(balances){

                var screeningNodeProduct = balances[context.screeningProduct.product.code].nodeProduct
                var confrimatoryNodeProduct = balances[context.confirmatoryProduct.product.code].nodeProduct

                var screeningProductBalances = balances[context.screeningProduct.product.code].nodeProgramProductBatchBalances
                var confirmatoryProductBalances = balances[context.confirmatoryProduct.product.code].nodeProgramProductBatchBalances

                context.screeningProductBatches.forEach(function(screeningProductBatch){
                    var batchBalance = undefined
                    batchBalance = screeningProductBalances.find( function (screeningProductBalance){
                        return screeningProductBatch.id === screeningProductBalance.nodeProgramProductBatch.programProductBatchId
                    })
                    if(batchBalance !== undefined){
                        screeningProductBatch.balance = batchBalance.usableBalance
                    }
                })

                context.screeningProductBatches = context.screeningProductBatches.filter(function (productBatch) {
                    return productBatch.balance !== undefined
                })
                context.currentScreeningProduct = context.screeningProductBatches[0]

                context.confirmatoryProductBatches.forEach(function(confirmatoryProductBatch){
                    var batchBalance = undefined
                    batchBalance = confirmatoryProductBalances.find( function (confrimatoryProductBalance){
                        return confirmatoryProductBatch.id === confrimatoryProductBalance.nodeProgramProductBatch.programProductBatchId
                    })
                    if(batchBalance !== undefined){
                        confirmatoryProductBatch.balance = batchBalance.usableBalance
                    }
                })

                context.confirmatoryProductBatches = context.confirmatoryProductBatches.filter(function (productBatch) {
                    return productBatch.balance !== undefined
                })
                context.currentConfirmatoryProduct = context.confirmatoryProductBatches[0]

                var formattedDate = context.aDayBeforeTxnDateFormatted

                var scrPromise = context.loadLatestPCForProgramProduct(screeningNodeProduct, formattedDate)
                var confPromise = context.loadLatestPCForProgramProduct(confrimatoryNodeProduct, formattedDate)

                var tempPhysicalCountsMap = new Map()

                scrPromise.then(function (response) {
                    tempPhysicalCountsMap.set(screeningNodeProduct.programProduct.product.code, {
                        date : formattedDate,
                        value: response.data
                    })
                    confPromise.then(function (response) {
                        tempPhysicalCountsMap.set(confrimatoryNodeProduct.programProduct.product.code,{
                            date : formattedDate,
                            value: response.data
                        })
                        context.latestPhysicalCountsMap = tempPhysicalCountsMap
                    }).catch(function (error) {
                        console.log(error)
                    })
                }).catch(function (error) {
                    console.log(error)
                })
            },
            latestPhysicalCountsMap: function(value){
                context.checkPrevDayPhysicalCounts()
            }
        },
        methods:{
            refreshForm(){
                if(context.purpose === 'OTHER' || context.purpose === 'QUALITY_CONTROL'){
                    context.disableConfirmatoryResultInput = false
                }else{
                    if(context.screeningResult === 'REACTIVE'){
                        context.disableConfirmatoryResultInput = false
                    }else{
                        context.disableConfirmatoryResultInput = true
                    }
                }
            },
            dateChanged(){
                context.loadClientNumber()
                context.loadProductBalances()
            },
            loadClientNumber(){
                getHttpAuthenticatedWithLoadingFlag().get("/rest-api/hiv/next-client-number/" + context.formatDate(context.txnDate)).then(function(response){
                    context.clientNumber = parseInt(response.data)
                }).catch(function (error) {
                    console.log(error)
                })
            },
            checkPrevDayPhysicalCounts(){
                var message = undefined
                if(context.latestPCForScreeningProduct.value === ""){
                    message = " - " + context.screeningProduct.product.primaryname
                }
                if(context.latestPCForConfirmatoryProduct.value === ""){
                    if(message===undefined)
                    {
                        message = "- " + context.confirmatoryProduct.product.primaryname
                    }else{
                        message += "\n - " + context.confirmatoryProduct.product.primaryname
                    }
                }
                if(message!==undefined){
                    message = "No Physical count done for the below products on " + context.latestPCForScreeningProduct.date
                        + "\n\n" + message + " \n\nWould you like to proceed to physical count?"
                }


                if(message !== undefined){
                    if(confirm(message)){
                        context.$router.push("/physical_count?source=HivTesting&txnDate="+context.aDayBeforeTxnDateISOFormatted)
                    }else{
                        return false
                    }
                }else{
                    return true
                }
            },
            nextTest(event){
                event.preventDefault()
                context.checkIfProductsAreAvailable()
                if(context.checkPrevDayPhysicalCounts()){
                    let clientNumber = context.paddedClientNumber
                    if(context.purpose==='OTHER'||context.purpose==='QUALITY_CONTROL'){
                        clientNumber = ''
                    }else{
                        if(context.clientNumberFromUserInput!==''){
                            clientNumber = context.clientNumberFromUserInput.toString().padStart(4,"0")
                        }
                    }

                    context.$validator.validateAll().then(function(result) {
                        if (result) {
                            if(context.currentScreeningProduct.balance>0 && context.currentConfirmatoryProduct.balance>0){
                                //console.log("screening result" + context.screeningResult)
                                //console.log("confirmatory result" + context.confirmatoryResult)
                                var hivTest = {
                                    purpose: context.purpose,
                                    otherPurposeName: context.purpose === 'OTHER' ? context.otherPurpose : null,
                                    clientNumber: clientNumber,
                                    screeningResult: context.screeningResult === '' ? null : context.screeningResult,
                                    screeningProduct: context.currentScreeningProduct.name,
                                    confirmatoryResult: context.confirmatoryResult === '' ? null : context.confirmatoryResult,
                                    confirmatoryProduct: context.currentConfirmatoryProduct.name,
                                    screeningTxnProgramProductBatch:{
                                        programProductBatchId: context.currentScreeningProduct.id,
                                        quantity: context.screeningResult!=="" ? 1 : 0
                                    },
                                    confirmatoryTxnProgramProductBatch: {
                                        programProductBatchId: context.currentConfirmatoryProduct.id,
                                        quantity: context.confirmatoryResult !== "" ? 1 : 0
                                    }
                                }


                                var hivTestRequest = {
                                    hivTest : hivTest,
                                    userId: context.$store.state.persistedState.user.id,
                                    node: context.$store.state.persistedState.node,
                                    date: (context.txnDate ? context.parseDate(context.txnDate, 'YYYY-MM-DD') : new Date().getTime())
                                }

                                getHttpAuthenticatedWithLoadingFlag().post('/rest-api/hiv/hiv-test', hivTestRequest)
                                    .then(function(response){
                                        context.toNextTest(hivTest)
                                        context.loadProductBalances()
                                    })
                                    .catch(function(error){
                                        context.alertError('Failed to do test!')
                                    })

                            }else{
                                context.alertError('Awwch! Trying to test with a zero balance!')
                            }
                        }
                    })
                }
            },
            getTestKitsAvailability(){
                getHttpAuthenticated().get("/hiv-test-product-availability?nodeId="+
                    context.$store.state.persistedState.node.id).then(function(response) {
                    context.screeningProduct = response.data.screeningProductAvailability
                    context.confirmatoryProduct = response.data.confirmatoryProductAvailability


                    context.checkIfProductsAreAvailable()

                    context.screeningProductName = context.screeningProduct.product.primaryname
                    context.confirmatoryProductName = context.confirmatoryProduct.product.primaryname
                    context.getProductBatchByProductCode(context.setScreeningProductBatches, context.screeningProduct.product.code)
                    context.getProductBatchByProductCode(context.setConfirmatoryProductBatches, context.confirmatoryProduct.product.code)
                    context.loadProductBalances()
                }).catch(function(err){
                    console.log(err)
                });
            },
            setScreeningProductBatches(screeningProductBatches){
                context.screeningProductBatches = screeningProductBatches
            },
            setConfirmatoryProductBatches(confirmatoryProductBatches){
                context.confirmatoryProductBatches = confirmatoryProductBatches
            },
            getProductBatchByProductCode(callback, productCode){
                getHttpAuthenticatedWithCallBack(callback,productCode).get("/rest-api/batch/" + productCode).catch(function(e) {
                    console.log(e)
                })
            },
            loadProductBalances(){
                context.loadNodeProductDateBalances( context.formatDate(context.txnDate), context.$store.state.persistedState.node.id, context.hivProgram.id)
            },
            toNextTest(hivTest){
                context.$validator.reset()
                context.results.push(hivTest)
                context.loadClientNumber()
                context.clientNumberFromUserInput = ''
                context.purpose = ''
                context.otherPurpose = ''
                context.screeningResult = ''
                context.confirmatoryResult = ''
            },
            showChangeTestKitsModal(){
                context.showChangeTestKits = true
            },
            hideChangeTestKitsModal(){
                context.showChangeTestKits = false
            },
            onChangeTestKits(changeTestKitRequest){
                getHttpAuthenticatedWithLoadingFlag().post("/rest-api/hiv/test-kits/change",  changeTestKitRequest)
                    .then(function (response) {
                        context.showChangeTestKits = false
                        context.alertMessage = 'Saved Test Kit Configuration Successfully'
                        context.showSuccessAlert = true
                        context.getTestKitsAvailability()
                        context.loadProductBalances()
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            },
            loadLatestPCForProgramProduct(nodeProduct, date){
                var nodeId = context.$store.state.persistedState.node.id
                return getHttpAuthenticatedWithLoadingFlag()
                    .get("/rest-api/node/product/latest-physical-count/" + nodeId + "/" + nodeProduct.programProductId + "/" + date + "/" + date )

            },
            loadPrograms(){
                getHttpAuthenticated().get("/programs").then(function (response) {
                    context.programs = response.data
                }).catch(function (error) {
                    console.log(error)
                })
            },
            checkIfProductsAreAvailable(){
                var message = undefined
                if(!context.screeningProduct.available){
                    message = context.screeningProduct.product.primaryname + " is not available in Node!"
                }
                if(!context.confirmatoryProduct.available){
                    if(message!==undefined){
                        message += ", " +context.confirmatoryProduct.product.primaryname + " is not available in Node!"
                    }else{
                        message = context.confirmatoryProduct.product.primaryname + " is not available in Node!"
                    }

                }
                if(message!==undefined){
                    context.alertError(message)
                }
            },
            setClientNumberFromUserInput(event){
                event.preventDefault()
                context.clientNumberFromUserInput = event.target.value
            }
        }
    }
</script>
