<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-pencil text-primary"></span> Issue Products
                            </li>
                        </ol>
                    </div>
                </div>
                <alert :showSuccessAlert="showSuccess" :showErrorAlert="showError" :title="alertTitle" :message="alertMessage" :closeHandler="closeAlert"></alert>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <form>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Select Date</label>
                                                <br>
                                                <datepicker v-model="txnDate" :format="dateFormat" @input="loadProductBalances()"></datepicker>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="programs">Select Program</label>
                                                <select v-validate="'required'" name="programs" v-model="currentProgram" id="programs" class="form-control" @change="getNodesByProgramId()">
                                                    <option v-for="program in myPrograms" v-bind:key="program.id" :value="program">{{program.name}}</option>
                                                </select>
                                                <span v-show="errors.has('programs')" class="help is-danger">{{ errors.first('programs') }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="node">Select Receiving Node</label>
                                                <select v-validate="'required'" name="node" v-model="recipientNode" id="node" class="form-control">
                                                    <option v-for="node in recipientNodes" v-bind:key="node.id" :value="node.id">{{node.name}}</option>
                                                </select>
                                                <span v-show="errors.has('node')" class="help is-danger">{{ errors.first('node') }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="cmbUsers">Select Person Receiving</label>
                                                <select name="cmbUsers" id="cmbUsers" class="form-control">
                                                    <option value=""></option>
                                                    <option v-for="user in users" v-bind:key="user.id" :value="user.id">{{user.firstname + " " + user.lastname}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <!-- start of product table -->
                        <products-table :loadNodeProductsOnly="true" :selectionHandler="productSelected" :programArea="currentProgram.code"></products-table>
                        <!-- end of product table -->
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <transaction-product-batch :txnProducts="transactionProducts"
                                                   :selectedProduct="selectedProduct" :transactionHandler="saveIssue"
                                                   :showProductBalances="true"
                                                   :primaryButtonCaption="'Issue'"
                                                   :transactionType="'ISSUING'" :alertErrorHandler="alertError" :alertInfoHandler="alertInfo"></transaction-product-batch>
                    </div>
                </div>
                <a href="" id="ivdl" download="IssueVoucher.pdf" style="display: none"></a>
            </div>

        </div>
    </div>
</template>
<script>
    import {getHttpAuthenticated, getHttpAuthenticatedWithLoadingFlag, getHttpAuthenticatedFileDownloader} from '../../assets/js/http_with_token'
    import NodeProductDateBalanceMixin from '../../mixins/NodeProductDateBalance'
    import ProgramsMixin from '../../mixins/Programs'
    import AlertMixin from '../../mixins/AlertMixin'
    var context = {}

    export default {
        data(){
            return {
                currentProgram: '',
                recipientNode: '',
                txnDate: this.today(),
                dateFormat: 'yyyy-MM-dd',
                allNodes : [],
                programs: [],
                nodePrograms: [],
                sortProgramsBy: 'code',
                users: [],
                issueProductsRequest:
                {
                    store: this.$store.state.persistedState.node,
                    dispensingPoint: {},
                    productsIssued: [],
                    userId: this.$store.state.persistedState.user.id,
                },
                baseProductList: [],
                filteredList: [],
                selectedProduct:{},
                productBalances: [],
                transactionProducts: [],
                txnId: undefined
            }
        },
        beforeMount(){
            context = this
            context.loadAllNodes()
            context.loadNodePrograms()
            context.loadPrograms()
            context.loadUsers()
        },
        components:{
        },
        mixins:[
            NodeProductDateBalanceMixin, ProgramsMixin, AlertMixin
        ],
        computed:{
            recipientNodes(){
                var myNodeId = this.$store.state.persistedState.node.id
                if(context.currentProgram.id === undefined){
                    return []
                }
                return context.allNodes.filter(function(node){
                    return !node.isVirtual && !node.isExternal && node.id !== myNodeId
                })
            },
            issueVourcherPDFLink(){
                return "/report/download/issue_voucher/PDF?txnId=" + context.txnId
            }
        },
        methods:{
            loadProductBalances(){
                context.loadNodeProductDateBalances( context.formatDate(context.txnDate),
                    context.$store.state.persistedState.node.id, context.currentProgram.id)
                context.selectedProduct = {}
            },
            loadAllNodes: function(){
                getHttpAuthenticated().get('/get-all-nodes').then(function(response){
                    context.allNodes = response.data
                }).catch(function(error){
                    console.log(error)
                })
            },
            loadUsers: function(){
                getHttpAuthenticated().get("/users/users").then(function(response) {
                    context.users = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            getNodesByProgramId: function(){
                context.loadProductBalances()
                getHttpAuthenticatedWithLoadingFlag().get("/get-nodes-by-program/"+context.currentProgram.id).then(function(response) {
                    context.allNodes = response.data
                }).catch(function(e) {
                    context.http_errors.push(e)
                })
            },
            productSelected: function(selectedProduct){
                selectedProduct.balances = context.productBalances[selectedProduct.productCode]
                context.selectedProduct = selectedProduct
            },
            saveIssue:function(transactionProducts){
                context.$validator.validateAll().then(function(result){
                    //console.log('validation result ' + result)
                    if(result){
                        context.issueProductsRequest.txnDate = (context.txnDate ? context.parseDate(context.txnDate, 'YYYY-MM-DD') : new Date().getTime())
                        context.issueProductsRequest.dispensingPoint = {
                            id: context.recipientNode
                        }
                        context.issueProductsRequest.productsIssued = transactionProducts
                        if(context.issueProductsRequest.productsIssued.length == 0){
                            context.alertError('No products selected for issuing!')
                        }else{
                            getHttpAuthenticatedWithLoadingFlag().post("/rest-api/node/products/issue",
                                context.issueProductsRequest).then(function(response) {
                                context.txnId = response.data
                                context.alertInfo('Products issued successfully!')
                                context.transactionProducts = []
                                context.loadProductBalances()
                                context.selectedProduct = {}
                                if(context.txnId  !== undefined){
                                    var url = window.location.origin + context.issueVourcherPDFLink
                                    getHttpAuthenticatedFileDownloader(url).then(function (response) {
                                        const url = window.URL.createObjectURL(new Blob([response.data]));
                                        const link = document.getElementById('ivdl');
                                        link.href = url;
                                        link.click();
                                    })
                                }
                            }).catch(function(e) {
                                console.error(e)
                                context.alertError('Sorry an error has occurred!')
                            })
                        }
                    }
                })
            }

        }
    }
</script>
