<template>
    <div id="wrapper">
        <navigation></navigation>
        <div class="page-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <ol class="breadcrumb">
                            <li>
                                <span class="glyphicon glyphicon-dashboard"></span>  <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class="active">
                                <span class="glyphicon glyphicon-random"></span> Transaction reversal
                            </li>
                        </ol>
                    </div>
                </div>

                <h4><span class="glyphicon glyphicon-random"></span> Transaction Reversal</h4>
                <hr>
                <div class="well well-sm">
                    <div class="row">
                        <form>
                            <div class="container">
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Date From</label><br>
                                        <datepicker format="yyyy-MM-dd" v-validate="'required'" name="fromTxnDate" v-model="searchFilter.fromTxnDate"
                                                    :placeholder="'yyyy-MM-dd'" ></datepicker>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Date To</label><br>
                                        <datepicker  format="yyyy-MM-dd" name="toTxnDate" v-validate="'required'" v-model="searchFilter.toTxnDate" :placeholder="'yyyy-MM-dd'" ></datepicker>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Select Program</label>
                                        <select v-validate="'required'" name="programCode" v-model="searchFilter.programCode" class="form-control">
                                            <option v-for="program in myPrograms" :key="program.id" :value="program.code">{{program.name}}</option>
                                        </select>
                                        <span v-show="errors.has('program')" class="help is-danger">{{ errors.first('program') }}</span>
                                    </div>
                                </div>
                              <div class="col-sm-2 col-md-2">
                                    <div class="form-group">
                                        <label>Product Search</label>
                                        <input type="text"  name="product" v-model="searchFilter.product" class="form-control">
                                    </div>
                                </div>


                                <div class="col-sm-1 col-md-1">
                                    <div class="form-group"><br>
                                        <button class="btn btn-primary" @click="search($event);"><span class="glyphicon glyphicon-search"></span>Search</button>
                                    </div>
                                </div>

                                <div class="col-sm-1 col-md-1">
                                    <div class="form-group"><br>
                                        <button class="btn btn-default" @click="clearSearchForm($event);">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">Search Result</div>
                    <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <span v-if="searchResult === undefined">Please provide your search criteria and click search. </span>
                        <span v-else-if="searchResult.length == 0">  No record found with the selected parameters</span>

                        <template  v-else>
                         <span>  Showing {{searchResult.length}} records</span>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Date</th>
                                <th>Transaction Type</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                             <tbody >
                             <template v-for="(transaction, index) in filteredTransactionList"> <!-- outer transaction row -->
                                <tr @click="showDetail($event, transaction)" v-bind:class="{ 'selected': transaction.showDetail }">
                                    <td> {{index+1}}</td>
                                    <td>{{transaction.dateString}}</td>
                                    <td>{{transaction.transactionDetails.transactionType.name}}</td>
                                    <td>{{transaction.description}}</td>
                                    <td><a href="" @click="showDetail($event, transaction)">Detail</a></td>
                                </tr>
                                <tr v-if="transaction.showDetail">   <!-- transaction detail aka products -->
                                    <td colspan="5">
                                        <div class="panel panel-info" >
                                            <div class="panel-body">
                                                <table class="table sub-table">
                                                    <thead>
                                                    <tr>
                                                        <template v-if="transaction.transactionDetails.recipient">
                                                            <th class="col-xs-4">Transaction Type  :- <span class="badge">{{transaction.transactionDetails.transactionType.name}}</span></th>
                                                            <th class="col-xs-4" v-if="transaction.transactionDetails.recipient">From : <span class="badge">{{transaction.transactionDetails.recipient.name}}</span></th>
                                                            <th class="col-xs-4" v-if="transaction.transactionDetails.supplier" colspan="2">To : <span class="badge">{{transaction.transactionDetails.supplier.name}}</span></th>
                                                        </template>
                                                        <template v-else-if="transaction.transactionDetails.productSource">
                                                            <th class="col-xs-4">Transaction Type  :- <span class="badge">{{transaction.transactionDetails.transactionType.name}}</span></th>
                                                            <th colspan="3">From: <span class="badge">{{transaction.transactionDetails.productSource.sourcename}}</span></th>
                                                        </template>
                                                        <template v-else>
                                                            <th colspan="4">Transaction Type  :- {{transaction.transactionDetails.transactionType.name}}</th>
                                                        </template>
                                                    </tr>
                                                    <tr>  <!-- transaction detail header -->
                                                        <th>#</th>
                                                        <th>Product Code</th>
                                                        <th>Product Name</th>
                                                        <th>Transaction Quantity</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody><!-- transaction products -->
                                                        <template v-for="(txn, txnIndex) in transaction.transactions">
                                                            <template v-for="(tnxProduct, index) in txn.txnProducts">
                                                                <tr>
                                                                    <td :rowspan="tnxProduct.showBatch ? tnxProduct.batchQuantities.length+1 : 1">{{index+1}}</td>
                                                                    <td  :rowspan="tnxProduct.showBatch ? tnxProduct.batchQuantities.length+1 : 1" >{{tnxProduct.product.code}}</td>
                                                                    <td style="height:41px;">{{tnxProduct.product.fullname || '-'}}</td>
                                                                    <td>{{tnxProduct.quantity}}
                                                                        <div class="pull-right" v-if="tnxProduct.batchQuantities.length > 0">
                                                                            <a  @click="toggleProductBatchList(tnxProduct, $event)" v-if="!tnxProduct.showBatch">
                                                                                <span class="glyphicon glyphicon-plus"></span> Show Batch</a>
                                                                            <a  @click="toggleProductBatchList(tnxProduct, $event)"  v-if="tnxProduct.showBatch">
                                                                                <span class="glyphicon glyphicon-minus"></span> Hide Batch</a>
                                                                        </div>
                                                                    </td>
                                                                </tr>

                                                                <tr v-for="batch in tnxProduct.batchQuantities" class="batch" v-if="tnxProduct.showBatch"> <!-- transaction product batch -->
                                                                    <td>{{batch.productBatch.name}}</td>
                                                                    <td>{{batch.quantity}}</td>
                                                                </tr>

                                                            </template>
                                                        </template>

                                                    </tbody>
                                                    <tfoot class="well center" >
                                                    <tr>
                                                        <td colspan="4">
                                                            <template  v-if="transaction.reversalResult">
                                                                <span class="pull-right">
                                                                    <button class="btn btn-default" @click="search($event);"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                                                </span>
                                                                <span class="pull-right" style="color: #4fc58d;font-weight: bold;">
                                                                        <h5>Transaction Reversed Successfully. <span class="glyphicon glyphicon-ok"></span></h5>
                                                                </span>
                                                            </template>
                                                            <template  v-else-if="transaction.reversalErrorResult">
                                                                <button class="btn btn-primary btn-sm pull-right" @click="confirmReversal(transaction)">
                                                                    <span class="glyphicon glyphicon-random"></span> Reverse Transaction
                                                                    <span class="badge">{{transaction.transactionDetails.transaction.txnProducts.length}}</span>
                                                                </button>
                                                                <span class="pull-right" style="color: red;font-weight: bold;">
                                                                        <h5><span class="glyphicon glyphicon-warning-sign"></span> Sorry unable to reverse transaction. </h5>
                                                                </span>
                                                            </template>
                                                            <template v-else-if="!transaction.confirmReversal" >
                                                                <span class="pull-right">
                                                                    <button class="btn btn-primary btn-sm" @click="confirmReversal(transaction)">
                                                                        <span class="glyphicon glyphicon-random"></span> Reverse Transaction
                                                                        <span class="badge">{{transaction.transactionDetails.transaction.txnProducts.length}}</span>
                                                                    </button>
                                                                    <button class="btn btn-default" @click="hideTransactionDetail(transaction, $event)"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                                                                </span>
                                                            </template>
                                                            <template v-else-if="transaction.confirmReversal">
                                                                    <span class="pull-right">
                                                                        <button class="btn btn-success" @click="reverse(transaction);">
                                                                        <span class="glyphicon glyphicon-thumbs-up"></span> Confirm Reversal
                                                                    </button>
                                                                    <button class="btn btn-default" @click="confirmReversal(transaction);">
                                                                        <span class="glyphicon glyphicon-remove"></span> Cancel
                                                                    </button>
                                                                </span>
                                                            </template>

                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                             </template>
                        </tbody>
                        </table>
                    </template>
                    </div>
                </div>
                </div>
                </div>


            </div>
        </div>



    </div>


</template>
<script>
    import Paginate from 'vuejs-paginate'
    import {getHttpAuthenticated} from '../../assets/js/http_with_token'
    import {getHttpAuthenticatedWithLoadingFlag} from '../../assets/js/http_with_token'
    import Programs from '../../mixins/Programs'
    import AlertMixin from '../../mixins/AlertMixin'
    import {_} from 'vue-underscore';

    var context = {}
    export default ({
        data() {
            return {
                searchFilter : {
                    toTxnDate : '',
                    fromTxnDate: '',
                    product : '',
                    numberOfRecords : 50,
                    startingRecordNo : 0
                },
                programs: [],
                nodePrograms: [],
                sortProgramsBy: 'code',
                searchResult : undefined,
                reversalResult : undefined,
                reversalErrorResult : undefined
            }
        },
        mixins:[

            Programs,
            AlertMixin
        ],
        beforeMount () {
            context = this
            context.loadNodePrograms()
            context.loadPrograms()
        },
        components: {
            'paginate': Paginate
        },
        computed : {
            filteredTransactionList : function(){
                if(context.searchResult == undefined) return undefined

                return context.searchResult.filter(function(item){
                            return item.transactionDetails.transaction.txnProducts.filter(function(product){
                                return (
                                    (product.product.code.toLowerCase().indexOf(context.searchFilter.product.toLowerCase()) > -1) ||
                                    (   !(product.product.fullname == undefined) &&
                                        product.product.fullname.toLowerCase().indexOf(context.searchFilter.product.toLowerCase()) > -1
                                    )
                                )
                            }).length > 0
                     })
            }
        },
        methods: {

            search : function(event){
                if(event !== undefined)
                    event.preventDefault()

                context.searchFilter.nodeId = this.$store.state.persistedState.node.id;

                getHttpAuthenticatedWithLoadingFlag().post('/rest-api/reversible-transactions', context.searchFilter).then(function(response){
                    context.searchResult = _.map(response.data, function(item){
                        item.showDetail = false;
                        item.reversalResult = false;
                        item.reversalErrorResult =false;
                        item.confirmReversal = false;
                        return item; });

                }).catch(function(error){
                    console.log(error)
                })
            },

            showDetail : function(event, transaction){
                event.preventDefault();
                context.hideAllTransactionDetail();
                context.showSelectedTransactionDetail(transaction);
            },

            hideAllTransactionDetail : function(){
                _.each(context.searchResult, function(item){ item.showDetail = false; });
            },

            showSelectedTransactionDetail : function (transaction) {
                transaction.showDetail = true;
            },

            hideTransactionDetail : function(transaction, event) {
                event.preventDefault();
                transaction.showDetail = false;
            },

            reverse : function(transaction) {

                transaction.reversalResult = !transaction.reversalResult;

                let txnIds = []

                _.each(transaction.transactions, function (actualTransaction) {
                    txnIds.push(actualTransaction.id)
                })

                getHttpAuthenticatedWithLoadingFlag().post('/rest-api/reverse/transactions/' + context.$store.state.persistedState.user.id, txnIds).then(function(reversalResponse){
                    transaction.reversalResult = true;
                    context.search();
                }).catch(function(error){
                    console.log(error)
                    transaction.reversalResult = false;
                    transaction.reversalErrorResult = true;
                })

            },

            clearSearchForm : function(event) {
                event.preventDefault();
                context.searchFilter = {
                        toTxnDate : '',
                        product : '',
                        fromTxnDate: '',
                        numberOfRecords : 50,
                        startingRecordNo : 0
                }
            },

            confirmReversal : function(transaction) {
                transaction.confirmReversal = !transaction.confirmReversal;
                transaction.reversalErrorResult = undefined;
            },

            toggleProductBatchList : function(tnxProduct, event) {
                event.preventDefault();
                context.$set(tnxProduct, 'showBatch', !tnxProduct.showBatch) // add 'showBatch' property by making it reactive
            }

        }
    })
</script>

<style>
    .sub-table{
        background-color: #dceeff  !important    ;

    }
    .sub-table  td, .sub-table th{
        border : 1px solid #b3e1ff !important
    }
    .sub-table th{
        background-color: aliceblue !important;
    }
    .table-hover tr:hover{
        cursor: pointer;
    }

    .sub-table tr.batch td{
        background-color: #c4e2ff;
        border-bottom: 1px solid #94caff !important;
        border-right: 1px solid #94caff !important;
    }

    .table tr.selected{
        font-weight: bold;
        font-size: 13px;
    }

</style>
